.Input {
  width: 100%;
  margin: $mg--xs 0;
  padding: $pd--xs - rem(1px) $pd--s;
  line-height: $base-lh;
  vertical-align: middle;
  color: $gray-chateau;
  background: $white;
  border: 1px solid $gray-chateau;
  border-radius: $base-radius;
  box-sizing: border-box;

  &:focus {
    color: $limed-spruce;
    outline: none;
  }
}

.has-placeholder {
  display: none;
}
