.Input {
  display: inline-block;
  width: 100%;
  padding: rb(2) $pd--s;
  font-size: $fz--m;
  line-height: $base-lh;
  vertical-align: middle;
  color: $form-text-color;
  background: $white;
  border: 1px solid $base-border-color;
  border-radius: $base-radius;
  appearance: none;

  &:focus {
    color: $limed-spruce;
    border-color: $gray-chateau;
    outline: none;
  }

  &[disabled] {
    color: $gray-chateau;
    background: $alabaster;
  }

  + .Input,
  + .Btn {
    margin-left: $mg--m;
  }
}

.Input--inline {
  width: auto;

  + .Label {
    margin-right: $mg--s;
    margin-bottom: 0;
  }

  + .Label--inline {
    margin-left: $mg--xs;
  }
}
