%Input-core {
  display: inline-block;
  width: 100%;
  padding: rb(2) $pd--s;
  font-size: $fz--m;
  line-height: $base-lh;
  vertical-align: middle;
  color: $form-text-color;
  background: $white;
  border: 1px solid $base-border-color;
  border-radius: $base-radius;
}
