.InputWrapper {
  display: flex;
}

.Input-addOn {
  flex: 0 1 auto;
  padding: $pd--s $base-pd;
  line-height: $base-lh;
  border: 1px solid $gray-chateau;
  border-radius: $base-radius;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Input-addOn + .Input {
  flex: 1 1 auto;
  border-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.Input--appended {
  flex: 1 1 auto;
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Input + .Input-addOn {
  border-radius: 0 $base-radius $base-radius 0;
}
