$input-valid-class: ".is-valid";
$input-valid-bg-path : "/src/svg/backgrounds/inputBg--valid.svg";

$input-invalid-class: ".is-invalid";
$input-invalid-bg-path : "/src/svg/backgrounds/inputBg--invalid.svg";
