$input-valid-class: ".is-valid" !default;
$input-valid-bg-path : "/src/svg/backgrounds/inputBg--valid.svg" !default;

$input-invalid-class: ".is-invalid" !default;
$input-invalid-bg-path : "/src/svg/backgrounds/inputBg--invalid.svg" !default;
