// px()
// Convert a rem unit into a px one
// Based on $base-fz
$px-only: true;

@function px($values) {
  $list: ();

  @each $value in $values {

    $unit : unit($value);
    $val  : parseInt($value);

    @if ($px-only) and ($unit == "rem") {
      $list: append($list, floor(($val * $base-fz)));
    }

    @else if ($unit == "px") or ($unit == "rem") {
      $list: append($list, $value);
    }

    @else {
      @warn "There is no unit conversion for #{$unit}";
    }
  }

  @return $list();
}
