%u-posr {
  position: relative;
}

%u-posf {
  position: fixed;
}

%u-ptl {
  top: $mg--s;
  right: auto;
  left: $mg--s;
}

%u-ptc {
  top: $mg--s;
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}

%u-ptr {
  top: $mg--s;
  right: $mg--s;
  left: auto;
}

%u-prc {
  top: 50%;
  right: $mg--s;
  left: auto;
  transform: translateY(-50%);
}

%u-pbr {
  right: $mg--s;
  bottom: $mg--s;
  left: auto;
}

%u-pbc {
  top: auto;
  right: auto;
  bottom: $mg--s;
  left: 50%;
  transform: translateX(-50%);
}

%u-pbl {
  right: auto;
  bottom: $mg--s;
  left: $mg--s;
}

%u-plc {
  top: 50%;
  right: auto;
  left: $mg--s;
  transform: translateY(-50%);
}
