@font-face {
  font-family: "icons";
  src: url("#{$f-path}/icons.woff2") format("woff2"),
       url("#{$f-path}/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

%Icon {
  display: inline-block;
  font-family: "icons";
  font-size: $fz--m;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none;
  text-decoration: inherit;
  vertical-align: middle;
  color: inherit;
  speak: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.Icon {
  @extend %Icon;
}

.Icon--s {
  font-size: $fz--s;
}

.Icon--l {
  font-size: $fz--l;
}

.Icon--xl {
  font-size: $fz--xl;
}


%Icon--actionItem {
  content: "\ea01";
}

.Icon--actionItem:before {
  @extend %Icon--actionItem;
}

%Icon--add {
  content: "\ea02";
}

.Icon--add:before {
  @extend %Icon--add;
}

%Icon--addUser {
  content: "\ea03";
}

.Icon--addUser:before {
  @extend %Icon--addUser;
}

%Icon--admin {
  content: "\ea04";
}

.Icon--admin:before {
  @extend %Icon--admin;
}

%Icon--alarmClock {
  content: "\ea05";
}

.Icon--alarmClock:before {
  @extend %Icon--alarmClock;
}

%Icon--alert {
  content: "\ea06";
}

.Icon--alert:before {
  @extend %Icon--alert;
}

%Icon--archive {
  content: "\ea07";
}

.Icon--archive:before {
  @extend %Icon--archive;
}

%Icon--arrowBack {
  content: "\ea08";
}

.Icon--arrowBack:before {
  @extend %Icon--arrowBack;
}

%Icon--arrowDown {
  content: "\ea09";
}

.Icon--arrowDown:before {
  @extend %Icon--arrowDown;
}

%Icon--arrowFirst {
  content: "\ea0a";
}

.Icon--arrowFirst:before {
  @extend %Icon--arrowFirst;
}

%Icon--arrowLast {
  content: "\ea0b";
}

.Icon--arrowLast:before {
  @extend %Icon--arrowLast;
}

%Icon--arrowNext {
  content: "\ea0c";
}

.Icon--arrowNext:before {
  @extend %Icon--arrowNext;
}

%Icon--arrowUp {
  content: "\ea0d";
}

.Icon--arrowUp:before {
  @extend %Icon--arrowUp;
}

%Icon--assignee {
  content: "\ea0e";
}

.Icon--assignee:before {
  @extend %Icon--assignee;
}

%Icon--azure {
  content: "\ea0f";
}

.Icon--azure:before {
  @extend %Icon--azure;
}

%Icon--badge {
  content: "\ea10";
}

.Icon--badge:before {
  @extend %Icon--badge;
}

%Icon--bar {
  content: "\ea11";
}

.Icon--bar:before {
  @extend %Icon--bar;
}

%Icon--bell {
  content: "\ea12";
}

.Icon--bell:before {
  @extend %Icon--bell;
}

%Icon--board {
  content: "\ea13";
}

.Icon--board:before {
  @extend %Icon--board;
}

%Icon--brush {
  content: "\ea14";
}

.Icon--brush:before {
  @extend %Icon--brush;
}

%Icon--bulletDay {
  content: "\ea15";
}

.Icon--bulletDay:before {
  @extend %Icon--bulletDay;
}

%Icon--bulletItem--dashed {
  content: "\ea16";
}

.Icon--bulletItem--dashed:before {
  @extend %Icon--bulletItem--dashed;
}

%Icon--bulletItem {
  content: "\ea17";
}

.Icon--bulletItem:before {
  @extend %Icon--bulletItem;
}

%Icon--calendar {
  content: "\ea18";
}

.Icon--calendar:before {
  @extend %Icon--calendar;
}

%Icon--checked {
  content: "\ea19";
}

.Icon--checked:before {
  @extend %Icon--checked;
}

%Icon--checkmark {
  content: "\ea1a";
}

.Icon--checkmark:before {
  @extend %Icon--checkmark;
}

%Icon--clip {
  content: "\ea1b";
}

.Icon--clip:before {
  @extend %Icon--clip;
}

%Icon--clock {
  content: "\ea1c";
}

.Icon--clock:before {
  @extend %Icon--clock;
}

%Icon--cog {
  content: "\ea1d";
}

.Icon--cog:before {
  @extend %Icon--cog;
}

%Icon--cross {
  content: "\ea1e";
}

.Icon--cross:before {
  @extend %Icon--cross;
}

%Icon--decision--dashed {
  content: "\ea1f";
}

.Icon--decision--dashed:before {
  @extend %Icon--decision--dashed;
}

%Icon--decision {
  content: "\ea20";
}

.Icon--decision:before {
  @extend %Icon--decision;
}

%Icon--diagram {
  content: "\ea21";
}

.Icon--diagram:before {
  @extend %Icon--diagram;
}

%Icon--document {
  content: "\ea22";
}

.Icon--document:before {
  @extend %Icon--document;
}

%Icon--download {
  content: "\ea23";
}

.Icon--download:before {
  @extend %Icon--download;
}

%Icon--dragHorizontal {
  content: "\ea24";
}

.Icon--dragHorizontal:before {
  @extend %Icon--dragHorizontal;
}

%Icon--dragVertical {
  content: "\ea25";
}

.Icon--dragVertical:before {
  @extend %Icon--dragVertical;
}

%Icon--dropdown {
  content: "\ea26";
}

.Icon--dropdown:before {
  @extend %Icon--dropdown;
}

%Icon--dueDate {
  content: "\ea27";
}

.Icon--dueDate:before {
  @extend %Icon--dueDate;
}

%Icon--dumbell {
  content: "\ea28";
}

.Icon--dumbell:before {
  @extend %Icon--dumbell;
}

%Icon--duplicate {
  content: "\ea29";
}

.Icon--duplicate:before {
  @extend %Icon--duplicate;
}

%Icon--evernote {
  content: "\ea2a";
}

.Icon--evernote:before {
  @extend %Icon--evernote;
}

%Icon--externalLink {
  content: "\ea2b";
}

.Icon--externalLink:before {
  @extend %Icon--externalLink;
}

%Icon--eye {
  content: "\ea2c";
}

.Icon--eye:before {
  @extend %Icon--eye;
}

%Icon--facebook {
  content: "\ea2d";
}

.Icon--facebook:before {
  @extend %Icon--facebook;
}

%Icon--filters {
  content: "\ea2e";
}

.Icon--filters:before {
  @extend %Icon--filters;
}

%Icon--form {
  content: "\ea2f";
}

.Icon--form:before {
  @extend %Icon--form;
}

%Icon--fullscreen {
  content: "\ea30";
}

.Icon--fullscreen:before {
  @extend %Icon--fullscreen;
}

%Icon--glass {
  content: "\ea31";
}

.Icon--glass:before {
  @extend %Icon--glass;
}

%Icon--google {
  content: "\ea32";
}

.Icon--google:before {
  @extend %Icon--google;
}

%Icon--grid {
  content: "\ea33";
}

.Icon--grid:before {
  @extend %Icon--grid;
}

%Icon--group {
  content: "\ea34";
}

.Icon--group:before {
  @extend %Icon--group;
}

%Icon--help {
  content: "\ea35";
}

.Icon--help:before {
  @extend %Icon--help;
}

%Icon--home {
  content: "\ea36";
}

.Icon--home:before {
  @extend %Icon--home;
}

%Icon--label {
  content: "\ea37";
}

.Icon--label:before {
  @extend %Icon--label;
}

%Icon--like {
  content: "\ea38";
}

.Icon--like:before {
  @extend %Icon--like;
}

%Icon--linkedin {
  content: "\ea39";
}

.Icon--linkedin:before {
  @extend %Icon--linkedin;
}

%Icon--listCollapse {
  content: "\ea3a";
}

.Icon--listCollapse:before {
  @extend %Icon--listCollapse;
}

%Icon--listExpand {
  content: "\ea3b";
}

.Icon--listExpand:before {
  @extend %Icon--listExpand;
}

%Icon--live {
  content: "\ea3c";
}

.Icon--live:before {
  @extend %Icon--live;
}

%Icon--lock {
  content: "\ea3d";
}

.Icon--lock:before {
  @extend %Icon--lock;
}

%Icon--mail {
  content: "\ea3e";
}

.Icon--mail:before {
  @extend %Icon--mail;
}

%Icon--meetingList {
  content: "\ea3f";
}

.Icon--meetingList:before {
  @extend %Icon--meetingList;
}

%Icon--menu {
  content: "\ea40";
}

.Icon--menu:before {
  @extend %Icon--menu;
}

%Icon--message {
  content: "\ea41";
}

.Icon--message:before {
  @extend %Icon--message;
}

%Icon--minus {
  content: "\ea42";
}

.Icon--minus:before {
  @extend %Icon--minus;
}

%Icon--more {
  content: "\ea43";
}

.Icon--more:before {
  @extend %Icon--more;
}

%Icon--multipleChoice {
  content: "\ea44";
}

.Icon--multipleChoice:before {
  @extend %Icon--multipleChoice;
}

%Icon--openIssue--dashed {
  content: "\ea45";
}

.Icon--openIssue--dashed:before {
  @extend %Icon--openIssue--dashed;
}

%Icon--openIssue {
  content: "\ea46";
}

.Icon--openIssue:before {
  @extend %Icon--openIssue;
}

%Icon--openQuestion {
  content: "\ea47";
}

.Icon--openQuestion:before {
  @extend %Icon--openQuestion;
}

%Icon--paragraph {
  content: "\ea48";
}

.Icon--paragraph:before {
  @extend %Icon--paragraph;
}

%Icon--participant {
  content: "\ea49";
}

.Icon--participant:before {
  @extend %Icon--participant;
}

%Icon--pause {
  content: "\ea4a";
}

.Icon--pause:before {
  @extend %Icon--pause;
}

%Icon--pellet {
  content: "\ea4b";
}

.Icon--pellet:before {
  @extend %Icon--pellet;
}

%Icon--pelletCheck {
  content: "\ea4c";
}

.Icon--pelletCheck:before {
  @extend %Icon--pelletCheck;
}

%Icon--pelletClose {
  content: "\ea4d";
}

.Icon--pelletClose:before {
  @extend %Icon--pelletClose;
}

%Icon--pelletMinus {
  content: "\ea4e";
}

.Icon--pelletMinus:before {
  @extend %Icon--pelletMinus;
}

%Icon--pencil {
  content: "\ea4f";
}

.Icon--pencil:before {
  @extend %Icon--pencil;
}

%Icon--phone {
  content: "\ea50";
}

.Icon--phone:before {
  @extend %Icon--phone;
}

%Icon--picture {
  content: "\ea51";
}

.Icon--picture:before {
  @extend %Icon--picture;
}

%Icon--play {
  content: "\ea52";
}

.Icon--play:before {
  @extend %Icon--play;
}

%Icon--plus {
  content: "\ea53";
}

.Icon--plus:before {
  @extend %Icon--plus;
}

%Icon--popup {
  content: "\ea54";
}

.Icon--popup:before {
  @extend %Icon--popup;
}

%Icon--public {
  content: "\ea55";
}

.Icon--public:before {
  @extend %Icon--public;
}

%Icon--recurring {
  content: "\ea56";
}

.Icon--recurring:before {
  @extend %Icon--recurring;
}

%Icon--refresh {
  content: "\ea57";
}

.Icon--refresh:before {
  @extend %Icon--refresh;
}

%Icon--reply {
  content: "\ea58";
}

.Icon--reply:before {
  @extend %Icon--reply;
}

%Icon--reset {
  content: "\ea59";
}

.Icon--reset:before {
  @extend %Icon--reset;
}

%Icon--results {
  content: "\ea5a";
}

.Icon--results:before {
  @extend %Icon--results;
}

%Icon--singleChoice {
  content: "\ea5b";
}

.Icon--singleChoice:before {
  @extend %Icon--singleChoice;
}

%Icon--slack {
  content: "\ea5c";
}

.Icon--slack:before {
  @extend %Icon--slack;
}

%Icon--solid {
  content: "\ea5d";
}

.Icon--solid:before {
  @extend %Icon--solid;
}

%Icon--solidFull {
  content: "\ea5e";
}

.Icon--solidFull:before {
  @extend %Icon--solidFull;
}

%Icon--star {
  content: "\ea5f";
}

.Icon--star:before {
  @extend %Icon--star;
}

%Icon--starHalf {
  content: "\ea60";
}

.Icon--starHalf:before {
  @extend %Icon--starHalf;
}

%Icon--starOutlined {
  content: "\ea61";
}

.Icon--starOutlined:before {
  @extend %Icon--starOutlined;
}

%Icon--stop {
  content: "\ea62";
}

.Icon--stop:before {
  @extend %Icon--stop;
}

%Icon--subtitle {
  content: "\ea63";
}

.Icon--subtitle:before {
  @extend %Icon--subtitle;
}

%Icon--sunrise {
  content: "\ea64";
}

.Icon--sunrise:before {
  @extend %Icon--sunrise;
}

%Icon--sunset {
  content: "\ea65";
}

.Icon--sunset:before {
  @extend %Icon--sunset;
}

%Icon--target {
  content: "\ea66";
}

.Icon--target:before {
  @extend %Icon--target;
}

%Icon--task {
  content: "\ea67";
}

.Icon--task:before {
  @extend %Icon--task;
}

%Icon--thems {
  content: "\ea68";
}

.Icon--thems:before {
  @extend %Icon--thems;
}

%Icon--title {
  content: "\ea69";
}

.Icon--title:before {
  @extend %Icon--title;
}

%Icon--trash {
  content: "\ea6a";
}

.Icon--trash:before {
  @extend %Icon--trash;
}

%Icon--triangleDown {
  content: "\ea6b";
}

.Icon--triangleDown:before {
  @extend %Icon--triangleDown;
}

%Icon--triangleUp {
  content: "\ea6c";
}

.Icon--triangleUp:before {
  @extend %Icon--triangleUp;
}

%Icon--twitter {
  content: "\ea6d";
}

.Icon--twitter:before {
  @extend %Icon--twitter;
}

%Icon--unlock {
  content: "\ea6e";
}

.Icon--unlock:before {
  @extend %Icon--unlock;
}

%Icon--user {
  content: "\ea6f";
}

.Icon--user:before {
  @extend %Icon--user;
}

%Icon--voice {
  content: "\ea70";
}

.Icon--voice:before {
  @extend %Icon--voice;
}

%Icon--vote {
  content: "\ea71";
}

.Icon--vote:before {
  @extend %Icon--vote;
}

%Icon--wisembly {
  content: "\ea72";
}

.Icon--wisembly:before {
  @extend %Icon--wisembly;
}

%Icon--wisemblyFull {
  content: "\ea73";
}

.Icon--wisemblyFull:before {
  @extend %Icon--wisemblyFull;
}
