@font-face {
  font-family: "icons";
  src: url("#{$f-path}/icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.Icon {
  display: inline-block;
  font-family: "icons";
  font-size: $base-fz;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  text-transform: none;
  text-decoration: inherit;
  vertical-align: middle;
  color: inherit;
  speak: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.Icon--actionItem:before {
  content: "\e001";
}

.Icon--alert:before {
  content: "\e002";
}

.Icon--archive:before {
  content: "\e003";
}

.Icon--arrowBack:before {
  content: "\e004";
}

.Icon--arrowDown:before {
  content: "\e005";
}

.Icon--arrowFirst:before {
  content: "\e006";
}

.Icon--arrowLast:before {
  content: "\e007";
}

.Icon--arrowNext:before {
  content: "\e008";
}

.Icon--arrowUp:before {
  content: "\e009";
}

.Icon--assignee:before {
  content: "\e00a";
}

.Icon--azure:before {
  content: "\e00b";
}

.Icon--badge:before {
  content: "\e00c";
}

.Icon--bell:before {
  content: "\e00d";
}

.Icon--board:before {
  content: "\e00e";
}

.Icon--bulletDay:before {
  content: "\e00f";
}

.Icon--bulletItem--dashed:before {
  content: "\e010";
}

.Icon--bulletItem:before {
  content: "\e011";
}

.Icon--calendar:before {
  content: "\e012";
}

.Icon--check:before {
  content: "\e013";
}

.Icon--checked:before {
  content: "\e014";
}

.Icon--clock:before {
  content: "\e015";
}

.Icon--cog:before {
  content: "\e016";
}

.Icon--cross:before {
  content: "\e017";
}

.Icon--decision--dashed:before {
  content: "\e018";
}

.Icon--decision:before {
  content: "\e019";
}

.Icon--diagram:before {
  content: "\e01a";
}

.Icon--displaySettings:before {
  content: "\e01b";
}

.Icon--document:before {
  content: "\e01c";
}

.Icon--doubleChevronDown:before {
  content: "\e01d";
}

.Icon--download:before {
  content: "\e01e";
}

.Icon--dragHorizontal:before {
  content: "\e01f";
}

.Icon--dragVertical:before {
  content: "\e020";
}

.Icon--dropdown:before {
  content: "\e021";
}

.Icon--dueDate:before {
  content: "\e022";
}

.Icon--dumbell:before {
  content: "\e023";
}

.Icon--duplicate:before {
  content: "\e024";
}

.Icon--edit:before {
  content: "\e025";
}

.Icon--evernote:before {
  content: "\e026";
}

.Icon--externalLink:before {
  content: "\e027";
}

.Icon--facebook:before {
  content: "\e028";
}

.Icon--filters:before {
  content: "\e029";
}

.Icon--form:before {
  content: "\e02a";
}

.Icon--glass:before {
  content: "\e02b";
}

.Icon--google:before {
  content: "\e02c";
}

.Icon--grid:before {
  content: "\e02d";
}

.Icon--group:before {
  content: "\e02e";
}

.Icon--help:before {
  content: "\e02f";
}

.Icon--home:before {
  content: "\e030";
}

.Icon--label:before {
  content: "\e031";
}

.Icon--level:before {
  content: "\e032";
}

.Icon--like:before {
  content: "\e033";
}

.Icon--linkedin:before {
  content: "\e034";
}

.Icon--live:before {
  content: "\e035";
}

.Icon--lock:before {
  content: "\e036";
}

.Icon--locked:before {
  content: "\e037";
}

.Icon--mail:before {
  content: "\e038";
}

.Icon--meetingList:before {
  content: "\e039";
}

.Icon--menu:before {
  content: "\e03a";
}

.Icon--message:before {
  content: "\e03b";
}

.Icon--messageSettings:before {
  content: "\e03c";
}

.Icon--minus:before {
  content: "\e03d";
}

.Icon--more:before {
  content: "\e03e";
}

.Icon--openIssue--dashed:before {
  content: "\e03f";
}

.Icon--openIssue:before {
  content: "\e040";
}

.Icon--paragraph:before {
  content: "\e041";
}

.Icon--pause:before {
  content: "\e042";
}

.Icon--pellet:before {
  content: "\e043";
}

.Icon--pelletCheck:before {
  content: "\e044";
}

.Icon--pelletClose:before {
  content: "\e045";
}

.Icon--pelletMinus:before {
  content: "\e046";
}

.Icon--phone:before {
  content: "\e047";
}

.Icon--picture:before {
  content: "\e048";
}

.Icon--play:before {
  content: "\e049";
}

.Icon--plus:before {
  content: "\e04a";
}

.Icon--popup:before {
  content: "\e04b";
}

.Icon--public:before {
  content: "\e04c";
}

.Icon--recurring:before {
  content: "\e04d";
}

.Icon--refresh:before {
  content: "\e04e";
}

.Icon--reply:before {
  content: "\e04f";
}

.Icon--reset:before {
  content: "\e050";
}

.Icon--results:before {
  content: "\e051";
}

.Icon--sessionAdd:before {
  content: "\e052";
}

.Icon--sessionRemove:before {
  content: "\e053";
}

.Icon--slack:before {
  content: "\e054";
}

.Icon--slash:before {
  content: "\e055";
}

.Icon--solid:before {
  content: "\e056";
}

.Icon--solidFull:before {
  content: "\e057";
}

.Icon--star:before {
  content: "\e058";
}

.Icon--starHalf:before {
  content: "\e059";
}

.Icon--stop:before {
  content: "\e05a";
}

.Icon--subtitle:before {
  content: "\e05b";
}

.Icon--sunrise:before {
  content: "\e05c";
}

.Icon--sunset:before {
  content: "\e05d";
}

.Icon--target:before {
  content: "\e05e";
}

.Icon--task:before {
  content: "\e05f";
}

.Icon--title:before {
  content: "\e060";
}

.Icon--trash:before {
  content: "\e061";
}

.Icon--triangleDown:before {
  content: "\e062";
}

.Icon--triangleUp:before {
  content: "\e063";
}

.Icon--twitter:before {
  content: "\e064";
}

.Icon--user:before {
  content: "\e065";
}

.Icon--voice:before {
  content: "\e066";
}

.Icon--vote:before {
  content: "\e067";
}

.Icon--wisembly:before {
  content: "\e068";
}

.Icon--wisemblyFull:before {
  content: "\e069";
}

.Icon--add:before {
  content: "\e06a";
}

