@mixin Icon {
  display: inline-block;
  font-family: "tapestry-icons";
  font-size: $fz--m;
  font-weight: normal;
  font-style: normal;
  line-height: $base-lh;
  text-transform: none;
  text-decoration: inherit;
  vertical-align: middle;
  speak: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


@mixin Icon--add {
  content: "\ea01";
}

@mixin Icon--addUser {
  content: "\ea02";
}

@mixin Icon--alarmClock {
  content: "\ea03";
}

@mixin Icon--alert {
  content: "\ea04";
}

@mixin Icon--altDragVertical {
  content: "\ea05";
}

@mixin Icon--appearIn {
  content: "\ea06";
}

@mixin Icon--apple {
  content: "\ea07";
}

@mixin Icon--archive {
  content: "\ea08";
}

@mixin Icon--arrowDown {
  content: "\ea09";
}

@mixin Icon--arrowFirst {
  content: "\ea0a";
}

@mixin Icon--arrowLast {
  content: "\ea0b";
}

@mixin Icon--arrowLeft {
  content: "\ea0c";
}

@mixin Icon--arrowRight {
  content: "\ea0d";
}

@mixin Icon--arrowUp {
  content: "\ea0e";
}

@mixin Icon--aside {
  content: "\ea0f";
}

@mixin Icon--audio {
  content: "\ea10";
}

@mixin Icon--azure {
  content: "\ea11";
}

@mixin Icon--badge {
  content: "\ea12";
}

@mixin Icon--bar {
  content: "\ea13";
}

@mixin Icon--barDiagram {
  content: "\ea14";
}

@mixin Icon--bell {
  content: "\ea15";
}

@mixin Icon--brush {
  content: "\ea16";
}

@mixin Icon--bulletDay {
  content: "\ea17";
}

@mixin Icon--calendar {
  content: "\ea18";
}

@mixin Icon--checkbox {
  content: "\ea19";
}

@mixin Icon--checked {
  content: "\ea1a";
}

@mixin Icon--checkedActionItem {
  content: "\ea1b";
}

@mixin Icon--checkedCheckbox {
  content: "\ea1c";
}

@mixin Icon--checkedRadio {
  content: "\ea1d";
}

@mixin Icon--checkmark {
  content: "\ea1e";
}

@mixin Icon--chrome {
  content: "\ea1f";
}

@mixin Icon--clip {
  content: "\ea20";
}

@mixin Icon--clock {
  content: "\ea21";
}

@mixin Icon--closedEye {
  content: "\ea22";
}

@mixin Icon--cog {
  content: "\ea23";
}

@mixin Icon--comment {
  content: "\ea24";
}

@mixin Icon--cross {
  content: "\ea25";
}

@mixin Icon--document {
  content: "\ea26";
}

@mixin Icon--door {
  content: "\ea27";
}

@mixin Icon--dot {
  content: "\ea28";
}

@mixin Icon--download {
  content: "\ea29";
}

@mixin Icon--dragHorizontal {
  content: "\ea2a";
}

@mixin Icon--dragVertical {
  content: "\ea2b";
}

@mixin Icon--dumbell {
  content: "\ea2c";
}

@mixin Icon--duplicate {
  content: "\ea2d";
}

@mixin Icon--evernote {
  content: "\ea2e";
}

@mixin Icon--externalLink {
  content: "\ea2f";
}

@mixin Icon--facebook {
  content: "\ea30";
}

@mixin Icon--file {
  content: "\ea31";
}

@mixin Icon--filters {
  content: "\ea32";
}

@mixin Icon--folder {
  content: "\ea33";
}

@mixin Icon--form {
  content: "\ea34";
}

@mixin Icon--fullscreen {
  content: "\ea35";
}

@mixin Icon--github {
  content: "\ea36";
}

@mixin Icon--glass {
  content: "\ea37";
}

@mixin Icon--google {
  content: "\ea38";
}

@mixin Icon--grid {
  content: "\ea39";
}

@mixin Icon--group {
  content: "\ea3a";
}

@mixin Icon--help {
  content: "\ea3b";
}

@mixin Icon--home {
  content: "\ea3c";
}

@mixin Icon--image {
  content: "\ea3d";
}

@mixin Icon--info {
  content: "\ea3e";
}

@mixin Icon--label {
  content: "\ea3f";
}

@mixin Icon--like {
  content: "\ea40";
}

@mixin Icon--link {
  content: "\ea41";
}

@mixin Icon--linkDropbox {
  content: "\ea42";
}

@mixin Icon--linkGoogle {
  content: "\ea43";
}

@mixin Icon--linkedin {
  content: "\ea44";
}

@mixin Icon--list {
  content: "\ea45";
}

@mixin Icon--listCollapse {
  content: "\ea46";
}

@mixin Icon--listExpand {
  content: "\ea47";
}

@mixin Icon--live {
  content: "\ea48";
}

@mixin Icon--lock {
  content: "\ea49";
}

@mixin Icon--mail {
  content: "\ea4a";
}

@mixin Icon--message {
  content: "\ea4b";
}

@mixin Icon--minus {
  content: "\ea4c";
}

@mixin Icon--more {
  content: "\ea4d";
}

@mixin Icon--multipleChoice {
  content: "\ea4e";
}

@mixin Icon--openedEye {
  content: "\ea4f";
}

@mixin Icon--options {
  content: "\ea50";
}

@mixin Icon--paragraph {
  content: "\ea51";
}

@mixin Icon--participant {
  content: "\ea52";
}

@mixin Icon--pause {
  content: "\ea53";
}

@mixin Icon--pellet {
  content: "\ea54";
}

@mixin Icon--pelletCheck {
  content: "\ea55";
}

@mixin Icon--pelletClose {
  content: "\ea56";
}

@mixin Icon--pelletMinus {
  content: "\ea57";
}

@mixin Icon--pencil {
  content: "\ea58";
}

@mixin Icon--phone {
  content: "\ea59";
}

@mixin Icon--picture {
  content: "\ea5a";
}

@mixin Icon--pictureInPicture {
  content: "\ea5b";
}

@mixin Icon--pieDiagram {
  content: "\ea5c";
}

@mixin Icon--play {
  content: "\ea5d";
}

@mixin Icon--plugged {
  content: "\ea5e";
}

@mixin Icon--plus {
  content: "\ea5f";
}

@mixin Icon--popup {
  content: "\ea60";
}

@mixin Icon--presentation {
  content: "\ea61";
}

@mixin Icon--private {
  content: "\ea62";
}

@mixin Icon--radio {
  content: "\ea63";
}

@mixin Icon--refresh {
  content: "\ea64";
}

@mixin Icon--reply {
  content: "\ea65";
}

@mixin Icon--reset {
  content: "\ea66";
}

@mixin Icon--results {
  content: "\ea67";
}

@mixin Icon--section {
  content: "\ea68";
}

@mixin Icon--singleChoice {
  content: "\ea69";
}

@mixin Icon--slack {
  content: "\ea6a";
}

@mixin Icon--smile {
  content: "\ea6b";
}

@mixin Icon--solid {
  content: "\ea6c";
}

@mixin Icon--solidFull {
  content: "\ea6d";
}

@mixin Icon--spreadsheet {
  content: "\ea6e";
}

@mixin Icon--star {
  content: "\ea6f";
}

@mixin Icon--starHalf {
  content: "\ea70";
}

@mixin Icon--starOutlined {
  content: "\ea71";
}

@mixin Icon--stats {
  content: "\ea72";
}

@mixin Icon--stop {
  content: "\ea73";
}

@mixin Icon--subtitle {
  content: "\ea74";
}

@mixin Icon--sunrise {
  content: "\ea75";
}

@mixin Icon--sunset {
  content: "\ea76";
}

@mixin Icon--target {
  content: "\ea77";
}

@mixin Icon--title--1 {
  content: "\ea78";
}

@mixin Icon--title--2 {
  content: "\ea79";
}

@mixin Icon--title {
  content: "\ea7a";
}

@mixin Icon--titles {
  content: "\ea7b";
}

@mixin Icon--trash {
  content: "\ea7c";
}

@mixin Icon--triangleDown {
  content: "\ea7d";
}

@mixin Icon--triangleLeft {
  content: "\ea7e";
}

@mixin Icon--triangleRight {
  content: "\ea7f";
}

@mixin Icon--triangleUp {
  content: "\ea80";
}

@mixin Icon--twitter {
  content: "\ea81";
}

@mixin Icon--unlock {
  content: "\ea82";
}

@mixin Icon--unplugged {
  content: "\ea83";
}

@mixin Icon--user {
  content: "\ea84";
}

@mixin Icon--video {
  content: "\ea85";
}

@mixin Icon--voice {
  content: "\ea86";
}

@mixin Icon--wifi {
  content: "\ea87";
}

@mixin Icon--wisembly {
  content: "\ea88";
}

@mixin Icon--wisemblyFull {
  content: "\ea89";
}




@if $import-icons {

  @font-face {
    font-family: "tapestry-icons";
    src: url("#{$f-path}/tapestry-icons.woff2") format("woff2"), url("#{$f-path}/tapestry-icons.woff") format("woff");
    font-weight: normal;
    font-style: normal;
  }

  .Icon {
    @include Icon;
  }

  .Icon--s {
    font-size: $fz--s;
  }

  .Icon--l {
    font-size: $fz--l;
  }

  .Icon--xl {
    font-size: $fz--xl;
  }

  
  .Icon--add:before {
    @include Icon--add;
  }
  
  .Icon--addUser:before {
    @include Icon--addUser;
  }
  
  .Icon--alarmClock:before {
    @include Icon--alarmClock;
  }
  
  .Icon--alert:before {
    @include Icon--alert;
  }
  
  .Icon--altDragVertical:before {
    @include Icon--altDragVertical;
  }
  
  .Icon--appearIn:before {
    @include Icon--appearIn;
  }
  
  .Icon--apple:before {
    @include Icon--apple;
  }
  
  .Icon--archive:before {
    @include Icon--archive;
  }
  
  .Icon--arrowDown:before {
    @include Icon--arrowDown;
  }
  
  .Icon--arrowFirst:before {
    @include Icon--arrowFirst;
  }
  
  .Icon--arrowLast:before {
    @include Icon--arrowLast;
  }
  
  .Icon--arrowLeft:before {
    @include Icon--arrowLeft;
  }
  
  .Icon--arrowRight:before {
    @include Icon--arrowRight;
  }
  
  .Icon--arrowUp:before {
    @include Icon--arrowUp;
  }
  
  .Icon--aside:before {
    @include Icon--aside;
  }
  
  .Icon--audio:before {
    @include Icon--audio;
  }
  
  .Icon--azure:before {
    @include Icon--azure;
  }
  
  .Icon--badge:before {
    @include Icon--badge;
  }
  
  .Icon--bar:before {
    @include Icon--bar;
  }
  
  .Icon--barDiagram:before {
    @include Icon--barDiagram;
  }
  
  .Icon--bell:before {
    @include Icon--bell;
  }
  
  .Icon--brush:before {
    @include Icon--brush;
  }
  
  .Icon--bulletDay:before {
    @include Icon--bulletDay;
  }
  
  .Icon--calendar:before {
    @include Icon--calendar;
  }
  
  .Icon--checkbox:before {
    @include Icon--checkbox;
  }
  
  .Icon--checked:before {
    @include Icon--checked;
  }
  
  .Icon--checkedActionItem:before {
    @include Icon--checkedActionItem;
  }
  
  .Icon--checkedCheckbox:before {
    @include Icon--checkedCheckbox;
  }
  
  .Icon--checkedRadio:before {
    @include Icon--checkedRadio;
  }
  
  .Icon--checkmark:before {
    @include Icon--checkmark;
  }
  
  .Icon--chrome:before {
    @include Icon--chrome;
  }
  
  .Icon--clip:before {
    @include Icon--clip;
  }
  
  .Icon--clock:before {
    @include Icon--clock;
  }
  
  .Icon--closedEye:before {
    @include Icon--closedEye;
  }
  
  .Icon--cog:before {
    @include Icon--cog;
  }
  
  .Icon--comment:before {
    @include Icon--comment;
  }
  
  .Icon--cross:before {
    @include Icon--cross;
  }
  
  .Icon--document:before {
    @include Icon--document;
  }
  
  .Icon--door:before {
    @include Icon--door;
  }
  
  .Icon--dot:before {
    @include Icon--dot;
  }
  
  .Icon--download:before {
    @include Icon--download;
  }
  
  .Icon--dragHorizontal:before {
    @include Icon--dragHorizontal;
  }
  
  .Icon--dragVertical:before {
    @include Icon--dragVertical;
  }
  
  .Icon--dumbell:before {
    @include Icon--dumbell;
  }
  
  .Icon--duplicate:before {
    @include Icon--duplicate;
  }
  
  .Icon--evernote:before {
    @include Icon--evernote;
  }
  
  .Icon--externalLink:before {
    @include Icon--externalLink;
  }
  
  .Icon--facebook:before {
    @include Icon--facebook;
  }
  
  .Icon--file:before {
    @include Icon--file;
  }
  
  .Icon--filters:before {
    @include Icon--filters;
  }
  
  .Icon--folder:before {
    @include Icon--folder;
  }
  
  .Icon--form:before {
    @include Icon--form;
  }
  
  .Icon--fullscreen:before {
    @include Icon--fullscreen;
  }
  
  .Icon--github:before {
    @include Icon--github;
  }
  
  .Icon--glass:before {
    @include Icon--glass;
  }
  
  .Icon--google:before {
    @include Icon--google;
  }
  
  .Icon--grid:before {
    @include Icon--grid;
  }
  
  .Icon--group:before {
    @include Icon--group;
  }
  
  .Icon--help:before {
    @include Icon--help;
  }
  
  .Icon--home:before {
    @include Icon--home;
  }
  
  .Icon--image:before {
    @include Icon--image;
  }
  
  .Icon--info:before {
    @include Icon--info;
  }
  
  .Icon--label:before {
    @include Icon--label;
  }
  
  .Icon--like:before {
    @include Icon--like;
  }
  
  .Icon--link:before {
    @include Icon--link;
  }
  
  .Icon--linkDropbox:before {
    @include Icon--linkDropbox;
  }
  
  .Icon--linkGoogle:before {
    @include Icon--linkGoogle;
  }
  
  .Icon--linkedin:before {
    @include Icon--linkedin;
  }
  
  .Icon--list:before {
    @include Icon--list;
  }
  
  .Icon--listCollapse:before {
    @include Icon--listCollapse;
  }
  
  .Icon--listExpand:before {
    @include Icon--listExpand;
  }
  
  .Icon--live:before {
    @include Icon--live;
  }
  
  .Icon--lock:before {
    @include Icon--lock;
  }
  
  .Icon--mail:before {
    @include Icon--mail;
  }
  
  .Icon--message:before {
    @include Icon--message;
  }
  
  .Icon--minus:before {
    @include Icon--minus;
  }
  
  .Icon--more:before {
    @include Icon--more;
  }
  
  .Icon--multipleChoice:before {
    @include Icon--multipleChoice;
  }
  
  .Icon--openedEye:before {
    @include Icon--openedEye;
  }
  
  .Icon--options:before {
    @include Icon--options;
  }
  
  .Icon--paragraph:before {
    @include Icon--paragraph;
  }
  
  .Icon--participant:before {
    @include Icon--participant;
  }
  
  .Icon--pause:before {
    @include Icon--pause;
  }
  
  .Icon--pellet:before {
    @include Icon--pellet;
  }
  
  .Icon--pelletCheck:before {
    @include Icon--pelletCheck;
  }
  
  .Icon--pelletClose:before {
    @include Icon--pelletClose;
  }
  
  .Icon--pelletMinus:before {
    @include Icon--pelletMinus;
  }
  
  .Icon--pencil:before {
    @include Icon--pencil;
  }
  
  .Icon--phone:before {
    @include Icon--phone;
  }
  
  .Icon--picture:before {
    @include Icon--picture;
  }
  
  .Icon--pictureInPicture:before {
    @include Icon--pictureInPicture;
  }
  
  .Icon--pieDiagram:before {
    @include Icon--pieDiagram;
  }
  
  .Icon--play:before {
    @include Icon--play;
  }
  
  .Icon--plugged:before {
    @include Icon--plugged;
  }
  
  .Icon--plus:before {
    @include Icon--plus;
  }
  
  .Icon--popup:before {
    @include Icon--popup;
  }
  
  .Icon--presentation:before {
    @include Icon--presentation;
  }
  
  .Icon--private:before {
    @include Icon--private;
  }
  
  .Icon--radio:before {
    @include Icon--radio;
  }
  
  .Icon--refresh:before {
    @include Icon--refresh;
  }
  
  .Icon--reply:before {
    @include Icon--reply;
  }
  
  .Icon--reset:before {
    @include Icon--reset;
  }
  
  .Icon--results:before {
    @include Icon--results;
  }
  
  .Icon--section:before {
    @include Icon--section;
  }
  
  .Icon--singleChoice:before {
    @include Icon--singleChoice;
  }
  
  .Icon--slack:before {
    @include Icon--slack;
  }
  
  .Icon--smile:before {
    @include Icon--smile;
  }
  
  .Icon--solid:before {
    @include Icon--solid;
  }
  
  .Icon--solidFull:before {
    @include Icon--solidFull;
  }
  
  .Icon--spreadsheet:before {
    @include Icon--spreadsheet;
  }
  
  .Icon--star:before {
    @include Icon--star;
  }
  
  .Icon--starHalf:before {
    @include Icon--starHalf;
  }
  
  .Icon--starOutlined:before {
    @include Icon--starOutlined;
  }
  
  .Icon--stats:before {
    @include Icon--stats;
  }
  
  .Icon--stop:before {
    @include Icon--stop;
  }
  
  .Icon--subtitle:before {
    @include Icon--subtitle;
  }
  
  .Icon--sunrise:before {
    @include Icon--sunrise;
  }
  
  .Icon--sunset:before {
    @include Icon--sunset;
  }
  
  .Icon--target:before {
    @include Icon--target;
  }
  
  .Icon--title--1:before {
    @include Icon--title--1;
  }
  
  .Icon--title--2:before {
    @include Icon--title--2;
  }
  
  .Icon--title:before {
    @include Icon--title;
  }
  
  .Icon--titles:before {
    @include Icon--titles;
  }
  
  .Icon--trash:before {
    @include Icon--trash;
  }
  
  .Icon--triangleDown:before {
    @include Icon--triangleDown;
  }
  
  .Icon--triangleLeft:before {
    @include Icon--triangleLeft;
  }
  
  .Icon--triangleRight:before {
    @include Icon--triangleRight;
  }
  
  .Icon--triangleUp:before {
    @include Icon--triangleUp;
  }
  
  .Icon--twitter:before {
    @include Icon--twitter;
  }
  
  .Icon--unlock:before {
    @include Icon--unlock;
  }
  
  .Icon--unplugged:before {
    @include Icon--unplugged;
  }
  
  .Icon--user:before {
    @include Icon--user;
  }
  
  .Icon--video:before {
    @include Icon--video;
  }
  
  .Icon--voice:before {
    @include Icon--voice;
  }
  
  .Icon--wifi:before {
    @include Icon--wifi;
  }
  
  .Icon--wisembly:before {
    @include Icon--wisembly;
  }
  
  .Icon--wisemblyFull:before {
    @include Icon--wisemblyFull;
  }
  

}