.Popover--validate {
  @include bg($validate, true);

  &:after {
    border-bottom-color: $mint;
  }
}

.Popover--info {
  @include bg($info, true);

  &:after {
    border-bottom-color: $saffron;
  }
}

.Popover--error {
  @include bg($error, true);

  &:after {
    border-bottom-color: $mandy;
  }
}
