.Popover--success {
  @include bg-green;

  &:after {
    border-bottom-color: $mint;
  }
}

.Popover--medium {
  @include bg-orange;

  &:after {
    border-bottom-color: $saffron;
  }
}

.Popover--fail {
  @include bg-red;

  &:after {
    border-bottom-color: $mandy;
  }
}
