@font-face {
  font-family: "<%= fontName %>";
  src: url("<%= fontPath %><%= fontName %>.woff") format("woff"),
       url("<%= fontPath %><%= fontName %>.svg#<%= fontName %>") format("svg");
  font-weight: normal;
  font-style: normal;
}

.<%= className %> {
  display: inline-block;
  font-family: "<%= fontName %>";
  font-size: rem($base-font-size);
  font-weight: normal;
  font-style: normal;
  line-height: $base-line-height;
  text-transform: none;
  text-decoration: inherit;
  vertical-align: middle;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
}

.<%= className %>--s {
  font-size: $font-size--s;
  line-height: $font-size--s;
}

.<%= className %>--l {
  font-size: $font-size--l;
  line-height: $font-size--l;
}

.<%= className %>--xl {
  font-size: $font-size--xl;
  line-height: $base-line-height * 2;
}

.<%= className %>--xxl {
  font-size: $font-size--xxl;
  line-height: $font-size--xxl;
}

.<%= className %>--centered {
  margin: 0 auto;
}

<% _.each(glyphs, function (glyph) { %>.<%= className %>-<%= glyph.name %>:before { content: "\<%= glyph.codepoint.toString(16).toUpperCase() %>" }
<% }); %>
