.Box {
  background: $white;
  border: 1px solid $iron;

  + .Box,
  + .Boxes {
    margin-top: $mg--m;
  }

  > .List:first-child .List-item:first-child {
    border-top: 0;
  }

  > .List:last-child {
    border-bottom: 0;
  }
}
