@if $import-box {

  .Box {
    background: $white;
    border: 1px solid $base-border-color;

    + .Box,
    + .Boxes {
      margin-top: $box-space-between;
    }

    > .List:first-child .List-item:first-child {
      border-top: 0;
    }

    > .List:last-child {
      border-bottom: 0;
    }
  }

}
