.Box-header {
  padding: $pd--m $pd--m $pd--s;
}

.Box-title {
  display: inline-block;
  margin: 0;
  font-size: $fz--xl;
  font-weight: $fw--semi-bold;
  line-height: $base-lh;
  vertical-align: middle;
}
