.t-headline {
  margin: 0;
  font-size: $fz--xl;
  font-weight: $fw--semi-bold;
  line-height: r(7);
  color: $venice-blue;
}

.t-subheadline {
  margin: 0;
  font-size: $fz--s;
  line-height: r(2);
  color: $regent-st-blue;
}

.t-sectionTitle {
  margin: $mg--m 0;
  font-size: r(3);
  line-height: r(5);
  text-transform: uppercase;
  color: $slate-gray;
}

.t-title {
  font-size: $fz--l;
  font-weight: $fw--semi-bold;
  color: $limed-spruce;
}

.t-caption {
  font-size: $fz--s;
  line-height: $lh--s;
  color: $slate-gray;
}
