@if $import-typography {

  .t-title {
    font-size: $fz--l;
    font-weight: $fw--semi-bold;
    color: $shuttle-gray;
  }

  .t-caption {
    font-size: $fz--s;
    line-height: $lh--s;
    color: $slate-gray;
  }

}
