@if $import-typography {

  .t-neutral {
    color: $gray-chateau !important;
  }

  .t-primary {
    color: $venice-blue !important;
  }

  .t-alt {
    color: $boston-blue !important;
  }

  .t-validate {
    color: $mint !important;
  }

  .t-info {
    color: $saffron !important;
  }

  .t-error {
    color: $mandy !important;
  }

}
