@if $import-typography {

  .Line {
    display: block;
    margin: r(2) 0;
    border: 0;
    border-top: 1px solid $base-border-color;
  }

  .Line--labeled {
    position: relative;
    margin-top: r(6);
    text-align: center;
  }

  .Line--inline {
    display: inline-block;
    text-align: center;
    border: 0;
    margin-top: r(8);
    margin-bottom: 0;
  }

  .Line-label {
    display: inline-block;
    width: r(8);
    height: r(8);
    line-height: rb(8, 4px);
    font-size: $fz--m;
    font-weight: $fw--semi-bold;
    color: $gray-chateau;
    background: $white;
    border: 1px solid $base-border-color;
    border-radius: 50%;
    transform: translate(0, -50%);
  }

}
