@if $import-typography {

  .t-link {
    font-weight: $fw--semi-bold;
    color: $slate-gray;
    cursor: pointer;
  }

  .t-link--alt {
    text-decoration: underline;
    font-weight: $base-fw;
  }

}
