@if $import-typography {

  .Line {
    display: block;
    border: 0;
    border-top: 1px solid $base-border-color;
    user-select: none;
  }

  .Line--labeled {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    border: 0;

    &:before,
    &:after {
      content: "";
      flex: 1 1 auto;
      border-top: 1px solid $base-border-color;
    }
  }

  .Line--inline {
    display: inline-block;
    text-align: center;
    border: 0;
  }

  .Line-label {
    display: inline-block;
    width: r(8);
    height: r(8);
    line-height: rb(8, 4px);
    font-size: $fz--m;
    font-weight: $fw--semi-bold;
    color: $gray-chateau;
    border: 1px solid $base-border-color;
    border-radius: 50%;
    flex: 0 0 auto;
  }

}
