.t-rList {
  margin: 0;
  padding: 0;
}

.t-rListItem {
  padding: 0;
  list-style: none;
}

.t-rList--inline {
  .t-rListItem {
    display: inline-block;
    padding-left: $base-pd;

    &:first-child {
      padding: 0;
    }
  }
}
