@if $import-button and $import-pseudo-classes {

  .Btn {
    &:hover {
      background-color: $slate-gray;
    }

    &:active {
      background-color: $slate-gray;
      box-shadow: inset 3px 3px 0 0 rgba($outer-space, .3);
    }
  }

}
