@if $import-button and $import-pseudo-classes {

  .BtnGroup {
    > .BtnGroup-item {
      &:hover,
      &:focus,
      &:active {
        position: relative;
        z-index: 1;
        color: $slate-gray;
        background-color: $white;
        border-color: $btn-outline-hover-border-color;

        &#{$btn-group-selected-item-selector} {
          color: $btn-group-selected-color;
          border-color: $btn-group-selected-color;
        }
      }


      &:hover[disabled] {
        border-radius: 0;
      }

      &:hover[disabled]:first-child {
        border-top-left-radius: $base-radius;
        border-bottom-left-radius: $base-radius;
      }

      &:hover[disabled]:last-child {
        border-top-right-radius: $base-radius;
        border-bottom-right-radius: $base-radius;
      }
    }
  }

}
