@if $import-button and $import-pseudo-classes {

  .BtnGroup {
    > .Btn {
      &:hover {
        position: relative;
        z-index: 1;
      }

      &:hover[disabled] {
        border-radius: 0;
      }

      &:hover[disabled]:first-child {
        border-top-left-radius: $base-radius;
        border-bottom-left-radius: $base-radius;
      }

      &:hover[disabled]:last-child {
        border-top-right-radius: $base-radius;
        border-bottom-right-radius: $base-radius;
      }
    }
  }

}
