.Btn--outline {
  &:hover {
    color: $limed-spruce;
    background-color: transparent;
    border-color: $slate-gray;
  }

  &:active {
    background-color: transparent;
  }
}

.Btn--raw {
  &:hover {
    color: $limed-spruce;
    background-color: $transparent;
  }

  &:active {
    background-color: $transparent;
    box-shadow: none;
  }

  &[disabled],
  &[aria-disabled="true"],
  &.is-disabled {
    &:hover {
      background-color: none;
    }
  }
}
