.Switch {
  display: inline-block;
  position: relative;
  width: $switch-width;
  height: $switch-height;
  vertical-align: middle;
  background-color: $gray-chateau;
  border-radius: $switch-height;
  cursor: pointer;
  transition: background-color .05s ease;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: $switch-space-around / 2;
    width: $switch-height - $switch-space-around;
    height: $switch-height - $switch-space-around;
    margin-top: (-$switch-height / 2) + $switch-space-around / 2;
    background-color: $white;
    border-radius: $switch-height - $switch-space-around;
    transition: left .1s ease-out;
  }
}

input:checked + .Switch {
  background-color: $curious-blue;

  &:after {
    left: $switch-width - $switch-height + ($switch-space-around / 2);
    background-color: $white;
  }
}
