$switch-width: 50px;
$switch-height: 25px;
$switch-space-around: 4px;

.Switch {
  display: block;
  position: relative;
  width: rem($switch-width);
  height: rem($switch-height);
  background-color: $white;
  border: 1px solid $base-border-color;
  border-radius: rem($switch-height);
  cursor: pointer;
  transition: background-color .05s ease;

  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 50%; left: $switch-space-around / 2;
    width: rem($switch-height - $switch-space-around);
    height: rem($switch-height - $switch-space-around);
    margin-top: (-$switch-height / 2) + $switch-space-around / 2;
    background-color: $gray-chateau;
    border-radius: rem($switch-height - $switch-space-around);
    transition: left .1s ease-out;
  }
}

input:checked + .Switch {
  background-color: $curious-blue;

  &:after {
    left: rem($switch-width - $switch-height + ($switch-space-around / 2));
    background-color: $white;
  }
}
