.Switch--s {
  width: $switch-width--s;
  height: $switch-height--s;
  border-radius: $switch-height--s;

  &:after {
    left: $switch-space-around--s / 2;
    width: $switch-height--s - $switch-space-around--s;
    height: $switch-height--s - $switch-space-around--s;
    margin-top: (-$switch-height--s / 2) + $switch-space-around--s / 2;
    border-radius: $switch-height--s - $switch-space-around--s;
  }
}

input,
.Switch-checkbox {
  &:checked + .Switch--s:after {
    left: ($switch-width--s / 2);
  }
}
