$switch-color: $white !default;
$switch-checked-color: $mint !default;
$switch-unchecked-color: $gray-chateau !default;

$switch-border-color: $gray-chateau !default;
$switch-checked-border-color: $mint !default;

$switch-width: rb(9) !default;
$switch-width--s: rb(7) !default;

$switch-height: rb(5) !default;
$switch-height--s: rb(4) !default;

$switch-inner-space: rem(6px) !default;
$switch-inner-space--s: rem(4px) !default;
