.Input-addOn {
  display: inline-block;
  width: auto;
  padding: rb(2) $pd--s;
  font-size: $fz--m;
  line-height: $base-lh;
  color: $form-text-color;
  background: $white;
  border: 1px solid $base-border-color;
  user-select: none;

  &:not(.Btn) {
    cursor: default;
  }

  .InputGroup-item + &,
  &.InputGroup-item {
    flex: 0;
  }
}
