.InputGroup {
  display: flex;
  font-size: 0;

  .Input {
    margin-bottom: 0;
  }
}

.InputGroup-item {
  flex: 1;
  width: auto;
  font-size: $fz--m;
  vertical-align: top;

  + .InputGroup-item {
    margin-top: 0;
    margin-left: $mg--m;
  }

  &:focus {
    z-index: zi(base);
  }
}

.InputGroup--collapsed {

 .InputGroup-item {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    + .InputGroup-item {
      margin-left: -1px;
      border-radius: 0;
    }

    &:last-child {
      border-radius: 0;
      border-top-right-radius: $base-radius;
      border-bottom-right-radius: $base-radius;
    }
  }
}
