.InputGroup {
  display: flex;
  font-size: 0;

  .Input {
    margin-bottom: 0;
  }
}

.InputGroup-item {
  flex: 1;
  width: auto;
  font-size: $fz--m;
  vertical-align: top;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;

  + .InputGroup-item {
    margin-top: 0;
    margin-left: -1px;
    border-radius: 0;
  }

  &:focus {
    z-index: zi(base);
  }

  &:last-child {
    border-top-right-radius: $base-radius;
    border-bottom-right-radius: $base-radius;
  }
}
