.Styleguide-navWrapper ~ .Styleguide-navItem {
	display: none;
}

body {
	background: #fff;
	font-family: 'Proxima Nova', 'Open Sans', 'Georgia', sans-serif;
}

p code {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 .8rem;
  text-align: left;
  background-color: #FAFAFA;
  border-radius: 2px;
  border: 1px solid #EDEDED;
  font-family: Courier, sans-serif;
}



/* Styleguide generals
 * Styleguide-title */

.Styleguide-title {
	padding-bottom: .4em;
	font-size: 2.5em;
	font-weight: 400;
}

.Styleguide-modulesContainer {
	padding: 5rem 1rem 2rem 25%;
	text-align: left;
}



/* Styleguide header
 * Styleguide-title */

.Styleguide-header {
	position: fixed;
	top: 0; right: 0; left: 0;
	padding: 2rem 3rem;
	text-align: left;
	background-color: #084d66;
	z-index: 1001;
}

	.Styleguide-title {
		margin: 0; padding: 0;
		font-size: 1.8em;
		line-height: 1.2;
		text-transform: uppercase;
		font-weight: 800;
		color: #fff;
	}

	.Styleguide-desc {
		color: #fff;
		margin: 0;
		font-weight: 400;
	}



/* Styleguide module
* Styleguide-moduleTitle */

.Styleguide-module {
	/*padding: 8em 2em .8em 2em;*/
	background-color: #fff;
	border-radius: 3px;
}

	.Styleguide-title--1 {
		font-size: 2.5rem;
		color: #3a434c;
		margin: 10rem 0 2.5rem;
		font-weight: 600;
	}

	.Styleguide-title--2 {
		margin: 5rem 0 1rem;
		color: #a1a9ae;
		font-weight: 600;
		font-size: 1.2rem;
		line-height: 1.3;
		letter-spacing: .04rem;
		text-transform: uppercase;
	}

	.Styleguide-module pre {
		position: relative;
		margin: 2rem 0;
		padding: 3.2rem 1em 1.6rem;
		font-size: .9em;
		line-height: 1.6;
		text-align: left;
		background-color: #fafafa;
		border-radius: 2px;
		border: 1px solid #ededed;
		word-wrap: break-word;
	}

	.Styleguide-module pre:before {
		content: "code";
		position: absolute;
		top: 0; left: 0; right: 0;
		display: block;
		padding: .5em 1em;
		font-size: .8em;
		font-weight: 600;
		text-transform: uppercase;
		background-color: #ededed;
		color: #fff;
	}

  .Styleguide-module--grid .Column {
    background: #aed7e8;
    text-align: center;
    padding: 1rem 0;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
  }
  .Styleguide-module--grid .Column:last-child {
    border-right: 0;
  }

/* Styleguide colors
 * Styleguide-module--colors
 * Styleguide-colors
 * Styleguide-colorWrapper
 * Styleguide-colorItem
 * Styleguide-colorDescription */

.Styleguide-module--colors {
}

	.Styleguide-colorWrapper {
		display: inline-block;
		width: 23.5%;
		margin: 0 1% 1.6rem 0;
		list-style-type: none;
	}

		.Styleguide-colorItem {
			height: 6.4rem;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
		}

		.Styleguide-colorDescription {
			font-size: 1em;
			line-height: 1.6rem;
			color: #999;
			border-bottom: 1px solid #ededed;
			padding: .8rem;
			font-weight: 300;
		}



/* Styleguide-navWrapper
 * Styleguide-navItem
 * Styleguide-navLink */

.Styleguide-navWrapper {
	position: fixed;
	top: 10rem;
  bottom: 5rem;
  left: 0;
	overflow-y: scroll;
	width: 25%;
	margin: 0;
	padding: 0 1em .8rem 2em;
}

	.Styleguide-navItem {
		list-style-type: none;
	}

		.Styleguide-navLink {
			display: block;
			padding: 0 .8rem;
			line-height: 1.6rem;
			text-decoration: none;
			border-radius: 5px;
			color: #888;
		}

		.Styleguide-navLink:hover {
			background-color: #eee;
			color: #444;
		}


/* Styleguide credits
 * Styleguide-credits
 * Styleguide-creditsLink */

.Styleguide-credits {


	display: none;


  position: fixed;
  bottom: .8rem;
  left: 0;
 	width: 25%;
	padding-left: 3.6em;
  font-size: .8em;
  line-height: 1.5em;
  color: #888;
}

  .Styleguide-creditsLink {
    line-height: 1;
    color: #708189;
		text-decoration: none;
  }

  .Styleguide-creditsLink:hover {
    color: #3a434c;
  }

/* Styleguide icons
 * Styleguide-iconWrapper
 * Styleguide-iconItem
 * Styleguide-iconDescription */

.Styleguide-iconWrapper {
	display: inline-block;
  width: 9em;
  margin: 0 .5em .5em 0;
}

  .Styleguide-iconItem {
    padding: 1em 0;
    display: block;
    background: #ededed;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .Styleguide-iconDescription {
    display: block;
    color: #999;
    padding: 1em 0;
    font-size: .8em;
    text-align: center;
    border-bottom: 1px solid #ededed;
  }

	/* Styleguide list */

	.Styleguide-list {
		margin: 0;
		padding: 0;
		list-style-type: circle;
		list-style-position: inside;
	}

	.Styleguide-list:not(:last-child) {
		margin: 0 0 1.5em;
	}

	.Styleguide-modulesContainer p + .Styleguide-list {
		margin-top: -1rem;
	}

	/* Styleguide code separator */

	.Styleguide-codeSeparator {
		margin-bottom: 1em;
	}
