/* Normalize */
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],/* 1 */ input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

body {
	background: #EBEEEF;
}


/* Styleguide generals
 * Styleguide-title
 * Styleguide-wrapper */

.Styleguide-title {
	padding-bottom: .4em;
	font-size: 2.5em;
	font-weight: 400;
}

.Styleguide-description {
	color: #fff;
	margin: 0;
}

.Styleguide-wrapper {
	width: 80%;
	max-width: 1100px;
	margin: 0 auto;
}



/* Styleguide header
 * Styleguide-headerTitle */

.Styleguide-header {
	font-family: Helvetica, Arial, sans-serif;
	margin-bottom: 1em;
	padding: 3.5em 0 3.6em 0;
	text-align: center;
	background-color: #009788;
}

	.Styleguide-headerTitle {
		margin: 0; padding: 0;
		font-weight: 300;
		color: #fff;
		border-bottom: 0;
	}



/* Styleguide module
* Styleguide-moduleTitle */

.Styleguide-module {
	font-family: Helvetica, Arial, sans-serif;
	padding-top: 2em;
	padding-bottom: 2em;
	text-align: center;
	border-bottom: 1px solid #ccc;
}

	.Styleguide-module h1,
	.Styleguide-module h2,
	.Styleguide-module h3 {
		font-weight: 400;
	}

	.Styleguide-module h1 {
		margin: 0 0 .8em 0;
		font-size: 2em;
	}

	.Styleguide-module h2 {
		margin-top: 1.5em;
	}

	.Styleguide-module pre {
		padding: 1em;
		font-size: .9em;
		line-height: 1.6;
		text-align: left;
		background-color: #eaeaea;
		border-radius: 2px;
	}



/* Styleguide colors
 * Styleguide-module--colors
 * Styleguide-colors
 * Styleguide-colorWrapper
 * Styleguide-colorItem
 * Styleguide-colorDescription */

.Styleguide-colors {
	margin: 0; padding: 0;
}

	.Styleguide-colorWrapper {
		display: inline-block;
		width: 8em;
		margin: 0 .5em .5em 0;
		list-style-type: none;
	}

		.Styleguide-colorItem {
			height: 100px;
			width: 100px;
			border: 5px solid #fff;
			border-radius: 50%;
			box-shadow: inset 0 0 5px rgba(0,0,0,.2);
		}

		.Styleguide-colorDescription {
			padding: .5em 0;
			color: #555;
			font-size: .8rem;
			width: 100px;
		}
