.Btn {
  padding: $base-padding--s $base-padding;
  font-size: $base-font-size;
  color: $white;
  background-color: $grey--medium;
  border: 1px solid transparent;
  border-radius: 3px;
  outline: 0;
  transition: background-color .2s ease-out;

  &:hover {
    background-color: $grey;
  }

  &:active {
    box-shadow: inset 0 1px 4px 0 rgba(58, 67, 76, .5);
  }
}
