$button-name-colors: "-primary" "-alt" "-validate" "-info" "-error";
$button-base-colors: $venice-blue $curious-blue $mint $saffron $mandy;
$button-hover-colors: $atoll $eastern-blue $ocean-green $galliano $fuzzy-wuzzy-brown;

@for $i from 1 to length($button-base-colors) + 1 {
  $color-name: nth($button-name-colors, $i);
  $color-value: nth($button-base-colors, $i);
  $hover-color: nth($button-hover-colors, $i);

  .Btn-#{$color-name} {
    background-color: $color-value;

    &:hover {
      background-color: $hover-color;
    }
  }

  .Btn--outline.Btn-#{$color-name} {
    color: $color-value;
    border-color: $color-value;

    &:hover {
      color: $hover-color;
      border-color: $hover-color;
    }
  }
}


.Btn--outline,
.Btn--outline:hover,
.Btn--outline:active, {
  background-color: $white;
}
