// Color name based on Name That color project http://chir.ag/projects/name-that-color/
// Please order colors from light to dark

$white: #FFF !default;
$black: #000 !default;

// Greys
$alabaster: #F7F7F7;
$porcelain: #EBEEEF;
$iron: #D5D9DA;
$gray-chateau: #A1A9AE;
$slate-gray: #708189;
$limed-spruce: #3A434C;

// Blues
$regent-st-blue: #AED7E8;
$curious-blue: #289BC4;
$eastern-blue: #258AAE;
$venice-blue: #07698D;
$atoll: #0D5C7C;
$deep-sea-green: #084D66;

// Greens
$emerald: #52C699;
$mint: #46B489;
$ocean-green: #41A07A;

// Yellows
$saffron: #F1BC33;
$galliano: #D5A82D;

// Orange
$salmon: #F7896D;

// Reds
$mandy: #E25C5B;
$fuzzy-wuzzy-brown: #C85450;
