@mixin bg-green {
  color: $white;
  background-color: $mint;
}

@mixin bg-orange {
  color: $white;
  background-color: $saffron;
}

@mixin bg-red {
  color: $white;
  background-color: $mandy;
}



// Media queries

@mixin bp($point) {

  @if $point == tablet {
    @media (min-width: #{$breakTablet}) { @content; }
  }

  @else if $point == phablet {
    @media (min-width: #{$breakPhablet}) { @content; }
  }

  @else if $point == laptop {
    @media (min-width: #{$breakLaptop}) { @content; }
  }

  @else if $point == desktop {
    @media (min-width: #{$breakDesktop}) { @content; }
  }
}



// Micro Clearfix to clear floats.
// http://nicolasgallagher.com/micro-clearfix-hack/

@mixin cf {
  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
    zoom: 1;
  }
}



// Shared

@mixin tooltip-core {
  position: absolute;
  padding: $base-padding--s $base-padding;
  font-size: $font-size--s;
  line-height: 1;
  color: $white;
  white-space: nowrap;
  box-shadow: 0 1px 1.5px 0 rgba($gray-chateau, .5);
  border-radius: $base-radius;
  background: $gray-chateau;

  &:after {
    content: "";
    position: absolute;
  }
}
