.Collection-item {
  margin-top: -1px;
  padding: $pd--s $base-pd;
  line-height: $base-lh;
  text-align: left;
  color: $limed-spruce;
  border: 1px solid $iron;
  transition: background-color .1s ease-out, box-shadow .05s ease-out;
  list-style-type: none;

  &:first-child {
    margin-top: 0;
  }
}

.Collection--actionnable {
  .Collection-item {
    cursor: pointer;

    &.is-active {
      background-color: $porcelain;
    }
  }
}
