.Input-addOn {
  flex: 0 0 auto;
  width: auto;
  padding: $input-pdv $input-pdh;
  font-size: $fz--m;
  line-height: $base-lh;
  color: $form-base-color;
  background: $form-bg;
  border: 1px solid $base-border-color;
  user-select: none;

  &:not(.Btn) {
    cursor: default;
  }
}
