@if $import-form and $import-input and $import-input-group {

  .Input-addOn {
    flex: 0 0 auto;
    width: auto;
    padding: $input-pdv $input-pdh;
    font-size: $fz--m;
    line-height: $base-lh;
    color: $form-base-color;
    background: $form-base-bg;
    border: 1px solid $form-base-border-color;
    user-select: none;

    &:not(.Btn) {
      cursor: default;
    }

    + .Input-addOn,
    + .Input-addOn.Btn {
      margin-left: 0;
    }

    + .Input-addOn.Btn--outline {
      margin-left: -1px;
    }
  }

}
