- each component in components
  li.Tab-item(aria-selected=currentComponent === component.name ? "true" : "false")
    - var componentName = component.name.toLowerCase();
    a.Tab-link(href="/components/#{componentName}")= component.name
