.s-Footer
  .s-App-content
    .s-Footer-nav
      a(href="/getting-started") Getting started
      a(href="/components") Components
      a(href="/stats") Statistics
      a(href="https://github.com/Wisembly/tapestry", target="_blank") GitHub

    p Designed and built with love and drinks in Paris • 2015 #[i.Icon.Icon--l.Icon--wisemblyFull.u-mgl--xs]
