doctype html
html
  head
    block head
      title Tapestry
      link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600', rel='stylesheet', type='text/css')
      link(href='/css/tapestry.css', rel='stylesheet', type='text/css')
      link(href='/css/styleguide.css', rel='stylesheet', type='text/css')
      script(async, src='http://localhost:4000/browser-sync/browser-sync-client.2.13.0.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js')
      script(src='https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/languages/scss.min.js')
      script(src='/js/tapestry.js')
    block scripts

  body(class="s-App s-Page s-Page--" + currentPage)
    include nav

    .s-Container
      block content
