nav.s-Nav
  h1.s-Logo
    a.s-Logo-link(href="/") Tapestry

  .s-Nav-section
    a.s-Nav-title(href="/getting-started") Getting started

  - if (components)
    .s-Nav-section.has-nav
      a.s-Nav-title(href="/components") Components
        each item in components
          - var componentName = item.name.toLowerCase();
          a.s-Nav-link(href="/components/" + componentName)= item.name
  - else
    .s-Nav-section
      a.s-Nav-title(href="/components") Components

  .s-Nav-section
    a.s-Nav-title(href="/sass-utils") Sass Utils

  .s-Nav-section
    a.s-Nav-title(href="/stats") Statistics
