nav.s-Nav
  h1.s-Logo
    a.s-Logo-link(href="/") Tapestry

  .s-Nav-section
    a.s-Nav-title(href="/") About

  .s-Nav-section
    a.s-Nav-title(href="/getting-started") Getting started

  - if (components)
    .s-Nav-section.has-nav
      a.s-Nav-title(href="/components") Components
        - each component in components
          - var componentName = component.name.toLowerCase();
          a.s-Nav-link(href="/components/#{componentName}")= component.name
  - else
    .s-Nav-section
      a.s-Nav-title(href="/components") Components

  .s-Nav-section
    a.s-Nav-title(href="/stats") Statistics
