.Tabs {
  margin: 0;
  padding: 0 $base-padding;
  font-size: 0;
  text-align: left;
  list-style: none;
  border-bottom: 1px solid $base-border-color;
}

.Tab {
  display: inline-block;
  position: relative;
  margin: 0 $base-margin--s;
  padding: $base-padding 0;
  font-size: $base-font-size;
  font-weight: 600;
  text-decoration: none;
  color: $slate-gray;
  cursor: pointer;

  &:after {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 0;
    left: 50%;
    height: rem(4px);
    background: $base-tab-hover-color;
    transition: all .1s ease-out;
  }

  &:hover,
  &.is-selected {
    color: $venice-blue;

    &:after {
      right: 0;
      left: 0;
    }
  }
}
