.has-flash {
  position: relative;
}

.Flash {
  @include position(a $base-line-height null null 50%);
  z-index: 1;
  padding: $padding--s $base-padding;
  color: $white;
  background: $mint;
  border-radius: $base-radius;
  box-shadow: 0 1px 1.5px 0 rgba($gray-chateau, .5);
  transform: translateX(-50%);
}
