@if $import-utility-classes {

  .u-tal {
    text-align: left !important;
  }

  .u-tac {
    text-align: center !important;
  }

  .u-tar {
    text-align: right !important;
  }

  .u-vat {
    vertical-align: top !important;
  }

  .u-vam {
    vertical-align: middle !important;
  }

  .u-vabl {
    vertical-align: baseline !important;
  }

  .u-vab {
    vertical-align: bottom !important;
  }

  .u-push {
    float: right !important;
  }

  .u-pull {
    float: left !important;
  }

}
