.u-neutral {
  color: $white;
  background: $gray-chateau;
}

.u-validate {
  color: $white;
  background: $mint;
}

.u-info {
  color: $white;
  background: $saffron;
}

.u-error {
  color: $white;
  background: $mandy;
}
