.u-neutral {
  color: $white !important;
  background: $gray-chateau !important;
}

.u-primary {
  color: $white !important;
  background: $venice-blue !important;
}

.u-validate {
  color: $white !important;
  background: $mint !important;
}

.u-info {
  color: $white !important;
  background: $saffron !important;
}

.u-error {
  color: $white !important;
  background: $mandy !important;
}
