.Modal {
  @include pos(f 50% null null 50%);
  visibility: hidden;
  z-index: zi("modal");
  width: 100%;
  max-width: 90%;
  max-height: calc(100vh - #{2 * $mg--m});
  opacity: 0;
  overflow: auto;
  transform: translate(-50%, -50%);
  transition: top .7s ease-in-out,
              opacity .3s ease-in-out;

  &[aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
    animation-duration: .3s;
    animation-name: PopUp;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }
}

.Modal--expand {
  display: flex;
  flex-direction: column;
  bottom: $mg--m;
}



@include bp(phablet) {
  .Modal {
    width: $modal-desktop-width;
  }
}
