.Modal-wrapper {
  @include Overlay;
}

.Modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: $modal-width;
  max-height: calc(100vh - #{2 * $mg--m});
  background: $white;
  overflow: auto;

  [aria-hidden="false"] > & {
    animation-name: PopUp;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-direction: alternate;
  }
}

@include bp(phablet) {
  .Modal {
    width: $modal-max-width;
  }
}
