.Modal-content {
  padding: $pd--m $pd--m 0;
  background: $white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &.has-list {
    padding: 0;
  }

  .Modal--expand & {
    flex-grow: 1;
  }
}
