.Modal-header {
  display: flex;
  padding: 0;
  background: $venice-blue;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.ModalHeader-button {
  padding: $pd--s $pd--m;
  color: $regent-st-blue;
}

.ModalHeader-title {
  margin: $mg--s $mg--m;
  font-size: $fz--l;
  font-weight: $fw--semi-bold;
  color: $white;
}
