.Modal-header {
  display: flex;
  padding: 0;
  background: $deep-sea-green;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.ModalHeader-btn {
  width: $modal-button-width;
  padding: r(2) 0;
  line-height: $lh--l;
  color: $regent-st-blue;

  .Icon {
    vertical-align: middle;
  }
}

.Modal-title {
  @include ellipsis;
  flex-grow: 1;
  margin: 0 $mg--m;
  padding: r(2) $modal-button-width;
  font-size: $fz--l;
  font-weight: $fw--semi-bold;
  line-height: $lh--l;
  text-align: center;
  color: $white;

  .Icon {
    margin-right: $mg--xs;
  }

  .ModalHeader-btn + & {
    padding-left: 0;
  }

  + .ModalHeader-btn {
    margin-left: -$modal-button-width;
  }
}
