@if $import-animations and $import-loading-states and $import-spinner {

  .Loader-label {
    padding-left: $loader-inner-space;

    #{$loader-failed-class} & {
      display: none;
    }

    .Loader--stacked & {
      padding-top: $loader-inner-space;
      padding-left: 0;
    }

    &:after {
      content: "";
      display: inline-block;
      width: r(4);
      font-size: $base-fz;
      animation: Ellipsis $loader-ellispis-duration linear infinite;
    }
  }

}
