$loader-loading-class: ".is-loading" !default;
$loader-failed-class: ".has-failed" !default;

$loader-base-bg: rgba($white, .95) !default;
$loader-base-color: $limed-spruce !default;

$loader-dark-bg: rgba($black, .9) !default;
$loader-dark-color: $white !default;

$loader-errored-color: $mandy !default;

$loader-inner-space: $pd--s !default;

$loader-ellispis-duration: 2s !default;
