@if $import-form and $import-fieldset {

  .Legend {
    display: block;
    width: 100%;
    margin-bottom: $mg--m;
    padding-bottom: $pd--xs;
    font-size: $fz--m;
    font-weight: $fw--semi-bold;
    border-bottom: 1px solid $iron;
  }

}
