html,
:root {
  font-size: $base-fz / 16px * 100%; // sets rem base at 15px;
}

body {
  font-family: $ff--ss-serif;
  line-height: $base-lh;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
.Heading-title--1,
.Heading-title--2 {
  line-height: $lh--l;
}

h2,
h3,
h4,
h5,
.Heading-title--2,
.Heading-title--3,
.Heading-title--4,
.Heading-title--5 {
  margin-top: $base-lh;
  margin-bottom: $base-lh;
  font-weight: $fw--semi-bold;
}

h3,
h4,
h5,
.Heading-title--3,
.Heading-title--4,
.Heading-title--5 {
  line-height: $base-lh;
}

h1,
.Heading-title--1 {
  margin-top: $lh--l;
  margin-bottom: $lh--l;
  font-size: rem(40px);
  font-weight: $base-fw;
}

h2,
.Heading-title--2 {
  font-size: $fz--xxl;
}

h3,
.Heading-title--3 {
  font-size: $fz--xl;
}

h4,
.Heading-title--4 {
  font-size: $fz--l;
}

h5,
.Heading-title--5 {
  font-size: rem(15px);
}

p,
.BodyText {
  margin-top: $base-mg;
  margin-bottom: $base-mg;
  font-size: $base-fz;
  line-height: $base-lh;
}

small,
.BodyText--smaller {
  font-size: $fz--s;
  line-height: $base-lh;
}

label,
.Label {
  line-height: $base-lh;
}

.Label--inline {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}
