html,
:root {
  font-size: $base-fz / 16px * 100%; // sets rem base at 15px;
}

body {
  font-family: $ff--ss-serif;
  line-height: $base-lh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
.Heading-title--1,
.Heading-title--2 {
  line-height: $lh--l;
}

h2,
h3,
h4,
h5,
.Heading-title--2,
.Heading-title--3,
.Heading-title--4,
.Heading-title--5 {
  margin-top: r(4);
  margin-bottom: r(4);
  font-weight: $fw--semi-bold;
}

h3,
h4,
h5,
.Heading-title--3,
.Heading-title--4,
.Heading-title--5 {
  line-height: $base-lh;
}

h1,
.Heading-title--1 {
  margin-top: $lh--l;
  margin-bottom: $lh--l;
  font-size: fz(5);
  font-weight: $base-fw;
}

h2,
.Heading-title--2 {
  font-size: fz(4);
}

h3,
.Heading-title--3 {
  font-size: fz(3);
}

h4,
.Heading-title--4 {
  font-size: fz(2);
}

h5,
.Heading-title--5 {
  font-size: fz(1);
}

p,
.BodyText {
  margin-top: r(2);
  margin-bottom: r(2);
  font-size: fz(0);
  line-height: $base-lh;
  font-feature-settings: 'kern' 1, 'onum' 1, 'liga' 1;
}

small,
.BodyText--smaller {
  display: inline-block;
  font-size: $fz--s;
  line-height: r(2);
}
