@if $import-avatar {

  .Avatar {
    display: inline-block;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    color: $white;
    background-color: nth($avatar-colors, 1);
    border-radius: 50%;
    overflow: hidden;
  }

  .Avatar--empty {
    color: $shuttle-gray;
    background-color: transparent;
    box-shadow: inset 0 0 0 1px $base-border-color;
  }

  .Avatar--squared {
    border-radius: $avatar-squared-radius;
  }

}
