$avatar-size: $base-lh + $base-lh/2;

.Avatar {
  display: inline-block;
  width: $avatar-size;
  height: $avatar-size;
  margin: $mg--xs 0;
  line-height: $avatar-size;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
}

.Avatar-initials {
  height: $avatar-size;
  font-size: $base-fz;
  text-align: center;
  color: $white;
}
