.Avatar {
  display: inline-block;
  width: $base-line-height * 3;
  height: $base-line-height * 3;
  line-height: $base-line-height * 3;
  border-radius: 50%;
  overflow: hidden;
}

.Avatar-initials {
  height: $base-line-height * 3;
  font-size: $base-font-size;
  text-align: center;
  color: $white;
}
