.Avatar--xs {
  width: $avatar-size;
  height: $avatar-size;
  font-size: $font-size--s;
  line-height: $avatar-size;

  &.Avatar-initials {
    height: $avatar-size;
  }
}

.Avatar--s {
  width: $avatar-size * 2;
  height: $avatar-size * 2;
  font-size: $font-size--s;
  line-height: $avatar-size * 2;

  &.Avatar-initials {
    height: $avatar-size * 2;
  }
}

.Avatar--l {
  width: $avatar-size * 4;
  height: $avatar-size * 4;
  font-size: $font-size--l;
  line-height: $avatar-size * 4;
}
