@if $import-avatar {

  $avatar-rounded: true !default;

  $avatar-size--s: r(4) !default;
  $avatar-size--m: r(7) !default;
  $avatar-size--l: r(9) !default;

  $avatar-colors: $gray-chateau $salmon $curious-blue $mint $saffron;

}
