$avatar-size--s: r(6) !default;
$avatar-size--m: r(8) !default;
$avatar-size--l: r(10) !default;
$avatar-size--xl: r(14) !default;

$avatar-squared-radius: rem(3px) !default;

$avatar-colors: $gray-chateau $jelly-bean $saffron $mint $salmon $mandy;
