@if $import-dropdown and $import-pseudo-classes {

  .Dropdown-item {
    &:hover {
      background: $porcelain;
    }

    &:focus,
    &:active {
      background: $iron;
      outline: none;
    }
  }

}
