@if $import-dropdown and $import-pseudo-classes {

  .Dropdown-item {
    &:hover {
      color: $dropdown-item-hover-color;
      background: $dropdown-item-hover-bg;

      &:after {
        color: $white;
      }
    }

    &:focus,
    &:active {
      color: $dropdown-item-focus-color;
      background: $dropdown-item-selected-bg;
      outline: none;

      &:after {
        color: $mint;
      }
    }
  }

}
