@if $import-form and $import-radio {

  .Radio {
    display: block;

    +.Radio {
      margin-top: $radio-space-between;
    }
  }

  .Radio--inline {
    display: inline-block;
    margin-right: $radio-space-between;

    &:last-child {
      margin-right: 0;
    }

    +.Radio--inline {
      margin-top: 0;
    }
  }

  .Radio-label {
    @include Label;
    width: 100%;
    line-height: $radio-height;

    @if $import-icons {
      &:before {
        @include Icon--radio;
        margin-right: $radio-inner-space;
        font-family: "tapestry-icons";
        font-size: $radio-height;
        font-weight: normal;
        vertical-align: bottom;
        color: $radio-base-color;
        transition: color .2s ease-in-out;
      }
    }
  }

  .Radio-input {
    display: none;

    @if $import-icons {
      &:checked + .Radio-label {
        &:before {
          @include Icon--checkedRadio;
          color: $radio-checked-color;
        }
      }
    }

    &:disabled {
      + .Radio-label {
        cursor: not-allowed;
      }

      + .Radio-label:before {
        color: $form-disabled-color;
      }
    }
  }

}
