$radio-height: r(4) !default;
$radio-base-color: $silver-sand !default;
$radio-hover-color: $slate-gray !default;
$radio-checked-color: $mint !default;

$radio-inner-space: $mg--s !default;
$radio-space-between: r(2) !default;
