.Meter {
  position: relative;
  width: 100%;
  height: $lh--s;
  background: $porcelain;
  overflow: hidden;
}

.Meter-bar {
  @include pos(a 0 null null 0);
  height: 100%;
  background: $curious-blue;
  transition: width .3s ease-out;
}

.Meter,
.Meter-bar {
  border-radius: $meter-radius;
}
