$meter-radius: $base-radius * 2;

.Meter {
  position: relative;
  width: 100%;
  height: $base-line-height / 2;
  background: $porcelain;
  overflow: hidden;
}

.Meter-bar {
  @include position(a 0 null null 0);
  height: 100%;
  background: $curious-blue;
  transition: width .3s ease-out;
}

.Meter,
.Meter-bar {
  border-radius: $meter-radius;
}
