@if $import-meter {

  .Meter {
    position: relative;
    width: 100%;
    height: $meter-height;
    background: $meter-base-bg;
    overflow: hidden;
  }

  .Meter-bar {
    @include pos(a 0 null null 0);
    height: 100%;
    background: $boston-blue;
    transition: width .3s ease-out;
  }

  .Meter,
  .Meter-bar {
    border-radius: $meter-radius;
  }

}
