@if $import-meter {

  .Meter--s {
    height: $small-meter-height;
  }

  .Meter--s,
  .Meter-bar--s {
    border-radius: $small-meter-radius;
  }

  .Meter--l {
    height: $large-meter-height;
  }

  .Meter--l,
  .Meter-bar--l {
    border-radius: $large-meter-radius;
  }

}
