$meter-height: r(1) !default;
$meter-radius: $meter-height / 2 !default;

$large-meter-height: r(3) !default;
$large-meter-radius: $large-meter-height / 2 !default;

$small-meter-height: 2px !default;
$small-meter-radius: 0 !default;

$meter-base-bg: $porcelain !default;
$meter-bar-bg: $boston-blue !default;

$meter-info-status-bar-bg: $info !default;
$meter-info-status-selector: unquote("[data-threshold=\"75\"]") !default;

$meter-error-status-bar-bg: $error !default;
$meter-error-status-selector: unquote("[data-threshold=\"99\"]") !default;
