@if $import-form {

  $form-base-color: $limed-spruce !default;
  $form-bg: $white !default;
  $form-disabled-color: $gray-chateau !default;
  $form-disabled-bg: $alabaster !default;
  $form-hover-border-color: $gray-chateau !default;
  $form-focus-border-color: $gray-chateau !default;
  $form-focus-color: $limed-spruce !default;

}
