$form-base-color: $shuttle-gray !default;
$form-bg: $white !default;
$form-disabled-color: $gray-chateau !default;
$form-disabled-bg: $porcelain !default;
$form-hover-border-color: $gray-chateau !default;
$form-focus-border-color: $gray-chateau !default;
$form-focus-color: $shuttle-gray !default;
