@if $import-panel {

  .Panel-footer {
    display: flex;
    flex-shrink: 0;
  }

  .Panel-footerBtn {
    flex: 1 1 auto;
    padding: r(4);
    border-radius: 0;

    +.Panel-footerBtn {
      margin-left: 0;
    }

    &.Btn[disabled] {
      border-radius: 0;
    }
  }

}
