@if $import-panel {

  .Panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    background: $venice-blue;
    user-select: none;
  }

  .PanelHeader-btn {
    width: $modal-header-btn-width;
    align-self: stretch;
    padding: r(4) 0;
    color: $regent-st-blue;
  }

  .Panel-title {
    @include ellipsis;
    flex-grow: 1;
    margin: 0;
    padding: r(4) 0 r(4) $modal-header-btn-width;
    font-size: $fz--m;
    font-weight: $fw--semi-bold;
    line-height: $base-lh;
    text-align: center;
    color: $white;

    .PanelHeader-btn + & {
      padding-left: 0;
    }
  }


}
