@if $import-panel {

  .Panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 0;
    background: $venice-blue;
    user-select: none;
  }

  .PanelHeader-btn {
    margin-left: auto;
    padding: r(2) $pd--m;
    line-height: $panel-header-height;
    color: $regent-st-blue;

    .Icon {
      vertical-align: middle;
    }
  }

  .Panel-title {
    @include ellipsis;
    flex-grow: 1;
    margin: 0;
    padding: r(2) $base-pd;
    font-size: $fz--m;
    font-weight: $fw--semi-bold;
    line-height: $panel-header-height;
    text-align: left;
    color: $white;
  }

}
