.Panel-header {
  display: flex;
  padding: 0;
  background: $deep-sea-green;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}

.PanelHeader-btn {
  padding: r(2) $pd--m;
  line-height: $panel-header-height;
  color: $regent-st-blue;

  .Icon {
    vertical-align: middle;
  }
}

.Panel-title {
  @include ellipsis;
  flex-grow: 1;
  margin: 0;
  padding: r(2) $base-pd;
  font-size: $fz--l;
  font-weight: $fw--semi-bold;
  line-height: $panel-header-height;
  text-align: left;
  color: $white;
}
