.Menu {
  display: block;
  margin: 0;
  padding: $pd--s 0;
  font-size: $base-fz;
  border-bottom: 1px solid $deep-sea-green;
}

.Menu-item {
  display: block;
  padding: $pd--s 0;
  font-weight: $fw--bolder;
  text-transform: uppercase;
  text-decoration: none;
  // needed to overide link default color
  color: inherit;
  cursor: pointer;
}

.Menu-itemWrap,
.Menu-item,
.Menu-separator {
  margin: 0;
  list-style: none;
}

.Menu-itemIcon {
  display: inline-block;
  width: $fz--xl;
  margin-right: $mg--s;
  line-height: 1;
  text-align: center;
}
