.Menu {
  display: block;
  margin: 0;
  padding: $padding--s 0;
  font-size: $base-font-size;
  border-bottom: 1px solid $deep-sea-green;
}

.Menu-item {
  display: block;
  padding: $padding--s 0;
  font-weight: $font-weight--strong;
  text-transform: uppercase;
  text-decoration: none;
  // needed to overide link default color
  color: inherit;
  cursor: pointer;
}

.Menu-itemWrap,
.Menu-item,
.Menu-separator {
  margin: 0;
  list-style: none;
}

.Menu-itemIcon {
  display: inline-block;
  width: $font-size--xl;
  margin-right: $margin--s;
  line-height: 1;
  text-align: center;
}
