.has-tooltip {
  position: relative;

  &:before {
    content: "";
    display: none;
    position: absolute;
    border-style: solid;
  }

  &:after {
    content: attr(aria-label);
    display: none;
    position: absolute;
    padding: $pd--s;
    font-size: $fz--s;
    line-height: $base-lh;
    text-align: center;
    color: $white;
    background-color: $tooltip-bg;
    border-radius: $base-radius;
    cursor: default;
    pointer-events: none;
  }

  &:hover {
    &:before,
    &:after {
      display: block;
    }
  }
}
