.has-tooltip,
.has-tooltip--top,
.has-tooltip--right,
.has-tooltip--bottom,
.has-tooltip--left {
  @extend %u-posr;

  &:after {
    content: attr(aria-label);
    display: none;
    position: absolute;
    padding: 2px $pd--s;
    font-size: $fz--s * .8;
    line-height: $base-lh;
    text-align: center;
    word-wrap: break-word;
    white-space: pre;
    color: $white;
    background-color: $tooltip-bg;
    border-radius: $base-radius;
    box-shadow: 0 1px 1.5px 0 rgba($gray-chateau, .5);
    cursor: default;
    pointer-events: none;
  }

  &:before {
    content: "";
    display: none;
    position: absolute;
    border-style: solid;
  }

  &:hover {
    &:before,
    &:after {
      display: block;
    }
  }
}
