$tooltip-arrow-size: rem(5px);
$tooltip-bg: rgba(0, 0, 0, .8);

.has-tooltip {
  display: inline-block;
  position: relative;

  &:after {
    @include pos(a null null 100% 50%);
    content: attr(aria-label);
    display: none;
    margin-bottom: $tooltip-arrow-size;
    padding: 2px $pd--s;
    font-size: $fz--s * .8;
    text-align: center;
    word-wrap: break-word;
    white-space: pre;
    color: $white;
    background-color: $tooltip-bg;
    border-radius: $base-radius;
    cursor: default;
    pointer-events: none;
    transform: translateX(-50%);
  }

  &:before {
    @include pos(a null null 100% 50%);
    content: "";
    display: none;
    border-width: $tooltip-arrow-size $tooltip-arrow-size 0;
    border-color: $tooltip-bg $transparent $transparent;
    border-style: solid;
    transform: translateX(-50%);
  }

  &:hover {
    &:before,
    &:after {
      display: block;
    }
  }
}
