.has-tooltip,
.has-tooltip--right {
  &:before,
  &:after {
    top: 50%;
    transform: translateY(-50%);
  }
}

.has-tooltip--top,
.has-tooltip--bottom {
  &:before,
  &:after {
    top: auto;
    left: 50%;
    transform: translateX(-50%);
  }
}



.has-tooltip {
  &:before,
  &:after {
    right: 100%;
  }

  &:before {
    margin-right: $tooltip-space-between-content;
    border-width: $tooltip-arrow-size 0 $tooltip-arrow-size $tooltip-arrow-size;
    border-color: $transparent $transparent $transparent $tooltip-bg;
  }

  &:after {
    margin-right: $tooltip-arrow-size + $tooltip-space-between-content;
  }
}

.has-tooltip--right {
  &:before,
  &:after {
    left: 100%;
  }

  &:before {
    margin-left: $tooltip-space-between-content;
    border-width: $tooltip-arrow-size $tooltip-arrow-size $tooltip-arrow-size 0;
    border-color: $transparent $tooltip-bg $transparent $transparent;
  }

  &:after {
    margin-left: $tooltip-arrow-size + $tooltip-space-between-content;
  }
}

.has-tooltip--top {
  &:before,
  &:after {
    bottom: 100%;
  }

  &:before {
    margin-bottom: $tooltip-space-between-content;
    border-width: $tooltip-arrow-size $tooltip-arrow-size 0;
    border-color: $tooltip-bg $transparent $transparent;
  }

  &:after {
    margin-bottom: $tooltip-arrow-size + $tooltip-space-between-content;
  }
}

.has-tooltip--bottom {
  &:before,
  &:after {
    top: 100%;
  }

  &:after {
    margin-top: $tooltip-arrow-size + $tooltip-space-between-content;
  }

  &:before {
    margin-top: $tooltip-space-between-content;
    border-width: 0 $tooltip-arrow-size $tooltip-arrow-size;
    border-color: $transparent $transparent $tooltip-bg;
  }
}
