$badge-color: $white !default;
$badge-bg: $gray-chateau !default;

$badge-outline-color: $slate-gray !default;
$badge-outline-bg: $transparent !default;
$badge-outline-border-color: $base-border-color !default;
