@if $import-notification {

  .has-notification {
    position: relative;
  }

  .Notification {
    display: inline-block;
    padding: $notification-pdv $notification-pdh;
    color: $notification-base-color;
    background: $notification-base-bg;
    border-radius: $base-radius;
  }

}
