.Notification--primary {
  background: $venice-blue;
}

.Notification--validate {
  background: $mint;
}

.Notification--info {
  background: $saffron;
}

.Notification--error {
  background: $mandy;
}
