.Notification--tc {
  top: $mg--s;
  right: auto;
  left: 50%;
  transform: translateX(-50%);
}

.Notification--bl {
  right: auto;
  bottom: $mg--s;
  left: $mg--s;
}

.Notification--br {
  right: $mg--s;
  bottom: $mg--s;
  left: auto;
}
