@if $import-notification {

  .Notification--tc {
    top: $notification-outer-space;
    left: 50%;
    transform: translateX(-50%);
  }

  .Notification--tr {
    top: $notification-outer-space;
    right: $notification-outer-space;
  }

  .Notification--rc {
    top: 50%;
    right: $notification-outer-space;
    transform: translateY(-50%);
  }

  .Notification--br {
    right: $notification-outer-space;
    bottom: $notification-outer-space;
  }

  .Notification--bc {
    bottom: $notification-outer-space;
    left: 50%;
    transform: translateX(-50%);
  }

  .Notification--bl {
    bottom: $notification-outer-space;
    left: $notification-outer-space;
  }

  .Notification--lc {
    top: 50%;
    left: $notification-outer-space;
    transform: translateY(-50%);
  }

  .Notification--tl {
    top: $notification-outer-space;
    left: $notification-outer-space;
  }

}
