.Notification--tc {
  top: $notification-outer-space;
  right: auto;
  left: 50%;
  transform: translate3d(-50%, 0 0);
}

.Notification--tr {
  top: $notification-outer-space;
  right: $notification-outer-space;
  bottom: auto;
  left: auto;
  margin-left: $notification-outer-space;
}

.Notification--bl {
  right: auto;
  bottom: $notification-outer-space;
  left: $notification-outer-space;
  margin-right: $notification-outer-space;
}

.Notification--br {
  right: $notification-outer-space;
  bottom: $notification-outer-space;
  left: auto;
}
