@if $import-notification {

  .Notification--fixed {
    position: fixed;
    z-index: zi("notification");
    box-shadow: $notification-shadow;
  }

  .Notification--block {
    display: block;
    width: 100%;
  }

}
