@if $import-notification {

  $notification-pdv: $pd--s !default;
  $notification-pdh:  $base-pd !default;

  $notification-base-color: $white !default;
  $notification-base-bg: $neutral !default;
  $notification-outer-space: $mg--s !default;

  $notification-shadow: 0 1px 1.5px 0 rgba($gray-chateau, .5) !default;

}
