%Label {
  display: inline-block;
  font-size: $fz--m;
  line-height: $base-lh;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
}

.Label {
  @extend %Label;
}

.Label--block {
  display: block;
  margin-bottom: $mg--xs;
}
