.Label {
  display: inline-block;
  margin-bottom: $mg--xs;
  font-size: $fz--m;
  line-height: $base-lh;
  vertical-align: middle;
  cursor: pointer;

  + .Input--inline {
    margin-left: $mg--xs;
  }
}

.Label--inline {
  margin-bottom: 0;
}
