// States

$neutral: $gray-chateau !default;
$primary: $venice-blue !default;
$info: $saffron !default;
$validate: $mint !default;
$error: $mandy !default;



// Borders

$base-border-color: $iron !default;
$base-overlay-bg: rgba($shuttle-gray, .8) !default;
