// Color name based on Name That color project http://chir.ag/projects/name-that-color/
// Please order colors from light to dark

$transparent: transparent !default;
$white: #fff !default;
$black: #000 !default;

// greys
$alabaster: #f7f7f7;
$porcelain: #ebeeef;
$iron: #d5d9da;
$gray-chateau: #a1a9ae;
$slate-gray: #708189;
$limed-spruce: #3a434c;

// blues
$regent-st-blue: #aed7e8;
$curious-blue: #289bc4;
$eastern-blue: #258aae;
$venice-blue: #07698d;
$atoll: #0d5c7c;
$deep-sea-green: #084d66;

// greens
$emerald: #52c699;
$mint: #46b489;
$ocean-green: #41a07a;

// yellows
$saffron: #f1bc33;
$galliano: #d5a82d;

// orange
$salmon: #f7896d;

// reds
$mandy: #e25c5b;
$fuzzy-wuzzy-brown: #c85450;
