// Color name based on Name That color project http://chir.ag/projects/name-that-color/
// Please order colors from light to dark

$transparent: transparent !default;
$white: #fff !default;
$black: #000 !default;



// Grey

$alabaster: #f7f7f7;
$porcelain: #ebeeef;
$iron: #d5d9da;
$silver-sand: #bac1c3;
$gray-chateau: #a1a9ae;
$slate-gray: #708189;
$shuttle-gray: #515f65;
$outer-space: #394246;


// Blue

$regent-st-blue: #aed7e8;
$downy: #6ab4ce;
$boston-blue: #2f99ba;
$jelly-bean: #2485a7;
$venice-blue: #07698d;
$atoll: #0d5c7c;
$chathams-blue: #10526d;



// Yellow

$mustard: #ffe35f;
$saffron: #f1bc33;
$galliano: #d5a82d;


// Green

$emerald: #52c699;
$mint: #46b489;
$ocean-green: #41a07a;



// Salmon

$mona-lisa: #ffa78f;
$salmon: #f7896d;
$terracotta: #e57765;



// Red

$apricot: #ea7d7d;
$mandy: #e25c5b;
$fuzzy-wuzzy-brown: #c55752;
