$ff--ss-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$ff--serif: Georgia, Cambria, "Times New Roman", Times, serif !default;

$f-path: unquote("../fonts") !default;

// Base font size in pixels.
$base-fz: 14px !default;

$base-fz--stripped: $base-fz / ($base-fz * 0 + 1);
$base-fz--rem: rem($base-fz);

// Vertical Unit
$base-vu: 5.5px !default;

// Line Height Multiple
$base-lhm: 4 !default;

// Modular Scale Ratio
$ms-ratio: 1.2 !default;

// Base Line Height
$base-lh: rem($base-vu * $base-lhm) !default;
$lh--s: r(2);
$lh--l: r(8);

// Font sizes
$fz--xxs: fz(-3);
$fz--xs: fz(-2);
$fz--s: fz(-1);
$fz--m: fz(0);
$fz--l: fz(1);
$fz--xl: fz(2);
$fz--xxl: fz(3);



$base-fw: 400;
$fw--semi-bold: 600;
