// Font

$ff--ss-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !default;
$ff--serif: Georgia, Cambria, "Times New Roman", Times, serif !default;
$ff--monospace: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;



// Base font-sizes

$base-fz: 14px !default;
$base-fz--rem: rem($base-fz);



// Vertical unit

$base-vu: 5px !default;



// Line Height multiple

$base-lhm: 4 !default;



// Modular Scale ratio

$ms-ratio: 1.2 !default;



// Line heights

$base-lh: rem($base-vu * $base-lhm) !default;

$lh--s: r(3);
$lh--m: $base-lh;
$lh--l: r(6);
$lh--xl: r(8);




// Font sizes

$fz--xxs: fz(-3);
$fz--xs: fz(-2);
$fz--s: fz(-1);
$fz--m: fz(0);
$fz--l: fz(1);
$fz--xl: fz(2);
$fz--xxl: fz(3);



// Font weights

$base-fw: 400;
$fw--semi-bold: 600;
