$ff--ss-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif !default;
$ff--serif: Georgia, Cambria, "Times New Roman", Times, serif !default;

$base-fz: 15px !default;
$base-fz--stripped: $base-fz / ($base-fz * 0 + 1);
$base-fz--rem: rem($base-fz);

$sketch-lh: 12 !default;
$base-lh: ($sketch-lh * 2) / $base-fz--stripped * 1rem !default;

$fz--s: $base-fz--rem * .8666666667;
$fz--m: $base-fz--rem;
$fz--l: $base-fz--rem * 1.1333333333;
$fz--xl: $base-fz--rem * 1.6;
$fz--xxl: $base-fz--rem * 1.8;

$lh--s: $base-lh / 2;
$lh--m: $base-lh;
$lh--l: $base-lh * 2;

$base-fw: 400;
$fw--semi-bold: 600;
