$white: #fff;

// Blues
$blue: #289BC4;
$blue--hover: #258AAE;

$navy: #07698D;
$navy--hover: #0D5C7C;

// Greys
$grey: #708189;
$grey--medium: #A1A9AE;

// Greens
$green: #46B489;
$green--hover: #41A07A;

// Yellows
$yellow: #F1BC33;
$yellow--hover: #D5A82D;

// Reds
$red: #E25C5B;
$red--hover: #C85450;
