$font-family-sans-serif: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
$font-family-serif: Georgia, Cambria, "Times New Roman", Times, serif;
$base-font-size: 15px !default;
$base-font-size--s: 13px !default;
$base-line-height: rem($base-font-size * 24/15) !default; // Sketch line-height * 2 values ~= 1,3235
$font-weight--strong: 600;


$base-padding: $base-line-height;
$base-padding--s: $base-padding / 2;
$base-padding--l: $base-padding * 2;

$base-margin: $base-line-height;
$base-margin--s: $base-margin / 2;
$base-margin--l: $base-margin * 2;


$base-radius: rem(3px) !default;


// Breakpoints

$breakPhablet: 414px; // iPhone6+ width in Portrait mode
$breakTablet: 768px;
$breakLaptop: 1024px;
$breakDesktop: 1280px;
