<div id="s-avatar" class="s-Module s-Module--avatar"><h1 id="avatar" class="s-Title--1">Avatar</h1><h2 id="sizes" class="s-Title--2">Sizes</h2><img class="Avatar Avatar--s" src="https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png" alt=" " />
<img class="Avatar" src="https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png" alt=" " />
<img class="Avatar Avatar--l" src="https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png" alt=" " />
<pre class="code"><code class="html">&lt;img <span class="hljs-keyword">class</span>=<span class="hljs-string">"Avatar Avatar--s"</span> src=<span class="hljs-string">"https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png"</span> alt=<span class="hljs-string">" "</span> /&gt;
&lt;img <span class="hljs-keyword">class</span>=<span class="hljs-string">"Avatar"</span> src=<span class="hljs-string">"https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png"</span> alt=<span class="hljs-string">" "</span> /&gt;
&lt;img <span class="hljs-keyword">class</span>=<span class="hljs-string">"Avatar Avatar--l"</span> src=<span class="hljs-string">"https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png"</span> alt=<span class="hljs-string">" "</span> /&gt;</code></pre><h2 id="with-initials" class="s-Title--2">With initials</h2><div class="Avatar Avatar--color1 Avatar--s">AB</div>
<div class="Avatar Avatar--color2">UO</div>
<div class="Avatar Avatar--color3 Avatar--l">GC</div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Avatar Avatar--color1 Avatar--s"</span>&gt;AB&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Avatar Avatar--color2"</span>&gt;UO&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Avatar Avatar--color3 Avatar--l"</span>&gt;GC&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre><h2 id="empty" class="s-Title--2">Empty</h2><p><code>Avatar--s</code> should not be use with <code>Avatar--empty</code></p>
<div class="Avatar Avatar--empty">
    <i class="Icon Icon--bar"></i>
</div>
<div class="Avatar Avatar--l Avatar--empty">
    <i class="Icon Icon--like"></i>
</div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Avatar Avatar--empty"</span>&gt;
    &lt;i <span class="hljs-type">class</span>=<span class="hljs-string">"Icon Icon--bar"</span>&gt;&lt;/i&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Avatar Avatar--l Avatar--empty"</span>&gt;
    &lt;i <span class="hljs-type">class</span>=<span class="hljs-string">"Icon Icon--like"</span>&gt;&lt;/i&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre></div>