<div id="s-box" class="s-Module s-Module--box"><h1 id="box" class="s-Title--1">Box</h1><p>A Box is used to create a grouping of related content.
By default, boxes don&#39;t have paddings, you need to structure them this way <code>box-header</code> and/or <code>box-content</code></p>
<div class="Box">
  <div class="Box-header">
    <h4 class="Box-title">Title</h4>
  </div>
  <div class="Box-content">
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
    Donec eu libero sit amet quam egestas semper.
    Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
  </div>
</div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Box"</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Box-header"</span>&gt;
    &lt;h4 <span class="hljs-type">class</span>=<span class="hljs-string">"Box-title"</span>&gt;Title&lt;/h4&gt;
  &lt;/<span class="hljs-keyword">div</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Box-content"</span>&gt;
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
    Donec eu libero sit amet quam egestas semper.
    Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
  &lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre><h2 id="horizontal-boxes" class="s-Title--2">horizontal Boxes</h2><div class="Boxes">
  <div class="Box">
    <div class="Box-content">
      Pellentesque habitant
    </div>
  </div>
  <div class="Box">
    <div class="Box-content">
      Pellentesque habitant
    </div>
  </div>
  <div class="Box">
    <div class="Box-content">
      Pellentesque habitant
    </div>
  </div>
</div>
<div class="Boxes Boxes--horizontal">
  <div class="Box">
    <div class="Box-header">
      <h4 class="Box-title">Title</h4>
    </div>
    <div class="Box-content">
      Pellentesque habitant
    </div>
  </div>
  <div class="Box">
    <div class="Box-header">
      <h4 class="Box-title">Title</h4>
    </div>
    <div class="Box-content">
      Pellentesque habitant
    </div>
  </div>
</div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Boxes"</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Box"</span>&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Box-content"</span>&gt;
      Pellentesque habitant
    &lt;/<span class="hljs-keyword">div</span>&gt;
  &lt;/<span class="hljs-keyword">div</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Box"</span>&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Box-content"</span>&gt;
      Pellentesque habitant
    &lt;/<span class="hljs-keyword">div</span>&gt;
  &lt;/<span class="hljs-keyword">div</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Box"</span>&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Box-content"</span>&gt;
      Pellentesque habitant
    &lt;/<span class="hljs-keyword">div</span>&gt;
  &lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Boxes Boxes--horizontal"</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Box"</span>&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Box-header"</span>&gt;
      &lt;h4 <span class="hljs-type">class</span>=<span class="hljs-string">"Box-title"</span>&gt;Title&lt;/h4&gt;
    &lt;/<span class="hljs-keyword">div</span>&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Box-content"</span>&gt;
      Pellentesque habitant
    &lt;/<span class="hljs-keyword">div</span>&gt;
  &lt;/<span class="hljs-keyword">div</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Box"</span>&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Box-header"</span>&gt;
      &lt;h4 <span class="hljs-type">class</span>=<span class="hljs-string">"Box-title"</span>&gt;Title&lt;/h4&gt;
    &lt;/<span class="hljs-keyword">div</span>&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Box-content"</span>&gt;
      Pellentesque habitant
    &lt;/<span class="hljs-keyword">div</span>&gt;
  &lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre><h2 id="floated-content" class="s-Title--2">Floated content</h2><div class="Box">
  <div class="Box-content">
    <button type="button" class="Btn u-push">
      Float
    </button>
    Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
  </div>
</div>
<pre class="code"><code class="html">&lt;div <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"Box"</span>&gt;
  &lt;div <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"Box-content"</span>&gt;
    &lt;button <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"button"</span> <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"Btn u-push"</span>&gt;
      <span class="hljs-type">Float</span>
    &lt;/button&gt;
    <span class="hljs-type">Pellentesque</span> habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    <span class="hljs-type">Vestibulum</span> tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
  &lt;/div&gt;
&lt;/div&gt;</code></pre><h2 id="complex-example" class="s-Title--2">Complex example</h2><p>This example shows how a table reacts if inserted outside <code>box-content</code></p>
<div class="Box">
  <div class="Box-header">
    <h4 class="Box-title u-pull">Title</h4>
    <nav class="u-push">
      <a class="" href="#">Foo</a>
      <a class="" href="#">Bar</a>
      <a class="" href="#">Baz</a>
    </nav>
  </div>
  <div class="Box-content">
    <p> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
    Donec eu libero sit amet quam egestas semper.
    Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
  </div>
  <table class="Table Table--actionnable">
    <thead class="Table-head">
      <th class="Table-cell Table-cell--header u-tal">Name</th>
      <th class="Table-cell Table-cell--header">Foo</th>
      <th class="Table-cell Table-cell--header">Bar</th>
    </thead>
    <tbody class="Table-body">
      <tr class="Table-row">
        <td class="Table-cell Table-cell--important u-tal">A name</td>
        <td class="Table-cell">Baz</td>
        <td class="Table-cell">FooBar</td>
      </tr>
      <tr class="Table-row">
        <td class="Table-cell Table-cell--important u-tal">Another name</td>
        <td class="Table-cell">FooBaz</td>
        <td class="Table-cell">FooBarBaz</td>
      </tr>
    </tbody>
  </table>
</div>
<pre class="code"><code class="html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Box"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Box-header"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">h4</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Box-title u-pull"</span>&gt;</span>Title<span class="hljs-tag">&lt;/<span class="hljs-title">h4</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">nav</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"u-push"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">""</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>Foo<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">""</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>Bar<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">""</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#"</span>&gt;</span>Baz<span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">nav</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Box-content"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">p</span>&gt;</span> Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
    Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
    Donec eu libero sit amet quam egestas semper.
    Aenean ultricies mi vitae est. Mauris placerat eleifend leo.<span class="hljs-tag">&lt;/<span class="hljs-title">p</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">table</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Table Table--actionnable"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">thead</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Table-head"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">th</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Table-cell Table-cell--header u-tal"</span>&gt;</span>Name<span class="hljs-tag">&lt;/<span class="hljs-title">th</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">th</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Table-cell Table-cell--header"</span>&gt;</span>Foo<span class="hljs-tag">&lt;/<span class="hljs-title">th</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">th</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Table-cell Table-cell--header"</span>&gt;</span>Bar<span class="hljs-tag">&lt;/<span class="hljs-title">th</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">thead</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">tbody</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Table-body"</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">tr</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Table-row"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Table-cell Table-cell--important u-tal"</span>&gt;</span>A name<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Table-cell"</span>&gt;</span>Baz<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Table-cell"</span>&gt;</span>FooBar<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
      <span class="hljs-tag">&lt;<span class="hljs-title">tr</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Table-row"</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Table-cell Table-cell--important u-tal"</span>&gt;</span>Another name<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Table-cell"</span>&gt;</span>FooBaz<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
        <span class="hljs-tag">&lt;<span class="hljs-title">td</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Table-cell"</span>&gt;</span>FooBarBaz<span class="hljs-tag">&lt;/<span class="hljs-title">td</span>&gt;</span>
      <span class="hljs-tag">&lt;/<span class="hljs-title">tr</span>&gt;</span>
    <span class="hljs-tag">&lt;/<span class="hljs-title">tbody</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">table</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></code></pre></div>