<div id="s-button" class="s-Module s-Module--button"><h1 id="buttons" class="s-Title--1">Buttons</h1><p>You can overide button size with 2 variables <code>$btn--pdv</code> &amp; <code>$btn--pdh</code> for vertical &amp; horizontal sizing.</p>
<button class="Btn">default button</button>
<button class="Btn Btn--outline">default outlined button</button>
<button class="Btn" aria-disabled="true" disabled>disabled button</button>
<pre class="code"><code class="html">&lt;button <span class="hljs-keyword">class</span>=<span class="hljs-string">"Btn"</span>&gt;<span class="hljs-keyword">default</span> button&lt;/button&gt;
&lt;button <span class="hljs-keyword">class</span>=<span class="hljs-string">"Btn Btn--outline"</span>&gt;<span class="hljs-keyword">default</span> outlined button&lt;/button&gt;
&lt;button <span class="hljs-keyword">class</span>=<span class="hljs-string">"Btn"</span> aria-disabled=<span class="hljs-string">"true"</span> disabled&gt;disabled button&lt;/button&gt;</code></pre><h2 id="sizes" class="s-Title--2">Sizes</h2><h3 id="small" class="s-Title--3">Small</h3><button class="Btn Btn--s">Small button</button>
<button class="Btn Btn--outline Btn--s">Small button</button>
<button class="Btn Btn--s" aria-disabled="true" disabled>Small button</button>
<pre class="code"><code class="html"><span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Btn Btn--s"</span>&gt;</span>Small button<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Btn Btn--outline Btn--s"</span>&gt;</span>Small button<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
<span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Btn Btn--s"</span> <span class="hljs-attribute">aria-disabled</span>=<span class="hljs-value">"true"</span> <span class="hljs-attribute">disabled</span>&gt;</span>Small button<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span></code></pre><h3 id="block" class="s-Title--3">Block</h3><button class="Btn Btn--alt Btn--block">Block button</button>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"Btn Btn--alt Btn--block"</span>&gt;<span class="hljs-keyword">Block </span><span class="hljs-keyword">button&lt;/button&gt;</span></code></pre><h3 id="expand" class="s-Title--3">Expand</h3><div class="BtnGroup Btn-expandContainer">
  <button class="Btn Btn--expand">Expanded button</button>
  <button class="Btn Btn--validate">Button</button>
</div>
<pre class="code"><code class="html"><span class="hljs-tag">&lt;<span class="hljs-title">div</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"BtnGroup Btn-expandContainer"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Btn Btn--expand"</span>&gt;</span>Expanded button<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Btn Btn--validate"</span>&gt;</span>Button<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">div</span>&gt;</span></code></pre><h3 id="squared" class="s-Title--3">Squared</h3><button class="Btn Btn--squared">
  <i class="Icon Icon--like"></i>
</button>
<pre class="code"><code class="html"><span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Btn Btn--squared"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Icon Icon--like"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span></code></pre><h3 id="circle" class="s-Title--3">Circle</h3><button class="Btn Btn--circle">
  <i class="Icon Icon--like"></i>
</button>
<pre class="code"><code class="html"><span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Btn Btn--circle"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">i</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Icon Icon--like"</span>&gt;</span><span class="hljs-tag">&lt;/<span class="hljs-title">i</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span></code></pre><h2 id="types" class="s-Title--2">Types</h2><button class="Btn Btn--raw">Raw button</button>
<pre class="code"><code class="html"><span class="hljs-tag">&lt;<span class="hljs-title">button</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Btn Btn--raw"</span>&gt;</span>Raw button<span class="hljs-tag">&lt;/<span class="hljs-title">button</span>&gt;</span></code></pre><button class="Btn">
  <i class="Btn-icon Icon Icon--like"></i>
  Button with icon
</button>
<button class="Btn has-icon">
  <i class="Btn-icon Icon Icon--like"></i>
  Button with icon
</button>
<pre class="code"><code class="html">&lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"Btn"</span>&gt;
  &lt;i <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"Btn-icon Icon Icon--like"</span>&gt;&lt;/i&gt;
  <span class="hljs-type">Button</span> <span class="hljs-keyword">with</span> icon
&lt;/button&gt;
&lt;button <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"Btn has-icon"</span>&gt;
  &lt;i <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"Btn-icon Icon Icon--like"</span>&gt;&lt;/i&gt;
  <span class="hljs-type">Button</span> <span class="hljs-keyword">with</span> icon
&lt;/button&gt;</code></pre><h2 id="colors" class="s-Title--2">Colors</h2><button class="Btn Btn--primary">primary button</button>
<button class="Btn Btn--alt">alt button</button>
<button class="Btn Btn--validate">validate button</button>
<button class="Btn Btn--info">info button</button>
<button class="Btn Btn--error">error button</button>
<br><br>
<button class="Btn Btn--primary Btn--outline">primary button</button>
<button class="Btn Btn--alt Btn--outline">alt button</button>
<button class="Btn Btn--validate Btn--outline">validate button</button>
<button class="Btn Btn--info Btn--outline">info button</button>
<button class="Btn Btn--error Btn--outline">error button</button>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"Btn Btn--primary"</span>&gt;primary <span class="hljs-keyword">button&lt;/button&gt;
</span>&lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"Btn Btn--alt"</span>&gt;alt <span class="hljs-keyword">button&lt;/button&gt;
</span>&lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"Btn Btn--validate"</span>&gt;validate <span class="hljs-keyword">button&lt;/button&gt;
</span>&lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"Btn Btn--info"</span>&gt;<span class="hljs-preprocessor">info</span> <span class="hljs-keyword">button&lt;/button&gt;
</span>&lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"Btn Btn--error"</span>&gt;error <span class="hljs-keyword">button&lt;/button&gt;
</span>&lt;<span class="hljs-keyword">br&gt;&lt;br&gt;
</span>&lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"Btn Btn--primary Btn--outline"</span>&gt;primary <span class="hljs-keyword">button&lt;/button&gt;
</span>&lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"Btn Btn--alt Btn--outline"</span>&gt;alt <span class="hljs-keyword">button&lt;/button&gt;
</span>&lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"Btn Btn--validate Btn--outline"</span>&gt;validate <span class="hljs-keyword">button&lt;/button&gt;
</span>&lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"Btn Btn--info Btn--outline"</span>&gt;<span class="hljs-preprocessor">info</span> <span class="hljs-keyword">button&lt;/button&gt;
</span>&lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"Btn Btn--error Btn--outline"</span>&gt;error <span class="hljs-keyword">button&lt;/button&gt;</span></code></pre></div>