<div id="s-button-group" class="Styleguide-module Styleguide-module--button-group"><h1 id="button-group" class="Styleguide-title--1">Button group</h1><div class="BtnGroup">
  <button class="Btn">Button A</button>
  <button class="Btn">Button B</button>
  <button class="Btn">Button C</button>
</div>
<pre class="code"><code class="html">&lt;div class=<span class="hljs-string">"BtnGroup"</span>&gt;
  &lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"Btn"</span>&gt;<span class="hljs-keyword">Button </span>A&lt;/<span class="hljs-keyword">button&gt;
</span>  &lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"Btn"</span>&gt;<span class="hljs-keyword">Button </span><span class="hljs-keyword">B&lt;/button&gt;
</span>  &lt;<span class="hljs-keyword">button </span>class=<span class="hljs-string">"Btn"</span>&gt;<span class="hljs-keyword">Button </span>C&lt;/<span class="hljs-keyword">button&gt;
</span>&lt;/div&gt;</code></pre></div>