<div id="s-collection" class="Styleguide-module Styleguide-module--collection"><h1 id="collection" class="Styleguide-title--1">Collection</h1><ul class="Collection" style="margin-bottom: 10px;">
  <li class="Collection-item">A</li>
  <li class="Collection-item">B</li>
  <li class="Collection-item">C</li>
</ul>
<ul class="Collection Collection--actionnable">
  <li class="Collection-item">A</li>
  <li class="Collection-item is-active">B</li>
  <li class="Collection-item">C</li>
</ul>
<pre class="code"><code class="html">&lt;ul <span class="hljs-keyword">class</span>=<span class="hljs-string">"Collection"</span> style=<span class="hljs-string">"margin-bottom: 10px;"</span>&gt;
  &lt;<span class="hljs-keyword">li</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"Collection-item"</span>&gt;A&lt;/<span class="hljs-keyword">li</span>&gt;
  &lt;<span class="hljs-keyword">li</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"Collection-item"</span>&gt;B&lt;/<span class="hljs-keyword">li</span>&gt;
  &lt;<span class="hljs-keyword">li</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"Collection-item"</span>&gt;C&lt;/<span class="hljs-keyword">li</span>&gt;
&lt;/ul&gt;
&lt;ul <span class="hljs-keyword">class</span>=<span class="hljs-string">"Collection Collection--actionnable"</span>&gt;
  &lt;<span class="hljs-keyword">li</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"Collection-item"</span>&gt;A&lt;/<span class="hljs-keyword">li</span>&gt;
  &lt;<span class="hljs-keyword">li</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"Collection-item is-active"</span>&gt;B&lt;/<span class="hljs-keyword">li</span>&gt;
  &lt;<span class="hljs-keyword">li</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"Collection-item"</span>&gt;C&lt;/<span class="hljs-keyword">li</span>&gt;
&lt;/ul&gt;</code></pre></div>