<div id="s-input" class="Styleguide-module Styleguide-module--input"><h1 id="inputs" class="Styleguide-title--1">Inputs</h1><ul class="Styleguide-list"><li>NB: <code>aria-label</code> is an attribute that can be used with an input when it is not possible to include a HTML label element.
<code>aria-label</code> must not be used when there is a visible label.</li>
</ul><p>Input is displayed as a 100% width by default.</p>
<div class="FormRow">
  <label class="Label">Foo</label>
  <input class="Input" type="text" placeholder="Basic input" aria-label="Input item">
</div>
<pre class="code"><code class="html">&lt;div <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"FormRow"</span>&gt;
  &lt;label <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"Label"</span>&gt;<span class="hljs-type">Foo</span>&lt;/label&gt;
  &lt;input <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"Input"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"text"</span> placeholder=<span class="hljs-string">"Basic input"</span> aria-label=<span class="hljs-string">"Input item"</span>&gt;
&lt;/div&gt;</code></pre><p>You can inline you inputs and label by adding <code>--inline</code> to their classes</p>
<div class="FormRow">
  <label class="Label Label--inline">Bar</label>
  <input class="Input Input--inline" type="text" placeholder="Input--block" aria-label="Input item">
</div>

<div class="FormRow">
  <input class="Input Input--inline" type="text" placeholder="Input--block" aria-label="Input item">
  <label class="Label Label--inline">Bar</label>
</div>
<pre class="code"><code class="html">&lt;div <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"FormRow"</span>&gt;
  &lt;label <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"Label Label--inline"</span>&gt;<span class="hljs-type">Bar</span>&lt;/label&gt;
  &lt;input <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"Input Input--inline"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"text"</span> placeholder=<span class="hljs-string">"Input--block"</span> aria-label=<span class="hljs-string">"Input item"</span>&gt;
&lt;/div&gt;

&lt;div <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"FormRow"</span>&gt;
  &lt;input <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"Input Input--inline"</span> <span class="hljs-class"><span class="hljs-keyword">type</span>=</span><span class="hljs-string">"text"</span> placeholder=<span class="hljs-string">"Input--block"</span> aria-label=<span class="hljs-string">"Input item"</span>&gt;
  &lt;label <span class="hljs-class"><span class="hljs-keyword">class</span>=</span><span class="hljs-string">"Label Label--inline"</span>&gt;<span class="hljs-type">Bar</span>&lt;/label&gt;
&lt;/div&gt;</code></pre><h2 id="addons" class="Styleguide-title--2">Addons</h2><div class="FormRow">
  <div class="InputGroup">
    <div class="Input-addOn Input-addOn--prefix">@</div>
    <input class="Input Input--block Input--prefixed" type="text" placeholder="Basic input with addon" aria-label="Input item">
  </div>
</div>
<div class="FormRow">
  <div class="InputGroup">
    <input class="Input Input--block Input--suffixed" type="text" placeholder="Input--block" aria-label="Input item">
    <div class="Input-addOn Input-addOn--suffix">.com</div>
  </div>
</div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"FormRow"</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"InputGroup"</span>&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Input-addOn Input-addOn--prefix"</span>&gt;@&lt;/<span class="hljs-keyword">div</span>&gt;
    &lt;input <span class="hljs-type">class</span>=<span class="hljs-string">"Input Input--block Input--prefixed"</span> type=<span class="hljs-string">"text"</span> placeholder=<span class="hljs-string">"Basic input with addon"</span> aria-label=<span class="hljs-string">"Input item"</span>&gt;
  &lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"FormRow"</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"InputGroup"</span>&gt;
    &lt;input <span class="hljs-type">class</span>=<span class="hljs-string">"Input Input--block Input--suffixed"</span> type=<span class="hljs-string">"text"</span> placeholder=<span class="hljs-string">"Input--block"</span> aria-label=<span class="hljs-string">"Input item"</span>&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Input-addOn Input-addOn--suffix"</span>&gt;.com&lt;/<span class="hljs-keyword">div</span>&gt;
  &lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre><h2 id="input-group" class="Styleguide-title--2">Input-group</h2><div class="InputGroup">
  <input class="Input InputGroup-item" id="InputGrouped1" placeholder="input" aria-label="Input item 1">
  <input class="Input InputGroup-item" id="InputGrouped2" placeholder="input" aria-label="Input item 2">
  <input class="Input InputGroup-item" id="InputGrouped3" placeholder="input" aria-label="Input item 3">
  <input class="Input InputGroup-item" id="InputGrouped4" placeholder="input" aria-label="Input item 4">
</div>
<pre class="code"><code class="html">&lt;div <span class="hljs-keyword">class</span>=<span class="hljs-string">"InputGroup"</span>&gt;
  &lt;<span class="hljs-keyword">input</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"Input InputGroup-item"</span> id=<span class="hljs-string">"InputGrouped1"</span> placeholder=<span class="hljs-string">"input"</span> aria-<span class="hljs-keyword">label</span>=<span class="hljs-string">"Input item 1"</span>&gt;
  &lt;<span class="hljs-keyword">input</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"Input InputGroup-item"</span> id=<span class="hljs-string">"InputGrouped2"</span> placeholder=<span class="hljs-string">"input"</span> aria-<span class="hljs-keyword">label</span>=<span class="hljs-string">"Input item 2"</span>&gt;
  &lt;<span class="hljs-keyword">input</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"Input InputGroup-item"</span> id=<span class="hljs-string">"InputGrouped3"</span> placeholder=<span class="hljs-string">"input"</span> aria-<span class="hljs-keyword">label</span>=<span class="hljs-string">"Input item 3"</span>&gt;
  &lt;<span class="hljs-keyword">input</span> <span class="hljs-keyword">class</span>=<span class="hljs-string">"Input InputGroup-item"</span> id=<span class="hljs-string">"InputGrouped4"</span> placeholder=<span class="hljs-string">"input"</span> aria-<span class="hljs-keyword">label</span>=<span class="hljs-string">"Input item 4"</span>&gt;
&lt;/div&gt;</code></pre></div>