<div id="s-media" class="Styleguide-module Styleguide-module--media"><h1 id="media" class="Styleguide-title--1">Media</h1><figure class="Media">
    <img class="Media-img Avatar Avatar--s" src="https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png" />
    <figcaption class="Media-content">Aenean lacinia bibendum nulla sed consectetur.</figcaption>
</figure>
<pre class="code"><code class="html">&lt;figure <span class="hljs-keyword">class</span>=<span class="hljs-string">"Media"</span>&gt;
    &lt;img <span class="hljs-keyword">class</span>=<span class="hljs-string">"Media-img Avatar Avatar--s"</span> src=<span class="hljs-string">"https://upload.wikimedia.org/wikipedia/en/6/69/Ember.js_Logo_and_Mascot.png"</span> /&gt;
    &lt;figcaption <span class="hljs-keyword">class</span>=<span class="hljs-string">"Media-content"</span>&gt;Aenean lacinia bibendum nulla sed consectetur.&lt;/figcaption&gt;
&lt;/figure&gt;</code></pre></div>