<div id="s-notification" class="Styleguide-module Styleguide-module--notification"><h1 id="notification" class="Styleguide-title--1">Notification</h1><ul class="Styleguide-list"><li>A <code>Notification</code> is horizontally centered, based on its parent width. Add <code>Notification--fixed</code> class if you need a fixed position.</li>
</ul><div class="has-notification">
    <div class="Notification">Productive and actionable meetings, every time.</div>
</div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"has-notification"</span>&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Notification"</span>&gt;Productive <span class="hljs-keyword">and</span> actionable meetings, <span class="hljs-keyword">every</span> <span class="hljs-property">time</span>.&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre><div class="has-notification">
  <div class="Notification Notification--success">Productive and actionable meetings, every time.</div>
</div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"has-notification"</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Notification Notification--success"</span>&gt;Productive <span class="hljs-keyword">and</span> actionable meetings, <span class="hljs-keyword">every</span> <span class="hljs-property">time</span>.&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre><div class="has-notification">
  <div class="Notification Notification--warning">Productive and actionable meetings, every time.</div>
</div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"has-notification"</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Notification Notification--warning"</span>&gt;Productive <span class="hljs-keyword">and</span> actionable meetings, <span class="hljs-keyword">every</span> <span class="hljs-property">time</span>.&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre><div class="has-notification">
  <div class="Notification Notification--error">Productive and actionable meetings, every time.</div>
</div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"has-notification"</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Notification Notification--error"</span>&gt;Productive <span class="hljs-keyword">and</span> actionable meetings, <span class="hljs-keyword">every</span> <span class="hljs-property">time</span>.&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre><h2 id="positions" class="Styleguide-title--2">Positions</h2><p>To fix your Notification, simply add</p>
<ul class="Styleguide-list"><li><code>.Notification--fixed</code> class, because, it&#39;s a fixed position, it does not need the <code>.has-notification</code> wrapper.</li>
<li>The direction wanted &quot;<code>tc | tr | bl | br</code>&quot;</li>
</ul><h2 id="options" class="Styleguide-title--2">Options</h2><table class="Table">
  <thead class="Table-head">
    <th class="Table-cell Table-cell--header u-tal">Modifier</th>
    <th class="Table-cell Table-cell--header">Description</th>
  </thead>
  <tbody class="Table-body">
    <tr class="Table-row">
      <td class="Table-cell Table-cell--important u-tal">.Notification--fixed</td>
      <td class="Table-cell">Will add a position fixed to `.Notification`</td>
    </tr>
    <tr class="Table-row">
      <td class="Table-cell Table-cell--important u-tal">.Notification--block</td>
      <td class="Table-cell">Will display `.Notification` as block</td>
    </tr>
    <tr class="Table-row">
      <td class="Table-cell Table-cell--important u-tal">.Notification--tc</td>
      <td class="Table-cell">Top Center window position</td>
    </tr>
    <tr class="Table-row">
      <td class="Table-cell Table-cell--important u-tal">.Notification--tr</td>
      <td class="Table-cell">Top Right window position</td>
    </tr>
    <tr class="Table-row">
      <td class="Table-cell Table-cell--important u-tal">.Notification--bl</td>
      <td class="Table-cell">Bottom Left window position</td>
    </tr>
    <tr class="Table-row">
      <td class="Table-cell Table-cell--important u-tal">.Notification--br</td>
      <td class="Table-cell">Bottom Right window position</td>
    </tr>
  </tbody>
</table>
</div>