<div id="s-panel" class="s-Module s-Module--panel"><h1 id="panel" class="s-Title--1">Panel</h1><button id="js-LaunchRightPanel" class="Btn Btn--primary Btn--outline">Launch panel on the right</button>
<div id="js-RightPanel" class="Panel Panel--r" aria-labelledby="rightPanel" aria-hidden="true">
  <header class="Panel-header">
    <h3 class="Panel-title">Panel on the right</h3>
    <button id="js-CloseRightPanel" class="Btn Btn--raw PanelHeader-btn u-push" aria-label="close">
      <i class="Icon Icon--cross"></i>
    </button>
  </header>
  <div class="Panel-content">
    <p class="u-mgt--0">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
  </div>
</div>
<div id="js-RightPanelOverlay" class="Overlay" aria-hidden="true"></div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-property">id</span>=<span class="hljs-string">"js-RightPanel"</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Panel Panel--r"</span> aria-labelledby=<span class="hljs-string">"rightPanel"</span> aria-hidden=<span class="hljs-string">"true"</span>&gt;
  &lt;header <span class="hljs-type">class</span>=<span class="hljs-string">"Panel-header"</span>&gt;
    &lt;h3 <span class="hljs-type">class</span>=<span class="hljs-string">"Panel-title"</span>&gt;Panel <span class="hljs-function_start"><span class="hljs-keyword">on</span></span> <span class="hljs-keyword">the</span> right&lt;/h3&gt;
    &lt;button <span class="hljs-property">id</span>=<span class="hljs-string">"js-CloseRightPanel"</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Btn Btn--raw PanelHeader-btn u-push"</span> aria-label=<span class="hljs-string">"close"</span>&gt;
      &lt;i <span class="hljs-type">class</span>=<span class="hljs-string">"Icon Icon--cross"</span>&gt;&lt;/i&gt;
    &lt;/button&gt;
  &lt;/header&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Panel-content"</span>&gt;
    &lt;p <span class="hljs-type">class</span>=<span class="hljs-string">"u-mgt--0"</span>&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.&lt;/p&gt;
  &lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;<span class="hljs-keyword">div</span> <span class="hljs-property">id</span>=<span class="hljs-string">"js-RightPanelOverlay"</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Overlay"</span> aria-hidden=<span class="hljs-string">"true"</span>&gt;&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre><h2 id="positions" class="s-Title--2">Positions</h2><button id="js-LaunchLeftPanel" class="Btn Btn--primary Btn--outline">Launch panel on the left</button>
<div id="js-LeftPanel" class="Panel Panel--l" aria-labelledby="leftPanel" aria-hidden="true">
  <header class="Panel-header">
    <h3 class="Panel-title">Panel on the left</h3>
    <button id="js-CloseLeftPanel" class="Btn Btn--raw PanelHeader-btn u-push" aria-label="close">
      <i class="Icon Icon--cross"></i>
    </button>
  </header>
  <div class="Panel-content">
    <p class="u-mgt--0">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
  </div>
</div>
<div id="js-LeftPanelOverlay" class="Overlay" aria-hidden="true"></div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-property">id</span>=<span class="hljs-string">"js-LeftPanel"</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Panel Panel--l"</span> aria-labelledby=<span class="hljs-string">"leftPanel"</span> aria-hidden=<span class="hljs-string">"true"</span>&gt;
  &lt;header <span class="hljs-type">class</span>=<span class="hljs-string">"Panel-header"</span>&gt;
    &lt;h3 <span class="hljs-type">class</span>=<span class="hljs-string">"Panel-title"</span>&gt;Panel <span class="hljs-function_start"><span class="hljs-keyword">on</span></span> <span class="hljs-keyword">the</span> left&lt;/h3&gt;
    &lt;button <span class="hljs-property">id</span>=<span class="hljs-string">"js-CloseLeftPanel"</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Btn Btn--raw PanelHeader-btn u-push"</span> aria-label=<span class="hljs-string">"close"</span>&gt;
      &lt;i <span class="hljs-type">class</span>=<span class="hljs-string">"Icon Icon--cross"</span>&gt;&lt;/i&gt;
    &lt;/button&gt;
  &lt;/header&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Panel-content"</span>&gt;
    &lt;p <span class="hljs-type">class</span>=<span class="hljs-string">"u-mgt--0"</span>&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.&lt;/p&gt;
  &lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;<span class="hljs-keyword">div</span> <span class="hljs-property">id</span>=<span class="hljs-string">"js-LeftPanelOverlay"</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Overlay"</span> aria-hidden=<span class="hljs-string">"true"</span>&gt;&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre><button id="js-LaunchBoxedPanel" class="Btn Btn--primary Btn--outline u-mgb--m">Launch panel in the box</button>
<div style="position: relative; height: 200px; border: 3px dashed #a1a9ae; overflow: hidden; line-height: 200px;">
  <div id="js-BoxedPanel" class="Panel Panel--abs" aria-labelledby="leftPanel" aria-hidden="true">
    <header class="Panel-header">
      <h3 class="Panel-title">Panel on the left</h3>
      <button id="js-CloseBoxedPanel" class="Btn Btn--raw PanelHeader-btn u-push" aria-label="close">
        <i class="Icon Icon--cross"></i>
      </button>
    </header>
    <div class="Panel-content">
      <p class="u-mgt--0">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
  </div>
</div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> style=<span class="hljs-string">"position: relative; height: 200px; border: 3px dashed #a1a9ae; overflow: hidden; line-height: 200px;"</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-property">id</span>=<span class="hljs-string">"js-BoxedPanel"</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Panel Panel--abs"</span> aria-labelledby=<span class="hljs-string">"leftPanel"</span> aria-hidden=<span class="hljs-string">"true"</span>&gt;
    &lt;header <span class="hljs-type">class</span>=<span class="hljs-string">"Panel-header"</span>&gt;
      &lt;h3 <span class="hljs-type">class</span>=<span class="hljs-string">"Panel-title"</span>&gt;Panel <span class="hljs-function_start"><span class="hljs-keyword">on</span></span> <span class="hljs-keyword">the</span> left&lt;/h3&gt;
      &lt;button <span class="hljs-property">id</span>=<span class="hljs-string">"js-CloseBoxedPanel"</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Btn Btn--raw PanelHeader-btn u-push"</span> aria-label=<span class="hljs-string">"close"</span>&gt;
        &lt;i <span class="hljs-type">class</span>=<span class="hljs-string">"Icon Icon--cross"</span>&gt;&lt;/i&gt;
      &lt;/button&gt;
    &lt;/header&gt;
    &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Panel-content"</span>&gt;
      &lt;p <span class="hljs-type">class</span>=<span class="hljs-string">"u-mgt--0"</span>&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.&lt;/p&gt;
    &lt;/<span class="hljs-keyword">div</span>&gt;
  &lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre><script>
  var body = document.getElementsByTagName("body");

  document.getElementById("js-LaunchRightPanel").onclick = function () {
    document.getElementById("js-RightPanel").setAttribute("aria-hidden", "false");
    document.getElementById("js-RightPanelOverlay").setAttribute("aria-hidden", "false");
    body[0].className += " u-ovh";
  }
  document.getElementById("js-CloseRightPanel").onclick = function(){
    document.getElementById("js-RightPanel").setAttribute("aria-hidden", "true");
    document.getElementById("js-RightPanelOverlay").setAttribute("aria-hidden", "true");
    var className =  body[0].className;
    className = className.substr(0, className.indexOf(" u-ovh"));
    body[0].className = className;
  }

  document.getElementById("js-LaunchLeftPanel").onclick = function () {
    document.getElementById("js-LeftPanel").setAttribute("aria-hidden", "false")
    document.getElementById("js-LeftPanelOverlay").setAttribute("aria-hidden", "false")
  }
  document.getElementById("js-CloseLeftPanel").onclick = function(){
    document.getElementById("js-LeftPanel").setAttribute("aria-hidden", "true")
    document.getElementById("js-LeftPanelOverlay").setAttribute("aria-hidden", "true")
  }

  document.getElementById("js-LaunchBoxedPanel").onclick = function () {
    document.getElementById("js-BoxedPanel").setAttribute("aria-hidden", "false")
  }
  document.getElementById("js-CloseBoxedPanel").onclick = function(){
    document.getElementById("js-BoxedPanel").setAttribute("aria-hidden", "true")
  }
</script>
</div>