<div id="s-panel" class="s-Module s-Module--panel"><h1 id="panel" class="s-Title--1">Panel</h1><button id="launchPanel--r" class="Btn">Launch panel on the right</button>
<div id="panel--r" class="Panel Panel--r" aria-labelledby="rightPanel" aria-hidden="true">
  <header class="Panel-header">
    <button class="Btn Btn--raw PanelHeader-button u-pull u-mgr--s" aria-label="back">
      <i class="Icon Icon--s Icon--arrowBack"></i>
    </button>
    Panel on the right
    <button id="closePanel--r" class="Btn Btn--raw PanelHeader-button u-push" aria-label="close">
      <i class="Icon Icon--s Icon--cross"></i>
    </button>
  </header>
  <div class="Panel-content">
    <p class="u-mgt--0">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
  </div>
</div>
<pre class="code"><code class="html">&lt;button <span class="hljs-property">id</span>=<span class="hljs-string">"launchPanel--r"</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Btn"</span>&gt;Launch panel <span class="hljs-function_start"><span class="hljs-keyword">on</span></span> <span class="hljs-keyword">the</span> right&lt;/button&gt;
&lt;<span class="hljs-keyword">div</span> <span class="hljs-property">id</span>=<span class="hljs-string">"panel--r"</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Panel Panel--r"</span> aria-labelledby=<span class="hljs-string">"rightPanel"</span> aria-hidden=<span class="hljs-string">"true"</span>&gt;
  &lt;header <span class="hljs-type">class</span>=<span class="hljs-string">"Panel-header"</span>&gt;
    &lt;button <span class="hljs-type">class</span>=<span class="hljs-string">"Btn Btn--raw PanelHeader-button u-pull u-mgr--s"</span> aria-label=<span class="hljs-string">"back"</span>&gt;
      &lt;i <span class="hljs-type">class</span>=<span class="hljs-string">"Icon Icon--s Icon--arrowBack"</span>&gt;&lt;/i&gt;
    &lt;/button&gt;
    Panel <span class="hljs-function_start"><span class="hljs-keyword">on</span></span> <span class="hljs-keyword">the</span> right
    &lt;button <span class="hljs-property">id</span>=<span class="hljs-string">"closePanel--r"</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Btn Btn--raw PanelHeader-button u-push"</span> aria-label=<span class="hljs-string">"close"</span>&gt;
      &lt;i <span class="hljs-type">class</span>=<span class="hljs-string">"Icon Icon--s Icon--cross"</span>&gt;&lt;/i&gt;
    &lt;/button&gt;
  &lt;/header&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Panel-content"</span>&gt;
    &lt;p <span class="hljs-type">class</span>=<span class="hljs-string">"u-mgt--0"</span>&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.&lt;/p&gt;
  &lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre><h2 id="positions" class="s-Title--2">Positions</h2><button id="launchPanel--l" class="Btn">Launch panel on the left</button>
<div id="panel--l" class="Panel Panel--l" aria-labelledby="leftPanel" aria-hidden="true">
  <header class="Panel-header">
    <button class="Btn Btn--raw PanelHeader-button u-pull u-mgr--s" aria-label="back">
      <i class="Icon Icon--s Icon--arrowBack"></i>
    </button>
    Panel on the left
    <button id="closePanel--l" class="Btn Btn--raw PanelHeader-button u-push" aria-label="close">
      <i class="Icon Icon--s Icon--cross"></i>
    </button>
  </header>
  <div class="Panel-content">
    <p class="u-mgt--0">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
  </div>
</div>
<pre class="code"><code class="html">&lt;button <span class="hljs-property">id</span>=<span class="hljs-string">"launchPanel--l"</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Btn"</span>&gt;Launch panel <span class="hljs-function_start"><span class="hljs-keyword">on</span></span> <span class="hljs-keyword">the</span> left&lt;/button&gt;
&lt;<span class="hljs-keyword">div</span> <span class="hljs-property">id</span>=<span class="hljs-string">"panel--l"</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Panel Panel--l"</span> aria-labelledby=<span class="hljs-string">"leftPanel"</span> aria-hidden=<span class="hljs-string">"true"</span>&gt;
  &lt;header <span class="hljs-type">class</span>=<span class="hljs-string">"Panel-header"</span>&gt;
    &lt;button <span class="hljs-type">class</span>=<span class="hljs-string">"Btn Btn--raw PanelHeader-button u-pull u-mgr--s"</span> aria-label=<span class="hljs-string">"back"</span>&gt;
      &lt;i <span class="hljs-type">class</span>=<span class="hljs-string">"Icon Icon--s Icon--arrowBack"</span>&gt;&lt;/i&gt;
    &lt;/button&gt;
    Panel <span class="hljs-function_start"><span class="hljs-keyword">on</span></span> <span class="hljs-keyword">the</span> left
    &lt;button <span class="hljs-property">id</span>=<span class="hljs-string">"closePanel--l"</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Btn Btn--raw PanelHeader-button u-push"</span> aria-label=<span class="hljs-string">"close"</span>&gt;
      &lt;i <span class="hljs-type">class</span>=<span class="hljs-string">"Icon Icon--s Icon--cross"</span>&gt;&lt;/i&gt;
    &lt;/button&gt;
  &lt;/header&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Panel-content"</span>&gt;
    &lt;p <span class="hljs-type">class</span>=<span class="hljs-string">"u-mgt--0"</span>&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.&lt;/p&gt;
  &lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre><div style="position: relative; height: 200px; border: 3px dashed #a1a9ae; overflow: hidden; line-height: 200px;">
  <button id="launchPanel--b" class="Btn u-mgl--l">Launch panel in the box</button>
  <div id="panel--b" class="Panel Panel--abs" aria-labelledby="leftPanel" aria-hidden="true">
    <header class="Panel-header">
      <button class="Btn Btn--raw PanelHeader-button u-pull u-mgr--s" aria-label="back">
        <i class="Icon Icon--s Icon--arrowBack"></i>
      </button>
      Panel on the left
      <button id="closePanel--b" class="Btn Btn--raw PanelHeader-button u-push" aria-label="close">
        <i class="Icon Icon--s Icon--cross"></i>
      </button>
    </header>
    <div class="Panel-content">
      <p class="u-mgt--0">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
    </div>
  </div>
</div>
<pre class="code"><code class="html">&lt;<span class="hljs-tag">div</span> style=<span class="hljs-string">"position: relative; height: 200px; border: 3px dashed #a1a9ae; overflow: hidden; line-height: 200px;"</span>&gt;
  &lt;<span class="hljs-tag">button</span> id=<span class="hljs-string">"launchPanel--b"</span> class=<span class="hljs-string">"Btn u-mgl--l"</span>&gt;Launch panel <span class="hljs-keyword">in</span> the box&lt;/button&gt;
  &lt;<span class="hljs-tag">div</span> id=<span class="hljs-string">"panel--b"</span> class=<span class="hljs-string">"Panel Panel--abs"</span> aria-labelledby=<span class="hljs-string">"leftPanel"</span> aria-hidden=<span class="hljs-string">"true"</span>&gt;
    &lt;<span class="hljs-tag">header</span> class=<span class="hljs-string">"Panel-header"</span>&gt;
      &lt;<span class="hljs-tag">button</span> class=<span class="hljs-string">"Btn Btn--raw PanelHeader-button u-pull u-mgr--s"</span> aria-label=<span class="hljs-string">"back"</span>&gt;
        &lt;<span class="hljs-tag">i</span> class=<span class="hljs-string">"Icon Icon--s Icon--arrowBack"</span>&gt;&lt;/i&gt;
      &lt;/button&gt;
      Panel on the <span class="hljs-attribute">left</span>
      &lt;<span class="hljs-tag">button</span> id=<span class="hljs-string">"closePanel--b"</span> class=<span class="hljs-string">"Btn Btn--raw PanelHeader-button u-push"</span> aria-label=<span class="hljs-string">"close"</span>&gt;
        &lt;<span class="hljs-tag">i</span> class=<span class="hljs-string">"Icon Icon--s Icon--cross"</span>&gt;&lt;/i&gt;
      &lt;/button&gt;
    &lt;/header&gt;
    &lt;<span class="hljs-tag">div</span> class=<span class="hljs-string">"Panel-content"</span>&gt;
      &lt;<span class="hljs-tag">p</span> class=<span class="hljs-string">"u-mgt--0"</span>&gt;Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.&lt;/p&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;</code></pre><script>
  document.getElementById("launchPanel--r").onclick = function () {
    document.getElementById("panel--r").setAttribute("aria-hidden", "false")
  }
  document.getElementById("closePanel--r").onclick = function(){
    document.getElementById("panel--r").setAttribute("aria-hidden", "true")
  }

  document.getElementById("launchPanel--l").onclick = function () {
    document.getElementById("panel--l").setAttribute("aria-hidden", "false")
  }
  document.getElementById("closePanel--l").onclick = function(){
    document.getElementById("panel--l").setAttribute("aria-hidden", "true")
  }

  document.getElementById("launchPanel--b").onclick = function () {
    document.getElementById("panel--b").setAttribute("aria-hidden", "false")
  }
  document.getElementById("closePanel--b").onclick = function(){
    document.getElementById("panel--b").setAttribute("aria-hidden", "true")
  }
</script>
</div>