<div id="s-pellet" class="Styleguide-module Styleguide-module--pellet"><h1 id="pellet" class="Styleguide-title--1">Pellet</h1><div class="Pellet"></div>
<div class="Pellet Pellet--success"></div>
<div class="Pellet Pellet--medium"></div>
<div class="Pellet Pellet--fail"></div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Pellet"</span>&gt;&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Pellet Pellet--success"</span>&gt;&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Pellet Pellet--medium"</span>&gt;&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Pellet Pellet--fail"</span>&gt;&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre></div>