<div id="s-popovers" class="s-Module s-Module--popovers"><h1 id="popovers" class="s-Title--1">Popovers</h1><div class="Pellet has-popover">
  <div class="Popover">Regular popover</div>
</div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Pellet has-popover"</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Popover"</span>&gt;Regular popover&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre><h2 id="colors" class="s-Title--2">Colors</h2><div class="Pellet Pellet--success has-popover">
  <div class="Popover Popover--success">Regular popover</div>
</div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Pellet Pellet--success has-popover"</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Popover Popover--success"</span>&gt;Regular popover&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre><div class="Pellet Pellet--medium has-popover">
  <div class="Popover Popover--medium">Regular popover</div>
</div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Pellet Pellet--medium has-popover"</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Popover Popover--medium"</span>&gt;Regular popover&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre><div class="Pellet Pellet--fail has-popover">
  <div class="Popover Popover--fail">Regular popover</div>
</div>
<pre class="code"><code class="html">&lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Pellet Pellet--fail has-popover"</span>&gt;
  &lt;<span class="hljs-keyword">div</span> <span class="hljs-type">class</span>=<span class="hljs-string">"Popover Popover--fail"</span>&gt;Regular popover&lt;/<span class="hljs-keyword">div</span>&gt;
&lt;/<span class="hljs-keyword">div</span>&gt;</code></pre></div>