<div id="s-tabs" class="s-Module s-Module--tabs"><h1 id="tabs" class="s-Title--1">Tabs</h1><ul class="Tabs">
  <li class="Tab-item" aria-selected="true">
    <a class="Tab-link" tabindex="0" href="#foo">
      Foo selected
    </a>
  </li>
  <li class="Tab-item" aria-selected="false">
    <a class="Tab-link" tabindex="-1" href="#bar">
      Bar thing thing
    </a>
  </li>
  <li class="Tab-item" aria-selected="false">
    <a class="Tab-link" tabindex="-1" href="#baz">
      Baz thing thing
    </a>
  </li>
</ul>
<pre class="code"><code class="html"><span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tabs"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-item"</span> <span class="hljs-attribute">aria-selected</span>=<span class="hljs-value">"true"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-link"</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">"0"</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#foo"</span>&gt;</span>
      Foo selected
    <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-item"</span> <span class="hljs-attribute">aria-selected</span>=<span class="hljs-value">"false"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-link"</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">"-1"</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#bar"</span>&gt;</span>
      Bar thing thing
    <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-item"</span> <span class="hljs-attribute">aria-selected</span>=<span class="hljs-value">"false"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-link"</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">"-1"</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#baz"</span>&gt;</span>
      Baz thing thing
    <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span></code></pre><h2 id="size-s" class="s-Title--2">Size S</h2><ul class="Tabs Tabs--s">
  <li class="Tab-item" aria-selected="true">
    <a class="Tab-link" tabindex="0" href="#foo">
      Foo selected
    </a>
  </li>
  <li class="Tab-item" aria-selected="false">
    <a class="Tab-link" tabindex="-1" href="#bar">
      Bar thing thing
    </a>
  </li>
  <li class="Tab-item" aria-selected="false">
    <a class="Tab-link" tabindex="-1" href="#baz">
      Baz thing thing
    </a>
  </li>
</ul>
<pre class="code"><code class="html"><span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tabs Tabs--s"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-item"</span> <span class="hljs-attribute">aria-selected</span>=<span class="hljs-value">"true"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-link"</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">"0"</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#foo"</span>&gt;</span>
      Foo selected
    <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-item"</span> <span class="hljs-attribute">aria-selected</span>=<span class="hljs-value">"false"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-link"</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">"-1"</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#bar"</span>&gt;</span>
      Bar thing thing
    <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-item"</span> <span class="hljs-attribute">aria-selected</span>=<span class="hljs-value">"false"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-link"</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">"-1"</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#baz"</span>&gt;</span>
      Baz thing thing
    <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span></code></pre><h2 id="vertical-tabs" class="s-Title--2">Vertical tabs</h2><ul class="Tabs Tabs--vertical">
  <li class="Tab-item" aria-selected="true">
    <a class="Tab-link" tabindex="0" href="#foo">
      Foo selected
    </a>
  </li>
  <li class="Tab-item" aria-selected="false">
    <a class="Tab-link" tabindex="-1" href="#bar">
      Bar thing thing
    </a>
  </li>
  <li class="Tab-item" aria-selected="false">
    <a class="Tab-link" tabindex="-1" href="#baz">
      Baz thing thing
    </a>
  </li>
</ul>
<pre class="code"><code class="html"><span class="hljs-tag">&lt;<span class="hljs-title">ul</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tabs Tabs--vertical"</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-item"</span> <span class="hljs-attribute">aria-selected</span>=<span class="hljs-value">"true"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-link"</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">"0"</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#foo"</span>&gt;</span>
      Foo selected
    <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-item"</span> <span class="hljs-attribute">aria-selected</span>=<span class="hljs-value">"false"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-link"</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">"-1"</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#bar"</span>&gt;</span>
      Bar thing thing
    <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
  <span class="hljs-tag">&lt;<span class="hljs-title">li</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-item"</span> <span class="hljs-attribute">aria-selected</span>=<span class="hljs-value">"false"</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-title">a</span> <span class="hljs-attribute">class</span>=<span class="hljs-value">"Tab-link"</span> <span class="hljs-attribute">tabindex</span>=<span class="hljs-value">"-1"</span> <span class="hljs-attribute">href</span>=<span class="hljs-value">"#baz"</span>&gt;</span>
      Baz thing thing
    <span class="hljs-tag">&lt;/<span class="hljs-title">a</span>&gt;</span>
  <span class="hljs-tag">&lt;/<span class="hljs-title">li</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-title">ul</span>&gt;</span></code></pre></div>