<div id="s-tabs" class="Styleguide-module Styleguide-module--tabs"><h1 id="tabs" class="Styleguide-title--1">Tabs</h1><ul class="Tabs">
  <li class="Tab-item" aria-selected="true">
    <a class="Tab-link" tabindex="0" href="#foo">
      Foo selected
    </a>
  </li>
  <li class="Tab-item" aria-selected="false">
    <a class="Tab-link" tabindex="-1" href="#bar">
      Bar thing thing
    </a>
  </li>
  <li class="Tab-item" aria-selected="false">
    <a class="Tab-link" tabindex="-1" href="#baz">
      Baz thing thing
    </a>
  </li>
</ul>
<pre class="code"><code class="html">&lt;ul class=<span class="hljs-string">"Tabs"</span>&gt;
  &lt;li class=<span class="hljs-string">"Tab-item"</span> aria-selected=<span class="hljs-string">"true"</span>&gt;
    &lt;a class=<span class="hljs-string">"Tab-link"</span> tabindex=<span class="hljs-string">"0"</span> href=<span class="hljs-string">"#foo"</span>&gt;
      Foo selected
    &lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=<span class="hljs-string">"Tab-item"</span> aria-selected=<span class="hljs-string">"false"</span>&gt;
    &lt;a class=<span class="hljs-string">"Tab-link"</span> tabindex=<span class="hljs-string">"-1"</span> href=<span class="hljs-string">"#bar"</span>&gt;
      Bar <span class="hljs-keyword">thing</span> <span class="hljs-keyword">thing</span>
    &lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=<span class="hljs-string">"Tab-item"</span> aria-selected=<span class="hljs-string">"false"</span>&gt;
    &lt;a class=<span class="hljs-string">"Tab-link"</span> tabindex=<span class="hljs-string">"-1"</span> href=<span class="hljs-string">"#baz"</span>&gt;
      Baz <span class="hljs-keyword">thing</span> <span class="hljs-keyword">thing</span>
    &lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre><h2 id="size-s" class="Styleguide-title--2">Size S</h2><ul class="Tabs Tabs--s">
  <li class="Tab-item" aria-selected="true">
    <a class="Tab-link" tabindex="0" href="#foo">
      Foo selected
    </a>
  </li>
  <li class="Tab-item" aria-selected="false">
    <a class="Tab-link" tabindex="-1" href="#bar">
      Bar thing thing
    </a>
  </li>
  <li class="Tab-item" aria-selected="false">
    <a class="Tab-link" tabindex="-1" href="#baz">
      Baz thing thing
    </a>
  </li>
</ul>
<pre class="code"><code class="html">&lt;ul class=<span class="hljs-string">"Tabs Tabs--s"</span>&gt;
  &lt;li class=<span class="hljs-string">"Tab-item"</span> aria-selected=<span class="hljs-string">"true"</span>&gt;
    &lt;a class=<span class="hljs-string">"Tab-link"</span> tabindex=<span class="hljs-string">"0"</span> href=<span class="hljs-string">"#foo"</span>&gt;
      Foo selected
    &lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=<span class="hljs-string">"Tab-item"</span> aria-selected=<span class="hljs-string">"false"</span>&gt;
    &lt;a class=<span class="hljs-string">"Tab-link"</span> tabindex=<span class="hljs-string">"-1"</span> href=<span class="hljs-string">"#bar"</span>&gt;
      Bar <span class="hljs-keyword">thing</span> <span class="hljs-keyword">thing</span>
    &lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=<span class="hljs-string">"Tab-item"</span> aria-selected=<span class="hljs-string">"false"</span>&gt;
    &lt;a class=<span class="hljs-string">"Tab-link"</span> tabindex=<span class="hljs-string">"-1"</span> href=<span class="hljs-string">"#baz"</span>&gt;
      Baz <span class="hljs-keyword">thing</span> <span class="hljs-keyword">thing</span>
    &lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre><h2 id="vertical-tabs" class="Styleguide-title--2">Vertical tabs</h2><ul class="Tabs Tabs--vertical">
  <li class="Tab-item" aria-selected="true">
    <a class="Tab-link" tabindex="0" href="#foo">
      Foo selected
    </a>
  </li>
  <li class="Tab-item" aria-selected="false">
    <a class="Tab-link" tabindex="-1" href="#bar">
      Bar thing thing
    </a>
  </li>
  <li class="Tab-item" aria-selected="false">
    <a class="Tab-link" tabindex="-1" href="#baz">
      Baz thing thing
    </a>
  </li>
</ul>
<pre class="code"><code class="html">&lt;ul class=<span class="hljs-string">"Tabs Tabs--vertical"</span>&gt;
  &lt;li class=<span class="hljs-string">"Tab-item"</span> aria-selected=<span class="hljs-string">"true"</span>&gt;
    &lt;a class=<span class="hljs-string">"Tab-link"</span> tabindex=<span class="hljs-string">"0"</span> href=<span class="hljs-string">"#foo"</span>&gt;
      Foo selected
    &lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=<span class="hljs-string">"Tab-item"</span> aria-selected=<span class="hljs-string">"false"</span>&gt;
    &lt;a class=<span class="hljs-string">"Tab-link"</span> tabindex=<span class="hljs-string">"-1"</span> href=<span class="hljs-string">"#bar"</span>&gt;
      Bar <span class="hljs-keyword">thing</span> <span class="hljs-keyword">thing</span>
    &lt;/a&gt;
  &lt;/li&gt;
  &lt;li class=<span class="hljs-string">"Tab-item"</span> aria-selected=<span class="hljs-string">"false"</span>&gt;
    &lt;a class=<span class="hljs-string">"Tab-link"</span> tabindex=<span class="hljs-string">"-1"</span> href=<span class="hljs-string">"#baz"</span>&gt;
      Baz <span class="hljs-keyword">thing</span> <span class="hljs-keyword">thing</span>
    &lt;/a&gt;
  &lt;/li&gt;
&lt;/ul&gt;</code></pre></div>