<div id="s-tooltip" class="s-Module s-Module--tooltip"><h1 id="tooltip" class="s-Title--1">Tooltip</h1><p class="has-tooltip" aria-label="Pouet pouet" style="background-color: #FFFF33;">
    Text example with tooltip
</p>
<pre class="code"><code class="html">&lt;p <span class="hljs-class"><span class="hljs-keyword">class</span></span>=<span class="hljs-string">"has-tooltip"</span> aria-label=<span class="hljs-string">"Pouet pouet"</span> style=<span class="hljs-string">"background-color: #FFFF33;"</span>&gt;
    Text example <span class="hljs-keyword">with</span> tooltip
&lt;<span class="hljs-regexp">/p&gt;</span></code></pre><table class="Table">
  <thead class="Table-head">
    <th class="Table-cell Table-cell--header u-tal">Class</th>
    <th class="Table-cell Table-cell--header">CSS value</th>
    <th class="Table-cell Table-cell--header">Description</th>
</thead>
  <tbody class="Table-body">
    <tr class="Table-row">
      <td class="Table-cell Table-cell--important u-tal"><code>.has-tooltip, .has-tooltip--left</code></td>
      <td class="Table-cell">left</td>
      <td class="Table-cell">On the left of the element</td>
    </tr>
    <tr class="Table-row">
      <td class="Table-cell Table-cell--important u-tal"><code>.has-tooltip--top</code></td>
      <td class="Table-cell">top</td>
      <td class="Table-cell">At the top of the element</td>
    </tr>
    <tr class="Table-row">
      <td class="Table-cell Table-cell--important u-tal"><code>.has-tooltip--right</code></td>
      <td class="Table-cell">right</td>
      <td class="Table-cell">On the right of the element</td>
    </tr>
    <tr class="Table-row">
      <td class="Table-cell Table-cell--important u-tal"><code>.has-tooltip--bottom</code></td>
      <td class="Table-cell">bottom</td>
      <td class="Table-cell">At the bottom of the element</td>
    </tr>
  </tbody>
</table>
</div>