.FormRow {
  margin-bottom: $mg--s;

  .Column {
    padding-right: $mg--xs;
    padding-left: $mg--xs;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}
