.Table--actionnable {
  border: 1px solid $base-border-color;

  .Table-row {
    border-top: 1px solid $base-border-color;
    cursor: pointer;
    transition: background-color .1s ease-out;

    &.is-selected,
    &[aria-selected="true"] {
      background-color: $alabaster;
    }

    &[aria-disabled="true"] {
      background-color: $alabaster;
      cursor: default;
    }
  }

  .Table-rowSelector {
    position: relative;
    top: -1px; // visual adjustement
    margin-right: $mg--s;
  }

  .Table-cell {
    border: 0;
  }
}
