.Table {
  display: table;
  width: 100%;
  color: $slate-gray;
  border-collapse: separate;
}

.Table-heading {
  font-weight: $base-font-weight;
  border-top-color: $base-border-color;

  &:last-child {
    border-right-color: $base-border-color;
  }
}

.Table-heading,
.Table-cell {
  display: table-cell;
  padding: $padding--s - rem(1px) $padding--s;
  text-align: center;
  border: 1px solid $base-border-color;
  border-right-color: transparent;
  border-top-color: transparent;
}

.Table-row {

  .Table-heading {
    border-top-color: transparent;
  }
}

.Table-cell {
  color: $limed-spruce;

  &:last-child {
    border-right-color: $base-border-color;
  }
}
