.Table-cell {
  display: table-cell;
  padding: $pd--s $base-pd;
  font-size: $fz--m;
  font-weight: $base-fw;
  line-height: $base-lh;
  text-align: center;
  color: $slate-gray;
  border: 1px solid $base-border-color;
}

.Table-cell--important {
  font-weight: $fw--semi-bold;
  color: $limed-spruce;
}

.Table-head {
  .Table-cell {
    font-size: $fz--s;
    color: $gray-chateau;
  }
}
