.Table-cell {
  display: table-cell;
  padding: calc(#{$pd--s} - 1px) $base-pd;
  font-size: $base-fz;
  font-weight: $base-fw;
  line-height: $base-lh;
  text-align: center;
  color: $slate-gray;
  border-bottom: 1px solid $base-border-color;

  &:last-child {
    border-right-color: $base-border-color;
  }
}

.Table-cell--important {
  font-weight: $fw--semi-bold;
  color: $limed-spruce;
}

.Table-head {
  .Table-cell {
    font-size: $fz--s;
    color: $gray-chateau;
    border-top: 1px solid $base-border-color;
  }
}
