$table-pdv: $pd--s !default;
$table-pdh: $pd--m !default;

$selected-table-row-bg: $alabaster !default;
$disabled-table-row-bg: $alabaster !default;

$table-cell-color: $slate-gray !default;
$table-important-cell-color: $limed-spruce !default;
$table-disabled-cell-color: $iron !default;
