$table-pdv: $pd--s !default;
$table-pdh: $pd--m !default;

$selected-table-row-bg: $alabaster !default;
$disabled-table-row-bg: $alabaster !default;

$table-cell-color: $slate-gray !default;
$table-important-cell-color: $shuttle-gray !default;
$table-disabled-cell-color: $sliver-sand !default;
