extends partials/layout

block content
  h1.s-Header About
  div.Box
    div.Box-header
      h2.Box-title Origins
    div.Box-content
      p First commit of the framework was pushed during fall 2014. It was the result of various challenges. From this moment, we are developing two products and Tapestry is a guarantee to keep three principles in mind: organization, maintenability, DRY.
      p Tapestry is currently maintened by a team of 6 various experts: 1 UI designer, 3 UI developers and 2 JS developers.
      p Open-source has always been a part of our company culture. We are baking projects such as #[a(href="http://parsleyjs.org/") Parsley, a form validator], Elephant.io and #[a(href="http://wisembly.github.io/basil.js/") Basil.js, a JS smart persistence layer…]
  div.Box
    div.Box-header
      h2.Box-title Wisembly
    div.Box-content
      p Wisembly is a French start-up which is striving to change the way people meet, work and collaborate during meetings since 2010. #[a(href="http://wisembly.com") Our first solution] aims at bigger audiences: seminars, conferences, confcalls of more than 20 participants. It will help you interact and contribute to your meeting, even if they are remote.
      p Even if we tried our best to improve meetings in general, we noticed smaller meetings were also suffering productivity issues. We took a year to build #[a(href="http://getsolid.io") Solid], our solution for your daily meetings. #[a(href="http://getsolid.io") Feel free to give a try!]
