extends partials/layout

block content
  h1.s-Header Getting-started

  .s-App-content
    h1.s-wTitle-1.u-mgv--m Installation

    p.s-Paragraph Built files are versionned into /dist folder. #[br] Settings and vars are set into /utils/var and can be overide.

    h2.s-Title--2.u-mgt--l With Bower
    pre.s-Pre
      code.s-Code(data-lang="bash") bower install tapestry

    pre.s-Pre
      code.s-Code.bash … #[br] example #[br]…

    h2.s-Title--2.u-mgt--l With the dist
    p.s-Paragraph You can download the #[a(href="https://github.com/Wisembly/tapestry/blob/master/dist/tapestry-latest.zip?raw=true", target="_blank") latest-zip here]
    pre.s-Pre
      code.s-Code.bash … #[br] example #[br]…

    h2.s-Title--2.u-mgt--l Locally
    pre.s-Pre
      code.s-Code(data-lang="bash") git clone git@github.com:Wisembly/tapestry.git
    pre.s-Pre
      code.s-Code.bash … #[br] example #[br]…

    hr.s-Hr

    h1.s-wTitle-1.u-tac Components
    a.Btn.Btn--outline.Btn--primary.s-Btn-gettingStarted(href="/components") See all components

  include partials/footer

block scripts
  script(src='/js/hljs.js')
