extends partials/layout

block content
  .s-App-content
    h1.s-Title--1.u-mgt--l Getting-started
    h2.s-Title--2 Structure
    p.s-Paragraph Built files are versionned into /dist folder.
    p.s-Paragraph Settings and variables are set into /utils/var and can be overide

    h2.s-Title--2 Installation
    p.s-Paragraph
      | Installation via GitHub and Bower are provided
      pre
        code bower install tapestry
      pre
        code git clone git@github.com:Wisembly/tapestry.git

    h2.s-Title--2 Use
    p.s-Paragraph
      | Standalone: install Tapestry and include the following line into your website
      pre
        code &lt;link href="__CHANGE_PATH__/dist/css/tapestry.css" rel="stylesheet" type="text/css"&gt;
    p.s-Paragraph
      | Sass: add the following line into your scss file
      pre
        code @import "__CHANGE_PATH__/src/scss/app";

    h2.s-Title--2 Development
    p.s-Paragraph Install Node, BrowserSync and Gulp globally
    p.s-Paragraph
      | Install dependencies:
      pre
        code npm install
    p.s-Paragraph Start Gulp:
      pre
        code gulp
