doctype html
html
  head
    title Tapestry
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600', rel='stylesheet', type='text/css')
    link(href='css/tapestry.css', rel='stylesheet', type='text/css')
    link(href='css/styleguide.css', rel='stylesheet', type='text/css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script(src='js/tapestry.js')
    script(async, src='http://localhost:4000/browser-sync/browser-sync-client.2.8.2.js')

  body
    .Styleguide-header
      h1.Styleguide-title.Styleguide-headerTitle Tapestry

    .Styleguide-wrapper
      .Styleguide-modulesContainer
        h1.Styleguide-title Hello
