extends partials/layout

block content
  //- - each stat in stats
    //- p= stat.published

  h1 Tapestry.css size
  #js-stats

block scripts
  script(src="https://code.jquery.com/jquery-2.1.4.min.js")
  script(src="http://cdn.zingchart.com/zingchart.min.js")
  script(src="/js/stats.js")
