.Media {
  display: flex;
  flex: 1 0 auto;
}

.Media-img {
  flex-shrink: 0;
}

.Media-img:not(.Column),
.Media-content:not(.Column) {
  display: inline-block;
  vertical-align: middle;
}

.Media-content {
  flex: 1;
  margin: 0;
  padding: 0 0 0 $pd--s;
}
