.Media {
  display: flex;
}

.Media-img {
  flex-shrink: 0;
}

.Media-img,
.Media-content {
  display: inline-block;
  vertical-align: middle;
}

.Media-content {
  flex: 1;
  margin: 0;
  padding: 0 0 0 $pd--s;
}
