@if $import-form and $import-select {

  .Select {
    display: inline-block;
    width: 100%;
    padding: rb(2) rb(6) rb(2) rb(2);
    font-size: $fz--m;
    line-height: $base-lh;
    text-align: left;
    vertical-align: middle;
    color: $limed-spruce;
    background-color: $white;
    background-image: url("#{$select-bg-path}");
    background-position: center right;
    background-repeat: no-repeat;
    border: 1px solid $base-border-color;
    border-radius: $base-radius;
    cursor: pointer;
    outline: 0;
    transition: border .2s ease-in-out;
    appearance: none;

    &:focus {
      color: $limed-spruce;
      border-color: $gray-chateau;
      outline: none;
    }

    &::-ms-expand {
      display: none;
    }
  }

}
