@if $import-list {

  .List {
    border-top: 1px solid $list-border-color;
    border-bottom: 1px solid $list-border-color;

    + .List {
      margin-top: $list-space-between;
    }
  }

  .List--raw {
    border: 0;
  }

  .List--wrapped {
    border-right: 1px solid $list-border-color;
    border-left: 1px solid $list-border-color;
  }

  .List-content {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
