.List-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $list-header-pdv $list-header-pdh;
  font-size: $base-fz;
  line-height: $base-lh;
  background: $list-header-bg;
  border-bottom: 1px solid $list-border-color;
}

.List-title {
  margin: 0;
  font-size: $base-fz;
  font-weight: $fw--semi-bold;
  line-height: $base-lh;
  text-transform: uppercase;
  color: $list-title-color;
}

.List-count {
  margin: 0;
  padding: 0;
  color: $list-count-color;
}
