@if $import-list {

  .List-item {
    display: block;
    position: relative;
    padding: $list-item-pdv $list-item-pdh;
    font-weight: $base-fw;
    line-height: $base-lh;
    text-align: left;
    color: $list-item-color;
    border-top: 0;
    transition: background-color .1s ease-out, box-shadow .05s ease-out;

    &.is-actionable {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &.is-checkable {
      padding-right: $list-checkable-space;
    }

    @if $import-icons {

      &:after {
        display: inline-block;
        font-family: "tapestry-icons";
        color: $slate-gray;
      }

      .List-itemInput:checked + & {
        padding-right: $pd--m;

        &:after {
          @include Icon--checkmark;
        }
      }
    }
  }

  .List-item + .List-item,
  .List-item + .List-itemWrapper,
  .List-itemWrapper + .List-itemWrapper,
  .List-itemWrapper + .List-item {
    border-top: 1px solid $list-border-color;
  }

  .List-itemInput {
    display: none;
    appearance: none;

    &:focus {
      outline: none;
    }
  }

}
