.List-item {
  display: block;
  position: relative;
  padding: $pd--s $base-pd;
  font-weight: normal;
  line-height: $base-lh;
  text-align: left;
  color: $limed-spruce;
  border-top: 1px solid $base-border-color;
  transition: background-color .1s ease-out, box-shadow .05s ease-out;
  list-style-type: none;

  &.is-actionable {

    &:after {
      @include pos(a $mg--s $mg--m $mg--s auto);
      content: "›";
    }
  }

  .List-itemInput:checked + & {
    background-color: $porcelain;

    &:after {
      @include pos(a $mg--s $mg--m $mg--s auto);
      content: "coucou";
    }
  }

  .List-itemInput[type="radio"]:checked + & {

    &:after {
      @include pos(a $mg--s $mg--m $mg--s auto);
      content: "radio";
    }
  }

  .List-itemInput[type="checkbox"] + & {

    &:after {
      @include pos(a $mg--s $mg--m $mg--s auto);
      content: "☐";
    }
  }

  .List-itemInput[type="checkbox"]:checked + & {

    &:after {
      @include pos(a $mg--s $mg--m $mg--s auto);
      content: "☑";
    }
  }
}

.List-itemInput {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  appearance: none;

  &:focus {
    outline: none;
  }
}
