$list-border-color: $base-border-color !default;
$list-space-between: r(5) !default;

$list-header-bg: $porcelain !default;
$list-header-pdv: $pd--s !default;
$list-header-pdh: $pd--m !default;

$list-item-pdv: $pd--s !default;
$list-item-pdh: $pd--m !default;
$list-item-hover-bg: $alabaster !default;
$list-item-color: $shuttle-gray !default

$list-checkable-space: r(8) !default;

$list-title-color: $slate-gray !default;
$list-count-color: $gray-chateau !default;
