@if $import-tabs {

  .Tab-item {
    display: inline-block;
    position: relative;

    &:after {
      @include pos(a null 0 0 0);
      content: "";
      height: 0;
      background: $tab-selected-color;
      transition: height .2s ease;
    }

    &[aria-selected="true"] {
      &:after {
        height: $tab-underline-size;
      }
    }

    + .Tab-item {
      margin-left: $tab-space-between;
    }
  }

}
