@if $import-tabs {

  .Tab-link {
    display: block;
    position: relative;
    padding: $tab-link-pdv $tab-link-pdh;
    font-size: $fz--m;
    font-weight: $fw--semi-bold;
    text-decoration: none;
    color: $tab-base-color;
    cursor: pointer;
    outline: 0;

    .Tab-item[aria-selected="true"] & {
      color: $tab-selected-color;
    }
  }

}
