@if $import-tabs {

  .Tabs--s {
    .Tab {
      font-size: $small-tab-fz;
      line-height: $small-tab-lh;

      &#{$selected-tab-selector} {
        &:after {
          height: $small-tab-underline-size;
        }
      }
    }
  }

}
