.Tabs--s {
  .Tab-link {
    padding: $pd--xs $pd--s;
    font-size: $fz--s;
  }

  .Tab-item:hover,
  .Tab-item[aria-selected="true"],
  .Tab-item.is-selected {
    &:after {
      height: rem(2px);
    }
  }
}
