.Tabs--vertical {
  margin-left: 0;

  .Tab-item {
    display: block;

    &:after {
      @include pos(a 0 auto 0 0);
      width: 0;
      height: auto;
    }

    &[aria-selected="true"]:after {
      width: $tab-underline-size;
      height: auto;
    }

    + .Tab-item {
      margin-left: 0;
    }
  }

  .Tab-link {
    padding: 0 $small-tab-pdr 0 $small-tab-pdb;
    line-height: $small-tab-lh;
  }
}
