.Tabs--vertical {
  margin-left: 0;

  .Tab-item {
    display: block;

    &:after {
      @include pos(a 0 auto 0 0);
      width: 0;
      height: auto;
    }

    &[aria-selected="true"]:after {
      width: rem(3px);
      height: auto;
    }
  }

  .Tab-link {
    padding: 0 $pd--s 0 $pd--m;
    line-height: r(6);
  }
}
