@if $import-tabs {

  $tab-base-color: $slate-gray !default;
  $tab-selected-color: $venice-blue !default;
  $tab-hover-color: $venice-blue !default;

  $tab-underline-size: rem(3px) !default;

  $tab-space-between: $mg--m !default;
  $tab-link-pdv: $pd--s !default;
  $tab-link-pdh: 0 !default;

  $small-tab-underline-size: rem(2px) !default;

  $small-tab-pdr: $pd--s !default;
  $small-tab-pdb: $pd--m !default;
  $small-tab-lh: r(6) !default;

}
