$tab-base-color: $slate-gray !default;
$tab-selected-color: $venice-blue !default;
$tab-hover-color: $venice-blue !default;

$tab-underline-size: rem(3px) !default;
$small-tab-underline-size: rem(2px) !default;

$insert-tab-border-color: $silver-sand !default;

$tab-pdv: r(2) !default;
$tab-pdh: r(2) !default;

$tab-space-between: r(4) !default;

$insert-tab-pdv: r(4) !default;
$insert-tab-pdh: r(2) !default;

$tab-fz: $base-fz--rem !default;
$tab-lh: $base-lh !default;

$small-tab-fz: $fz--s !default;
$small-tab-lh: $base-lh !default;

$selected-tab-selector: "[aria-selected="true"]" !default;
