@mixin bg-green($important: false) {
  color: if($important, $white !important, $white);
  background-color: if($important, $mint !important, $mint);
}

@mixin bg-orange($important: false) {
  color: if($important, $white !important, $white);
  background-color: if($important, $saffron !important, $saffron);
}

@mixin bg-red($important: false) {
  color: if($important, $white !important, $white);
  background-color: if($important, $mandy !important, $mandy);
}
