@mixin bg($color, $hasText: false, $important: false) {
  @if ($hasText) {
    color: if($important, $white !important, $white);
    background: if($important, $color !important, $color);
  }

  @else {
    background: if($important, $color !important, $color);
  }
}
