@mixin bp ($min-bp: null, $max-bp: null, $orientation: null) {

  @if $min-bp == null {
    $min-bp: "";
  }

  @else {
    @if map-get($breakpoints, $min-bp) == null {
      @error("Incorrect min-breakpoint. Please check the @breakpoints map");
    }

    $min-bp: "(min-width: " + (map-get($breakpoints, $min-bp) + 1) + ")";
  }



  @if $max-bp == null {
    $max-bp: "";
  }

  @else {
    @if map-get($breakpoints, $max-bp) == null {
      @error("Incorrect max-breakpoint. Please check the @breakpoints map");
    }

    $max-bp: "(max-width: " + map-get($breakpoints, $max-bp) + ")";

    @if $min-bp != "" {
      $max-bp: " and " + $max-bp;
    }
  }



  @if $orientation == null {
    $orientation: "";
  }

  @else {
    @if $orientation != "portrait" and $orientation != "landscape" {
      @error("Incorrect orientation. Please use 'portrait' or 'landscape'");
    }

    $orientation: "(orientation: " + $orientation + ")";

    @if $min-bp != "" or $max-bp != "" {
      $orientation: " and " + $orientation;
    }
  }

  @media #{unquote($min-bp) + unquote($max-bp) + unquote($orientation)} {
    @content;
  }
}
