@mixin Overlay {
  @include pos(f 0);
  display: flex;
  visibility: hidden;
  z-index: zi("overlay");
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: transparent;
  transition: background .2s ease-in-out;

  &[aria-hidden="false"] {
    visibility: visible;
    background: $base-overlay-bg;
  }
}
