.Checkbox {
  display: block;

  + .Checkbox {
    margin-top: $checkbox-space-between;
  }
}

.Checkbox-label {
  @include Label;
  line-height: $checkbox-height;

  @if $import-icons {
    &:before {
      @include Icon--checkbox;
      margin-right: $checkbox-inner-space;
      font-family: "tapestry-icons";
      font-size: $checkbox-height;
      font-weight: normal;
      vertical-align: bottom;
      color: $checkbox-base-color;
      transition: color .2s ease-in-out;
    }
  }
}

.Checkbox-input {
  display: none;

  @if $import-icons {
    &:checked + .Checkbox-label {
      &:before {
        @include Icon--checkedCheckbox;
        color: $checkbox-checked-color;
      }
    }
  }
}
