$checkbox-height: r(4) !default;
$checkbox-base-color: $iron !default;
$checkbox-hover-color: $mint !default;
$checkbox-checked-color: $mint !default;

$checkbox-inner-space: $mg--s !default;
$checkbox-space-between: r(2) !default;
