.has-dropdown {
  @extend %u-posr;
  display: inline-block;
}

.Dropdown {
  @include pos(a 100% null null 0);
  z-index: zi("dropdown");
  min-width: $base-lh * 7;
  max-width: $base-lh * 9;
  margin: $mg--xs 0;
  padding: 0;
  list-style: none;
  color: $gray-chateau;
  background: $white;
  border: 1px solid $iron;
  box-shadow: 0 0 10px 0 rgba($slate-gray, .3);
}

.Dropdown-item {
  display: block;
  position: relative;
  margin: $mg--xs;
  padding: $pd--xs $pd--s;
  font-size: $fz--s;
  font-weight: $fw--semi-bold;
  text-decoration: none;
  white-space: nowrap;
  color: inherit;
  border-radius: $base-radius;
  cursor: pointer;
  transition: background .15s ease-out;

  &:hover,
  &.is-active {
    background: $porcelain;
  }

  &[aria-selected="true"] {
    background: $porcelain;

    &:after {
      @extend %Icon--checkmark;
      @include pos(a $mg--xs $mg--s null null);
      font-family: icons;
    }
  }

  &:focus {
    background: $porcelain;
    outline: none;
  }
}

.Dropdown-hr {
  margin: $mg--xs 0;
  border-top: 1px solid $porcelain;
}
