.Dropdown-item {
  @include ellipsis;
  display: block;
  position: relative;
  margin: $mg--xs;
  padding: $pd--xs;
  font-size: $fz--s;
  font-weight: $fw--semi-bold;
  line-height: $base-lh;
  text-align: left;
  text-decoration: none;
  color: $limed-spruce;
  border-radius: $base-radius;
  cursor: pointer;

  &[aria-selected="true"] {
    padding-right: r(6);
    background: $porcelain;

    @if $import-icons {
      &:after {
        @include Icon--checkmark;
        @include pos(a $mg--xs $mg--s null null);
        font-family: tapestry-icons;
        font-size: $fz--xs;
      }
    }
  }
}
