.Dropdown-item {
  display: block;
  position: relative;
  margin: $mg--xs;
  padding: $pd--xs;
  font-size: $fz--s;
  font-weight: $fw--semi-bold;
  line-height: $base-lh;
  text-align: left;
  text-decoration: none;
  white-space: nowrap;
  border-radius: $base-radius;
  cursor: pointer;

  &[aria-selected="true"] {
    padding-right: r(6);

    &:after {
      @extend %Icon--checkmark;
      @include pos(a $mg--xs $mg--xs null null);
      font-family: icons;
    }
  }
}
