.Dropdown-item {
  display: block;
  position: relative;
  margin: $mg--xs;
  padding: $pd--xs;
  font-size: $fz--s;
  font-weight: $fw--semi-bold;
  text-decoration: none;
  color: inherit;
  border-radius: $base-radius;
  cursor: pointer;

  &[aria-selected="true"],
  &.is-selected {
    padding-right: ($mg--m + $mg--s);

    &:after {
      @extend %Icon--checkmark;
      @include pos(a $mg--xs $mg--s null null);
      font-family: icons;
    }
  }
}

.Dropdown-hr {
  margin: $mg--xs 0;
  border-top: 1px solid $porcelain;
}
