@if $import-dropdown {

  .Dropdown-list,
  .Dropdown-list--bl {
    @include pos(a 100% null null 0);
    display: none;
    z-index: zi("dropdown");
    min-width: $dropdown-min-width;
    max-height: $dropdown-max-height;
    margin: $mg--xs 0;
    padding: 0;
    list-style: none;
    background: $dropdown-list-bg;
    border: 1px solid $dropdown-list-border-color;
    border-radius: $base-radius;
    box-shadow: 2px 2px 4px 0 rgba($gray-chateau, .3);
    overflow-y: auto;

    > li:not(.Dropdown-item) {
      padding: 0;
    }
  }

  [aria-expanded="true"] + .Dropdown-list {
    display: block;
  }

  .Dropdown-list--stretched {
    max-height: none;
  }

}
