.Dropdown--tl {
  top: auto;
  right: auto;
  bottom: 100%;
  left: 0;
}

.Dropdown--tc {
  top: auto;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100%;
}

.Dropdown--tr {
  top: auto;
  right: 0;
  bottom: 100%;
}

.Dropdown--bl {
  right: auto;
}

.Dropdown--bc {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  bottom: auto;
}

.Dropdown--br {
  left: auto;
}
