@if $import-dropdown {

  .Dropdown-list--tl {
    top: auto;
    right: auto;
    bottom: 100%;
    left: 0;
  }

  .Dropdown-list--tc {
    top: auto;
    bottom: 100%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }

  .Dropdown-list--tr {
    top: auto;
    right: 0;
    bottom: 100%;
    left: auto;
  }

  .Dropdown-list--bc {
    top: 100%;
    bottom: auto;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
  }

  .Dropdown-list--br {
    right: 0;
    left: auto;
  }

  .Dropdown-list--rt {
    top: 0;
    left: 100%;
    margin: 0 $mg--xs;
  }

  .Dropdown-list--rc {
    top: 50%;
    left: 100%;
    margin: 0 $mg--xs;
    transform: translate3d(0, -50%, 0);
  }

  .Dropdown-list--rb {
    top: auto;
    bottom: 0;
    left: 100%;
    margin: 0 $mg--xs;
  }

  .Dropdown-list--lt {
    top: 0;
    right: 100%;
    left: auto;
    margin: 0 $mg--xs;
  }

  .Dropdown-list--lc {
    top: 50%;
    right: 100%;
    left: auto;
    margin: 0 $mg--xs;
    transform: translate3d(0, -50%, 0);
  }

  .Dropdown-list--lb {
    top: auto;
    right: 100%;
    bottom: 0;
    left: auto;
    margin: 0 $mg--xs;
  }

}
