@if $import-dropdown {

  .Dropdown-selectInput {
    padding: rb(2);
    font-weight: $base-fw;
    text-align: left;
    vertical-align: middle;
    background-color: $white;
    border: 1px solid $base-border-color;
    border-radius: $base-radius;
    outline: 0;

    &[aria-expanded="true"] {
      border-color: $gray-chateau;
    }

    &.Dropdown-selectInput[disabled] {
      padding: r(2);
      color: $gray-chateau;
      background: $iron;
      border: 0;
    }

    &:hover {
      border-color: $gray-chateau;
    }

    &:focus {
      outline: none;
    }

    + .Dropdown-list {
      width: 100%;
    }
  }

  .Dropdown-selectInput--block {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

}
