@if $import-dropdown {

  .Dropdown-selectInput {
    padding: $dropdown-select-pdv $dropdown-toggle-array-width $dropdown-select-pdv $dropdown-select-pdv;
    font-weight: $base-fw;
    text-align: left;
    vertical-align: middle;
    background-color: $white;
    border: 1px solid $base-border-color;
    border-radius: $base-radius;
    outline: 0;

    &[aria-expanded="true"] {
      border-color: $gray-chateau;
    }

    &.Dropdown-selectInput[disabled] {
      padding: $dropdown-select-pdv $dropdown-toggle-array-width $dropdown-select-pdv $dropdown-select-pdv;
      color: $gray-chateau;
      background: $iron;
      border: 1px solid $iron;
    }

    &:after {
      padding: $dropdown-select-pdv $dropdown-select-pdh;
    }

    &:hover {
      border-color: $gray-chateau;
    }

    &:focus {
      outline: none;
    }

    + .Dropdown-list {
      width: 100%;
    }

    .Dropdown--block & {
      display: block;
      width: 100%;
    }
  }

}
