$tooltip-arrow-size: 8px;

.has-tooltip {
  display: inline-block;
  position: relative;
}

.Tooltip {
  position: absolute;
  top: 50%;
  left: 100%;
 	margin-left: $tooltip-arrow-size;
  padding: $base-padding--s $base-padding;
  font-size: $base-font-size--s;
  line-height: 1;
  white-space: nowrap;
  color: $white;
  background: $gray-chateau;
  border-radius: $base-radius;
  box-shadow: 0 1px 1.5px 0 rgba($gray-chateau, .5);
  transform: translateY(-50%);

  &:after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    width: 0;
    height: 0;
    border-width: $tooltip-arrow-size $tooltip-arrow-size $tooltip-arrow-size 0;
    border-color: $transparent $gray-chateau $transparent $transparent;
    border-style: solid;
    transform: translateY(-50%);
  }

}
