.Textarea {
  width: 100%;
  height: $textarea-height;
  padding: $pd--s;
  line-height: $base-lh;
  color: $form-text-color;
  background: $white;
  border: 1px solid $base-border-color;
  border-radius: $base-radius;
  resize: none;

  &:focus {
    outline: none;
  }
}
