$textarea-height: ($pd--s * 2) + $base-lh * 2 + rem(2px);

.Textarea {
  width: 100%;
  height: $textarea-height;
  padding: $pd--s $base-pd;
  line-height: $base-lh;
  color: $limed-spruce;
  background: $white;
  border: 1px solid $gray-chateau;
  border-radius: $base-radius;
  resize: none;

  &:focus {
    outline: none;
  }
}
