.Textarea--count {
  position: relative;
}

.Textarea-counter {
  position: relative;
  z-index: 2;
  float: right;
  margin-top: -($base-lh + $pd--xs);
  padding-right: $pd--s;
  font-weight: $fw--semi-bold;
  color: $gray-chateau;
}
