@import "utils/function/core";
@import "utils/var/core";
@import "utils/placeholder/core";
@import "utils/mixin/core";

@if $import-utility-classes {
  @import "utils/class/core";
}

@if $import-typography {
  @import "core/typography";
}

@if $import-normalize {
  @import "vendors/normalize";
}

@if $import-animations {
  @import "components/animations/core";
}

@if $import-avatar {
  @import "components/avatar/core";
}

@if $import-badge {
  @import "components/badge/core";
}

@if $import-button-group {
  @import "components/button/group";
}

@if $import-collection {
  @import "components/collection/core";
}

@if $import-dropdown {
  @import "components/dropdown/core";
}

@if $import-form-row {
  @import "components/form/row/core";
}

@if $import-fieldset {
  @import "components/form/fieldset/core";
}

@if $import-flash {
  @warn "Class .Flash is deprecated, please use .Notification instead, it will be removed in the next major release";
  @warn "Class .has-flash is deprecated, please use .has-notification instead, it will be removed in the next major release";
}

@if $import-grid {
  @import "components/grid/core";
}

@if $import-icons {
  @import "components/icons/core";
}

@if $import-input {
  @import "components/form/input/core";
}

@if $import-input-group {
  @import "components/form/input-group/core";
}

@if $import-button {
  @import "components/button/core";
}

@if $import-label {
  @import "components/form/label/core";
}

@if $import-media {
  @import "components/media/core";
}

@if $import-meter {
  @import "components/meter/core";
}

@if $import-modal {
  @import "components/modal/core";
}

@if $import-notification {
  @import "components/notification/core";
}

@if $import-overlay {
  @import "components/overlay/core";
}

@if $import-panel {
  @import "components/panel/core";
}

@if $import-pellet {
  @import "components/pellet/core";
}

@if $import-popovers {
  @import "components/popovers/core";
}

@if $import-switch {
  @import "components/switch/core";
}

@if $import-table {
  @import "components/table/core";
}

@if $import-tabs {
  @import "components/tabs/core";
}

@if $import-textarea {
  @import "components/form/textarea/core";
}

@if $import-tooltip and $import-pseudo-classes {
  @import "components/tooltip/core";
}
