.container {
  width: 100%;
}

.row {
  @include cf();
}

.c {
  position: relative;
  float: left;
  min-height: 1px;
  word-wrap: break-word;
}

// Generate columns

@for $i from 1 to ($column-number + 1) {

  .c-#{$i} {
    width: percentage(($i/$column-number));

    @if $i == 12 {
      float: none;
      width: auto;
    }
  }
}
