.Grid-cell {
  display: inline-block;
  position: relative;
  min-height: 1px;
  font-size: 1rem;
  word-wrap: break-word;
  vertical-align: top;

  &.Grid-cell--centered {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  &:not(.Grid-cell--fr) {
    .Grid--flex & {
      flex: 0 0 auto;
    }
  }

  .Grid--gutters & {
    padding-right: ($grid-gutter-width / 2);
    padding-left: ($grid-gutter-width / 2);
  }
}

.Grid-cell--fr {
  flex: 1 0 auto;
}

@for $i from 1 to ($grid-column-number + 1) {
  .Grid-cell--#{$i} {
    width: percentage(($i / $grid-column-number));
  }
}
