@if $import-grid {

  .Grid-cell {
    flex: 0 0 auto;
    min-height: 1px;
    font-size: 1rem;
    word-wrap: break-word;

    .Grid--gutters & {
      padding-left: $grid-gutter-width;
    }
  }

  .Grid-cell--fr {
    flex: 1 0 auto;
  }

  .Grid-cell--stretched {
    align-self: stretch;
  }

  @for $i from 1 to ($grid-column-number + 1) {
    .Grid-cell--#{$i} {
      width: percentage(($i / $grid-column-number));
    }
  }

}
