.Column {
  display: inline-block;
  position: relative;
  min-height: 1px;
  font-size: 1rem;
  word-wrap: break-word;
  vertical-align: top;

  &.Column--centered {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  &:not(.Column-fr) {
    .Row--flex & {
      flex: 0 0 auto;
    }
  }
}

.Column-fr {
  flex: 1 0 auto;
}

@for $i from 1 to ($column-number + 1) {
  .Column-#{$i} {
    width: percentage(($i / $column-number));
  }
}
