@if $import-grid {

  .Grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .Grid--gutters {
    width: auto;
    margin-left: -#{$grid-gutter-width};
  }

  .Grid--centered {
    justify-content: center;
  }

}
