.Btn {
  display: inline-block;
  padding: $btn-pdv $btn-pdh;
  font-size: $fz--m;
  font-weight: $fw--semi-bold;
  line-height: $base-lh;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  color: $white;
  background-color: $gray-chateau;
  border: 0;
  border-radius: $base-radius;
  outline: 0;
  transition: background-color .2s ease-out,
              box-shadow .05s ease-out,
              color .1s ease-out;
  appearance: none;

  &[disabled],
  &[aria-disabled="true"] {
    color: $gray-chateau;
    background-color: $iron;
    cursor: not-allowed;
  }

  .Icon {
    display: inline-block;
    line-height: $base-lh;
    vertical-align: top;
  }

  + .Btn:not(.Btn--block) {
    margin-left: $mg--s;
  }

  + .Input {
    margin-left: $mg--m;
  }
}
