@if $import-button {

  .BtnGroup {
    display: inline-block;
    font-size: 0;

    +.BtnGroup {
      margin-left: $btn-group-space-between;
    }
  }

  .BtnGroup-item {
    position: relative;
    padding: $btn-pdv - rem(1px) $btn-pdh - rem(1px);
    color: $slate-gray;
    background-color: $white;
    border: 1px solid $btn-outline-base-border-color;
    border-radius: 0;

    &.BtnGroup-item[disabled] {
      border: 1px solid $iron;
      border-radius: 0;
    }

    &.BtnGroup-item:first-child {
      border-radius: $base-radius 0 0 $base-radius;
    }

    &.BtnGroup-item:last-child {
      border-radius: 0 $base-radius $base-radius 0;
    }

    +.BtnGroup-item {
      margin-left: -1px;
    }

    &#{$btn-group-selected-item-selector} {
      z-index: 2;
      color: $btn-group-selected-color;
      border-color: $btn-group-selected-color;
    }
  }

  .BtnGroup-item--s {
    padding: $btn-pdv--s - rem(1px) $btn-pdh--s - rem(1px);
    font-size: $fz--s;
  }

}
