$btn-icon-width: $padding--s * 2 + rem($base-font-size) + $base-padding;

.Btn--outline {
  color: $gray-chateau;
  background-color: $white;
  border: 1px solid $gray-chateau;
  padding-top: $padding--s - rem(1px);
  padding-bottom: $padding--s - rem(1px);

  &:hover {
    color: $slate-gray;
    background-color: $white;
    border-color: $slate-gray;
  }

  &:active {
    background-color: $white;
  }

}

.Btn--raw {
  color: $gray-chateau;
  background-color: $transparent;
  border: 0;

  &:hover {
    color: $slate-gray;
    background-color: $transparent;
  }

  &:active {
    background-color: $white;
    box-shadow: none;
  }

  &[disabled] {
    background: none;
  }

}

.Btn--split {

  position: relative;
  padding-left: $btn-icon-width;
  text-align: center;

  .Btn-icon {
    position: absolute;
    top: 0;
    left: 0;
    margin: $margin--s / 2 0;
    padding: $padding--s / 2 $padding--s;
    border-right: 1px solid $white;
  }

}
