$btn-icon-width: $base-margin--s + 2 * $base-margin;

.Btn--outline {
  color: $gray-chateau;
  background-color: $white;
  border: 1px solid $gray-chateau;

  &:hover {
    background-color: $white;
    border-color: $slate-gray;
  }

  &:active {
    background-color: $white;
  }

}

.Btn--split {

  padding-left: $btn-icon-width;
  position: relative;
  text-align: center;

  .Btn-icon {
    position: absolute;
    top: 0;
    left: 0;
    margin: $base-margin--s / 2 0 $base-margin--s;
    padding: $base-padding--s / 2 $base-padding--s;
    border-right: 1px solid $white;
  }

}
