.Btn--outline {
  padding: rb(2) rb(4);
  color: $slate-gray;
  background-color: $white;
  border: 1px solid $base-border-color;
  transition: .1s border-color ease-out;

  &.Btn--s {
    padding: rb(1) rb(2);
  }
}

.Btn--raw {
  color: $slate-gray;
  background-color: $transparent;
  border: 0;
}

.Btn.has-icon {
  position: relative;
  padding-left: $btn-pdh + $btn-pdh--s + $fz--m;
  text-align: center;

  .Btn-icon {
    @include pos(a 0 null null 0);
    margin: $btn-mgv--s 0;
    padding: $btn-pdv--s $btn-pdh--s;
    border-right: 1px solid $white;
  }
}
