$btn-pdv: $pd--s !default;
$btn-pdh: $pd--m !default;

$btn-mgv: $btn-pdv !default;

$btn-name-colors: "-primary" "-alt" "-validate" "-info" "-error";
$btn-base-colors: $venice-blue $curious-blue $mint $saffron $mandy;
$btn-hover-colors: $atoll $eastern-blue $ocean-green $galliano $fuzzy-wuzzy-brown;
