$btn-pdv: $pd--s !default;
$btn-pdh: $pd--m !default;
$btn-pdv--s: $pd--xs !default;
$btn-pdh--s: $pd--s !default;

$btn-fixed-unit: r(8) !default;
$btn-fixed-unit--s: r(6) !default;

$btn-name-colors: "-primary" "-alt" "-validate" "-info" "-error";
$btn-base-colors: $venice-blue $boston-blue $mint $saffron $mandy;
$btn-hover-colors: $atoll $jelly-bean $ocean-green $galliano $fuzzy-wuzzy-brown;
