@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff?v=1425660091629") format("woff"),
       url("../fonts/icons.svg#icons?v=1425660091629") format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  display: inline-block;
  font-family: "icons";
  font-size: rem($base-font-size);
  font-weight: normal;
  font-style: normal;
  line-height: $base-line-height;
  text-transform: none;
  text-decoration: inherit;
  vertical-align: middle;
  font-variant: normal;
  -webkit-font-smoothing: antialiased;
}

.icon--s {
  font-size: $font-size--s;
  line-height: $font-size--s;
}

.icon--l {
  font-size: $font-size--l;
  line-height: $font-size--l;
}

.icon--xl {
  font-size: $font-size--xl;
  line-height: $base-line-height * 2;
}

.icon--xxl {
  font-size: $font-size--xxl;
  line-height: $font-size--xxl;
}

.icon--centered {
  margin: 0 auto;
}

.icon-action-item:before {
  content: "\E001";
}

.icon-agenda:before {
  content: "\E002";
}

.icon-alert:before {
  content: "\E003";
}

.icon-arrow-back:before {
  content: "\E004";
}

.icon-arrow-next:before {
  content: "\E005";
}

.icon-badge:before {
  content: "\E006";
}

.icon-board:before {
  content: "\E007";
}

.icon-bullet-day:before {
  content: "\E008";
}

.icon-bullet-item:before {
  content: "\E009";
}

.icon-check:before {
  content: "\E00A";
}

.icon-checked:before {
  content: "\E00B";
}

.icon-clock:before {
  content: "\E00C";
}

.icon-cross:before {
  content: "\E00D";
}

.icon-decision:before {
  content: "\E00E";
}

.icon-due-date:before {
  content: "\E00F";
}

.icon-evernote:before {
  content: "\E010";
}

.icon-facebook:before {
  content: "\E011";
}

.icon-glass:before {
  content: "\E012";
}

.icon-google:before {
  content: "\E013";
}

.icon-linkedin:before {
  content: "\E014";
}

.icon-mail:before {
  content: "\E015";
}

.icon-meeting-list:before {
  content: "\E016";
}

.icon-office365:before {
  content: "\E017";
}

.icon-open-issue:before {
  content: "\E018";
}

.icon-options:before {
  content: "\E019";
}

.icon-people:before {
  content: "\E01A";
}

.icon-plus:before {
  content: "\E01B";
}

.icon-recurring:before {
  content: "\E01C";
}

.icon-refresh:before {
  content: "\E01D";
}

.icon-slack:before {
  content: "\E01E";
}

.icon-solid-full:before {
  content: "\E01F";
}

.icon-solid:before {
  content: "\E020";
}

.icon-sunrise:before {
  content: "\E021";
}

.icon-sunset:before {
  content: "\E022";
}

.icon-task:before {
  content: "\E023";
}

.icon-twitter:before {
  content: "\E024";
}

.icon-voice:before {
  content: "\E025";
}

.icon-wisembly-full:before {
  content: "\E026";
}

.icon-wisembly:before {
  content: "\E027";
}