.Collection-item {
  margin-top: -1px;
  padding: $base-padding--s $base-padding;
  line-height: $base-line-height;
  text-align: left;
  color: $limed-spruce;
  border: 1px solid $iron;
  transition: background-color .1s ease-out, box-shadow .1s ease-out;
  list-style-type: none;

  &:first-child {
    margin-top: 0;
  }
}

.Collection--actionnable {
  .Collection-item {
    cursor: pointer;

    &:hover,
    &.is-active {
      background-color: $porcelain;
    }

    &:active {
      box-shadow: inset 0 1px 4px 0 rgba($limed-spruce, .5);
    }
  }
}
