// @include position(a 20%);
// @include position(a 20% 50%);
// @include position(a 10% 20% 30% 40%);
// @include position(a 10% 20% null 40%);

@mixin position ($args) {
  $count: length($args);
  $type: nth($args, 1);

  @if $type == a {
    position: absolute;
  }

  @else if $type == f {
    position: fixed;
  }

  @else if $type == r {
    position: relative;
  }

  @else {
    @warn "Position not valid.";
  }



  @if $count == 2 {
    $value: nth($args, 2);

    top: $value;
    right: $value;
    bottom: $value;
    left: $value;
  }

  @else if $count == 3 {
    $vertical-value: nth($args, 2);
    $horizontal-value: nth($args, 3);

    top: $vertical-value;
    right: $horizontal-value;
    bottom: $vertical-value;
    left: $horizontal-value;
  }

  @else if $count == 5 {
    $top: nth($args, 2);
    $right: nth($args, 3);
    $bottom: nth($args, 4);
    $left: nth($args, 5);

    @if $top != null {
      top: $top;
    }
    @if $right != null {
      right: $right;
    }
    @if $bottom != null {
      bottom: $bottom;
    }
    @if $left != null {
      left: $left;
    }
  }

  @else {
    @warn "Arguments length not valid.";
  }
}
