@mixin tooltip-core {
  position: absolute;
  padding: $padding--s $base-padding;
  font-size: $font-size--s;
  line-height: 1;
  color: $white;
  white-space: nowrap;
  box-shadow: 0 1px 1.5px 0 rgba($gray-chateau, .5);
  border-radius: $base-radius;
  background: $gray-chateau;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
  }
}
