@if $import-animations {

  @keyframes Spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }


  @keyframes Rewind {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(-360deg);
    }
  }


  @keyframes PopUp {
    0% {
      transform: scale(.9);
      transform-origin: center center;
    }

    40% {
      transform: scale(1.05);
      transform-origin: center center;
    }

    100% {
      transform: scale(1);
      transform-origin: center center;
    }
  }

  @keyframes Ellipsis {
    0% {
      content: "";
    }

    25% {
      content: ".";
    }

    50% {
      content: "..";
    }

    75% {
      content: "...";
    }
  }

}
