@keyframes Spin {
  0 {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}



@keyframes PopUp {
  0% {
    transform: scale(0);
    transform-origin: center center;
  }

  40% {
    transform: scale(1.15);
    transform-origin: center center;
  }

  100% {
    transform: scale(1);
    transform-origin: center center;
  }
}
